<ion-view title="Abogacía" id="page123">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/YoABz2TWOrawPo6xxjg5_Abogacia.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 089/98</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1661/99</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Abogado</span>
      </h4>
      <p>El abogado es un profesional con capacidad de impulsar las relaciones sociales en todos los campos que abarca su profesión, actuar en cada uno de ellos, proponer soluciones jurídicas nuevas y creativas, intervenir en la decisión de controversias
        con estrategias de superación de conflictos adecuadas y modernas, asesorar a entes públicos y privados, realizar una labor de estimativa jurídica, analizar el derecho positivo con miras al logro de valores superiores.</p>
      <div>&nbsp;</div>
      <div>Ello comporta otorgar al abogado una formación que lo habilita para facilitar acuerdos, darles forma adecuada, impulsar relaciones y actividades en distintos ámbitos, otorgándoles el marco jurídico adecuado, con conocimientos específicos y pertinentes.</div>
      <div>&nbsp;</div>
      <div>Teniendo en cuenta el desarrollo que las relaciones internacionales han adquirido y la particular conexión que genera el Mercosur para nuestro país, el egresado debe estar formado en el nuevo campo de la legalidad y actividad social que ello supone.</div>
      <div>&nbsp;</div>
      <div>En razón de que el titulo capacita para el ejercicio profesional se ha puesto énfasis en la curricula tanto en la formación ética como así también en el adiestramiento en cuestiones prácticas, proponiéndose educar un profesional ágil y comprometido
        con los valores sociales.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del titulo</span>
      </h4>
      <div>&nbsp;</div>
      <div>El Título de Abogado que otorga la Universidad Nacional de La Rioja habilita para:</div>
      <div>&nbsp;&nbsp;</div>
      <div>
        <div>* Ejercicio liberal de la profesión materializando en la defensa de los intereses confiados a su labor, tanto en el proceso judicial como administrativo ante los órganos de la administración pública.</div>
        <div>&nbsp;</div>
        <div>* Incorporación a la carrera judicial. Ejercicio de la magistratura.</div>
        <div>&nbsp;</div>
        <div>* Ejercer funciones públicas especializadas.</div>
        <p>* Asesorar a empresas públicas o privadas.</p>
        <p>* Integrar los cuerpos de asesoramiento encargados de la elaboración de proyectos en el Parlamento.</p>
        <p>* Incorporarse a la carrera docente y de investigación.</p>
      </div>
    </div>
  </ion-content>
</ion-view>