<ion-view title="Acerca de la App" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/aiVOxQJ3RnmSTlRUSrK1_LogoGuiaUNLaR512.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>Versión 2.0</strong>
        </span>
      </h4>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>2019</strong>
        </span>
      </h4>
    </div>
    <div class="spacer" style="height: 25px;"></div>
    <hr>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #003366;">
          <strong>Diseño y Desarrollo de la App</strong>
        </span>
      </h4>
      <hr>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <h4 style="text-align: center;">
      <span style="color: #000080;">
        <strong>Marcos Nieto</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 15px;"></div>
    <p style="text-align: center;">
      <span style="color: #ff6600;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </p>
    <div class="spacer" style="height: 25px;"></div>
    <ion-list id="acercaDeLaApp-list7">
      <ion-item class="item-divider" id="acercaDeLaApp-list-item-divider3"> Contacto</ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item22" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/QvSlNLZhR8mSDQK0QXuJ_580b57fcd9996e24bc43c543.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item23" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/X4tIMx7cRbqGGI7Jwu0B_Facebook.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item110" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/cSUNHlnTsiZNjs5diyqn_Instagram.jpg">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>