<ion-view title="Aimogasta" id="page88">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/kqChUPDRfy4U0f7ouOxc_aimogasta-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="aimogasta-list27">
      <ion-item class="item-icon-left dark" id="aimogasta-list-item245" ui-sref="gUAUNLaR.ingEnAlimentos()">
        <i class="icon ion-university"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item244" ui-sref="gUAUNLaR.licEnAdministraciN()">
        <i class="icon ion-university"></i>Lic. en Administración</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item243" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item248" ui-sref="gUAUNLaR.profEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item139" ui-sref="gUAUNLaR.profDeEducaciNFSica()">
        <i class="icon ion-university"></i>Prof. en Educación Física</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item249" ui-sref="gUAUNLaR.tecEnGestiNYAdminContable()">
        <i class="icon ion-university"></i>Téc. en Gestión administrativo contable</ion-item>
      <ion-item class="item-icon-left dark" id="aimogasta-list-item128" ui-sref="gUAUNLaR.tecUniversitariaEnInformTica()">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
    </ion-list>
  </ion-content>
</ion-view>