<ion-view title="Arquitectura" id="page102">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hhposV3sRmKQzSiAguc9_Arquitectura1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">ORDENANZA Nº: 325/07</span>
        </strong>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL DEL GRADUADO:</span>
        </strong>
      </h4>
      <p>El Plan de Estudios de la Carrera de Arquitectura, ha sido estructurado de modo tal que el ARQUITECTO se forme desde las precisiones que faciliten la creatividad y el ejercicio investigativo asistidos por las herramientas informáticas, como recurso
        o medio para expresarla, desarrollando específicamente respuestas técnicas en correlato a las condicionantes del medio y las posibilidades de las tecnologías apropiadas, energías no convencionales y el diseño sustentable, habilitando consecuentemente
        su capacidad para una reformulación de tipologías arquitectónicas y urbanas.
        <br>Así, el Perfil Profesional del graduado de arquitectura comprende no solo el tradicional rol de proyecto y dirección de obra, sino también las siguientes áreas profesionales:</p>
      <p>a) El planea miento estratégico ambiental y urbano, y la participación en múltiples formas de gestión política, económica y técnica referida al hábitat humano.</p>
      <p>b) La participación dentro de equipos interdisciplinarios en el diseño de operaciones de intervención en la ciudad.</p>
      <p>c) La participación, en la configuración de espacios, en órganos estatales y privados que administran la ciudad, el ambiente urbano, la calidad de vida, o actividades específicas como la salud, la educación, la vivienda, etc.</p>
      <p>d) La investigación, el diagnóstico, la propuesta y la normativa en cuestiones edilicias, urbanas y ambientales.</p>
      <p>e) La participación en las formas atípicas de gestión del hábitat social, organizaciones comunitarias intermedias, estatales y de base. Diseño de acciones y operatorias del sector vivienda y equipamiento social.</p>
      <p>f) La intervención y administración del patrimonio urbano, arquitectónico y cultural de las ciudades, poniendo en valor sus cualidades estéticas, culturales y sociales.</p>
      <p>&nbsp;</p>
      <h4>
        <strong>
          <span style="color: #ff6600;">ALCANCE DEL TÍTULO:</span>
        </strong>
      </h4>
      <p>El ARQUITECTO es el profesional formado para diseñar, proyectar, calcular, dirigir y ejecutar la concreción de los espacios destinados al hábitat humano.
        <br>De este modo podrá desarrollar consecuentemente en forma autónoma tareas de programación, planificación, proyecto, cálculo, dirección, producción, gestión, asesoramiento, mantenimiento y equipamiento, referidos a la arquitectura, entendida ésta
        en su más amplia acepción, en todas sus dimensiones y escalas de actuación, incluida la territorial, así como integrar equipos para abordar las mismas actividades u otras de mayor complejidad o que requieran niveles de interdisciplinariedad.
        <br>En este marco, los egresados de la presente propuesta formativa, podrán:
        <br>- Diseñar, proyectar, dirigir y ejecutar la concreción de los espacios destinados al hábitat humano.
        <br>- Proyectar, dirigir y ejecutar la construcción de edificios, conjuntos de edificios y los espacios que ellos conforman, con su equipamiento, infraestructura y de otras obras destinadas al hábitat humano.
        <br>- Proyectar, calcular y dirigir y ejecutar la construcción de estructuras resistentes correspondientes a obras de Arquitectura.
        <br>- Proyectar, calcular y dirigir y ejecutar la construcción de instalaciones complementarias correspondientes a obras de Arquitectura, excepto cuando la especificidad de ellas implique la intervención de las ingeniarías.
        <br>- Proyectar, dirigir y ejecutar obras de recuperación, renovación, rehabilitación y re funcionalización de edificios, conjuntos de edificios y otros espacios destinados al hábitat humano.
        <br>. Diseñar, proyectar, dirigir y ejecutar la construcción del equipamiento interior y exterior, fijo y móvil, destinado al hábitat humano, incluyendo los habitáculos para el transporte de personas.
        <br>- Diseñar, proyectar y efectuar el control técnico de componentes y materiales destinados a la, construcción de obras de arquitectura.
        <br>- Programar, dirigir y ejecutar la demolición de obras de Arquitectura.
        <br>- Realizar estudios, proyectar y dirigir la ejecución de las obras destinadas a la concreción del paisaje.
        <br>- Efectuar la planificación arquitectónica y urbanística de los espacios destinados a asentamientos humanos.
        <br>- Proyectar parcelamientos destinados al hábitat humano.
        <br>- Realizar medición y nivelación de parcelas con el objeto de concretar la ejecución de las obras de arquitectura.
        <br>- Realizar estudios e investigaciones referidos al ordenamiento y planificación de los espacios que conforman el hábitat, y a los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.
        <br>- asesorar en lo concerniente al ordenamiento y planificación de los espacios que conforman el hábitat y a los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.
        <br>- Participar en planes, programas y proyectos de ordenamiento físico ambiental del territorio y de ocupación del espacio urbano y rural.
        <br>- Participar en la elaboración de normas legales relativas al ordenamiento y planificación de los espacios que conforman el hábitat humano.
        <br>- Participar en la elaboración de planes, programas y proyectos que no siendo de su especialidad afecten el hábitat humano.
        <br>- Realizar relevamientos, tasaciones y valuaciones de bienes inmuebles.
        <br>- Realizar peritajes, arbitrajes, tasaciones y valuaciones relacionadas con el ordenamiento y planificación de los espacios que conforman el hábitat y con los problemas relativos al diseño, proyecto y ejecución de obras de arquitectura.
        <br>- Proyectar, ejecutar, dirigir y evaluar todo lo concerniente a la higiene y seguridad en obras de arquitectura.</p>
    </div>
  </ion-content>
</ion-view>