<ion-view title="Bioquímica" id="page106">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qbia3F4ATrms7OPNFJuQ_Bioqumica2007.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N°323/07</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N°500/02</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Acreditación: Resolución CONEAU N° 702/07 – 1° Fase y N° 876/11 – 2° Fase</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <p>El Bioquímico es el egresado universitario que posee conocimientos básicos de física, química, matemática y biología, como así también de las disciplinas propias de su campo de acción para operar y dirigir Laboratorios de Análisis Clínicos, Bromatológicos,
        Toxicológicos, Microbiológicos y Químicos Legales en el ámbito oficial o privado. Además está capacitado para ejercer la docencia y realizar investigación.</p>
      <p>Posee destreza para el manejo de materiales, instrumental y equipos adecuados para lograr una apoyatura técnica conforme a las Normas de Bioseguridad.</p>
      <p>Está preparado para realizar análisis por métodos físicos, químicos, radio químicos, biológicos, microbiológicos, inmunológicos o de biología molecular de sustancias químicas, alimentos, nutrientes y tóxicos.</p>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <p>El Bioquímico es competente para:</p>
      <div>
        <ul>
          <li>Ejercer la dirección técnica de Laboratorios de Análisis Clínicos oficiales o privados.</li>
        </ul>
        <ul>
          <li>Realizar e interpretar análisis clínicos que contribuyan a la prevención, presunción diagnóstico, pronóstico y tratamiento de las enfermedades del hombre.</li>
        </ul>
        <ul>
          <li>Realizar e interpretar análisis bromatológicos, toxicológicos, microbiológicos y químicos legales o los referentes a la detección y control de la contaminación del ambiente y de las cosas que rodean y se relacionan con los seres vivos.</li>
        </ul>
        <ul>
          <li>Desempeñarse en docencia y en investigación básica y aplicada en Universidades y establecimientos oficiales o privados.</li>
        </ul>
        <ul>
          <li>Asesorar en las especificaciones higiénicas y de seguridad que deben reunir los ambientes en los que se realicen análisis clínicos, bromatológicos, toxicológicos, microbiológicos y químicos legales.</li>
        </ul>
        <ul>
          <li>Actuar como Director Técnico, Asesor, Consultor y Perito en Comisiones de Organismos oficiales o privados que entiendan problemas en su área.</li>
        </ul>
        <ul>
          <li>Intervenir en la confección de Normas y Patrones de tipificación y aforo de materias primas y de reactivos utilizados en la ejecución de análisis de su incumbencia.</li>
        </ul>
        <ul>
          <li>
            <p>Intervenir en la redacción de Códigos y Reglamentos relacionados con la actividad de los Bioquímicos.</p>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>