<ion-view title="Chamical" id="page90">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/BNSnOv8xRMVNpTwG1kha_chamical-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="chamical-list29">
      <ion-item class="item-icon-left dark" id="chamical-list-item259" ui-sref="gUAUNLaR.ingDeRecursosNaturalesRenovables()">
        <i class="icon ion-university"></i>Ing. en Recursos Naturales Renovables</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item260" ui-sref="gUAUNLaR.licEnEnfermerA()">
        <i class="icon ion-university"></i>Lic. en Enfermería</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item261" ui-sref="gUAUNLaR.licEnSistemasDeInformaciN()">
        <i class="icon ion-university"></i>Lic. en Sistemas en Información</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item131" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item142" ui-sref="gUAUNLaR.contadorPBlico()">
        <i class="icon ion-university"></i>Contador Publico</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item132" ui-sref="gUAUNLaR.profEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item262" ui-sref="gUAUNLaR.veterinaria()">
        <i class="icon ion-university"></i>Veterinaria</ion-item>
      <ion-item class="item-icon-left dark" id="chamical-list-item263" ui-sref="gUAUNLaR.tecEnGestiNYAdminRural()">
        <i class="icon ion-university"></i>Tec. en Gestión y Admin. Rural</ion-item>
    </ion-list>
  </ion-content>
</ion-view>