<ion-view title="Chepes" id="page91">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/cD0pavgQjutxPEDkfsF3_chepes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="chepes-list30">
      <ion-item class="item-icon-left dark" id="chepes-list-item268" ui-sref="gUAUNLaR.ingAgropecuaria()">
        <i class="icon ion-university"></i>Ing. Agropecuaria</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item265" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item141" ui-sref="gUAUNLaR.contadorPBlico()">
        <i class="icon ion-university"></i>Contador Publico</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item266" ui-sref="gUAUNLaR.profEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item267" ui-sref="gUAUNLaR.profDeEducaciNFSica()">
        <i class="icon ion-university"></i>Prof. en Educación Física</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item269" ui-sref="gUAUNLaR.profDeNivelSuperiorEnBiologA()">
        <i class="icon ion-university"></i>Prof. de nivel superior en Biología</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item270" ui-sref="gUAUNLaR.tecEnGestiNYAdminContable()">
        <i class="icon ion-university"></i>Tec. en Gestión y Admin. Contable</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item271" ui-sref="gUAUNLaR.tCEnGestiNJurDica()">
        <i class="icon ion-university"></i>Tec. en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item272" ui-sref="gUAUNLaR.tecEnGestiNDeEmpresaAgrColas()">
        <i class="icon ion-university"></i>Tec. en Gestión de Empresas Agrícolas</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item127" ui-sref="gUAUNLaR.tecEnGestiNDeEmpresaPecuaria()">
        <i class="icon ion-university"></i>Tec. en Gestión de Empresas Pecuarias</ion-item>
      <ion-item class="item-icon-left dark" id="chepes-list-item129" ui-sref="gUAUNLaR.tecUniversitariaEnInformTica()">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
    </ion-list>
  </ion-content>
</ion-view>