<ion-view title="Ciencias Sociales, Jurídicas y Económicas" id="page86">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hw6B3zYGTqP0RC3oASrJ_sociales-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasSocialesJurDicasYEconMicas-list25">
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item215" ui-sref="gUAUNLaR.abogacA()">
        <i class="icon ion-university"></i>Abogacía</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item216" ui-sref="gUAUNLaR.contadorPBlico()">
        <i class="icon ion-university"></i>Contador Público</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item217" ui-sref="gUAUNLaR.escribanA()">
        <i class="icon ion-university"></i>Escribania</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item218" ui-sref="gUAUNLaR.licEnAdministraciN()">
        <i class="icon ion-university"></i>Lic. en Administración</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item219" ui-sref="gUAUNLaR.licEnCienciaPolTica()">
        <i class="icon ion-university"></i>Lic. en Ciencia Política</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item220" ui-sref="gUAUNLaR.licEnComunicaciNSocial()">
        <i class="icon ion-university"></i>Lic. en Comunicación Social</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item221" ui-sref="gUAUNLaR.licEnCriminalStica()">
        <i class="icon ion-university"></i>Lic. en Criminalística</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item222" ui-sref="gUAUNLaR.licEnEconomA()">
        <i class="icon ion-university"></i>Lic. en Economía</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item223" ui-sref="gUAUNLaR.licEnTrabajoSocial()">
        <i class="icon ion-university"></i>Lic. en Trabajo Social</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item224" ui-sref="gUAUNLaR.licEnTurismo()">
        <i class="icon ion-university"></i>Lic. en Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item225" ui-sref="gUAUNLaR.licEnTurismoEcolGico()">
        <i class="icon ion-university"></i>Lic. en Turismo Ecológico</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item226" ui-sref="gUAUNLaR.procuraciN()">
        <i class="icon ion-university"></i>Procuración</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item227" ui-sref="gUAUNLaR.tecEnComSocialParaElDesarrollo()">
        <i class="icon ion-university"></i>Tec. de Comunicación Soc. para el Desarrollo</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item228" ui-sref="gUAUNLaR.tecEnGuADeTurismo()">
        <i class="icon ion-university"></i>Tec. de Guía de Turismo</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item229" ui-sref="gUAUNLaR.tecEnSeguridadUrbana()">
        <i class="icon ion-university"></i>Tec. de Seguridad Urbana </ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item230" ui-sref="gUAUNLaR.tecDeTasadorYCorredorInmobiliario()">
        <i class="icon ion-university"></i>Tec. Tasador y Corredor Inmobiliario</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item231" ui-sref="gUAUNLaR.tecEnGestiNYAdminContable()">
        <i class="icon ion-university"></i>Tec. en Gestión y Administración Contable</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item232" ui-sref="gUAUNLaR.tecSubastadorYMartilleroPBlico()">
        <i class="icon ion-university"></i>Tec. Subastador y Martillero Público</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item233" ui-sref="gUAUNLaR.tCEnGestiNJurDica()">
        <i class="icon ion-university"></i>Tec. en Gestión Jurídica</ion-item>
      <ion-item class="item-icon-left royal" id="cienciasSocialesJurDicasYEconMicas-list-item234" ui-sref="gUAUNLaR.tecTCnicoEnTelevisiNDigital()">
        <i class="icon ion-university"></i>Tec. en TV Digital</ion-item>
    </ion-list>
  </ion-content>
</ion-view>