<ion-view title="Ciencias Humanas y de la Educación" id="page85">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/nayNTR5SaaW63JPGmSry_humanas-01-julio17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasHumanasYDeLaEducaciN-list24">
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item204" ui-sref="gUAUNLaR.licEnArteEscNico()">
        <i class="icon ion-university"></i>Lic. en Arte Escénico</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item205" ui-sref="gUAUNLaR.licEnArtesPlSticas()">
        <i class="icon ion-university"></i>Lic. en Artes Plásticas</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item206" ui-sref="gUAUNLaR.licEnHistoria()">
        <i class="icon ion-university"></i>Lic. en Historia</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item207" ui-sref="gUAUNLaR.licEnLenguaYLiteraturaInglesa()">
        <i class="icon ion-university"></i>Lic. en Lengua y Literatura Inglesa</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item208" ui-sref="gUAUNLaR.licEnLenguaYLiteraturaPortuguesa()">
        <i class="icon ion-university"></i>Lic. en Lengua y Literatura Portuguesa</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item209" ui-sref="gUAUNLaR.licEnLetras()">
        <i class="icon ion-university"></i>Lic. en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item210" ui-sref="gUAUNLaR.licEnMSica()">
        <i class="icon ion-university"></i>Lic. en Música</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item211" ui-sref="gUAUNLaR.licEnTeologAYReligionesComparadas()">
        <i class="icon ion-university"></i>Lic. en Teología y Religiones Comparadas</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item100" ui-sref="gUAUNLaR.licEnPsicopedagogA()">
        <i class="icon ion-university"></i>Lic. en Psicopedagogía</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item102" ui-sref="gUAUNLaR.licEnGestiNOrganizacionalYRRHH()">
        <i class="icon ion-university"></i>Lic. en Gestión Org. y RR. HH.</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item106" ui-sref="gUAUNLaR.tradEnLenguaInglesa()">
        <i class="icon ion-university"></i>Traductorado en Lengua Inglesa</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item212" ui-sref="gUAUNLaR.profEnHistoria()">
        <i class="icon ion-university"></i>Profesorado en Historia</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item119" ui-sref="gUAUNLaR.profEnLetras()">
        <i class="icon ion-university"></i>Profesorado en Letras</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item121" ui-sref="gUAUNLaR.profEnArtesPlSticas()">
        <i class="icon ion-university"></i>Profesorado en Artes Plásticas</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item122" ui-sref="gUAUNLaR.profEnPsicopedagogA()">
        <i class="icon ion-university"></i>Profesorado en Psicopedagogía</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item213" ui-sref="gUAUNLaR.tecEnBibliotecologA()">
        <i class="icon ion-university"></i>Tec. en Bibliotecología</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item123" ui-sref="gUAUNLaR.tecEnAdminDeDocYArchivos()">
        <i class="icon ion-university"></i>Tec. en Admin. de Doc. y Archivos</ion-item>
      <ion-item class="item-icon-left energized" id="cienciasHumanasYDeLaEducaciN-list-item124" ui-sref="gUAUNLaR.tecEnMuseologA()">
        <i class="icon ion-university"></i>Tec. en Museologia</ion-item>
    </ion-list>
  </ion-content>
</ion-view>