<ion-view title="Ciencias Exactas, Físicas y Naturales" id="page84">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/lGxj8VyUS9SpM6WitXag_exactas-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasExactasFSicasYNaturales-list23">
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item195" ui-sref="gUAUNLaR.bioquMica()">
        <i class="icon ion-university"></i>Bioquímica</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item196" ui-sref="gUAUNLaR.farmacia()">
        <i class="icon ion-university"></i>Farmacia</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item197" ui-sref="gUAUNLaR.ingEnSistemasDeInformaciN()">
        <i class="icon ion-university"></i>Ing. en Sistemas de Información</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item198" ui-sref="gUAUNLaR.ingEnMecatrNica()">
        <i class="icon ion-university"></i>Ing. Mecatrónica</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item199" ui-sref="gUAUNLaR.licEnCienciasBiolGicas()">
        <i class="icon ion-university"></i>Lic. en Ciencias Biológicas</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item200" ui-sref="gUAUNLaR.licEnDiseOYProducciNMultimedial()">
        <i class="icon ion-university"></i>Lic. en Diseño y Prod. Multimedial</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item201" ui-sref="gUAUNLaR.licEnSistemasDeInformaciN()">
        <i class="icon ion-university"></i>Lic. en Sistemas de Información</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item202" ui-sref="gUAUNLaR.tecUniversitariaEnBiogenTica()">
        <i class="icon ion-university"></i>Tec. en Biogenética</ion-item>
      <ion-item class="item-icon-left positive" id="cienciasExactasFSicasYNaturales-list-item203" ui-sref="gUAUNLaR.tecUniversitariaEnInformTica()">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
    </ion-list>
  </ion-content>
</ion-view>