<ion-view title="Ciencias de la Salud" id="page87">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ODoY4VxQlaZg4REwFlCd_salud-01-01-julio17.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasDeLaSalud-list26">
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item235" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item236" ui-sref="gUAUNLaR.licEnEnfermerA()">
        <i class="icon ion-university"></i>Lic. en Enfermería</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item237" ui-sref="gUAUNLaR.licEnProducciNDeBioimGenes()">
        <i class="icon ion-university"></i>Lic. en Producción de Bioimágenes</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item238" ui-sref="gUAUNLaR.medicina()">
        <i class="icon ion-university"></i>Medicina</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item239" ui-sref="gUAUNLaR.odontologA()">
        <i class="icon ion-university"></i>Odontología</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item240" ui-sref="gUAUNLaR.profEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item241" ui-sref="gUAUNLaR.tecRadiologAYTerapiaRadiante()">
        <i class="icon ion-university"></i>Téc. en Radiología y Terapia Radiante</ion-item>
      <ion-item class="item-icon-left balanced" id="cienciasDeLaSalud-list-item242" ui-sref="gUAUNLaR.licEnTerapiaOcupacional()">
        <i class="icon ion-university"></i>Terapia Ocupacional</ion-item>
    </ion-list>
  </ion-content>
</ion-view>