<ion-view title="Ciencias Aplicadas" id="page83">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/I4jGm7ODSvSj0AQ88Pr1_aplicadas-03.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="cienciasAplicadas-list22">
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item194" ui-sref="gUAUNLaR.arquitectura()">
        <i class="icon ion-university"></i>Arquitectura</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item186" ui-sref="gUAUNLaR.geologA()">
        <i class="icon ion-university"></i>Geología</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item187" ui-sref="gUAUNLaR.ingAgronMica()">
        <i class="icon ion-university"></i>Ing. Agronómica</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item188" ui-sref="gUAUNLaR.ingAgroindustrial()">
        <i class="icon ion-university"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item190" ui-sref="gUAUNLaR.ingCivil()">
        <i class="icon ion-university"></i>Ing. Civil</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item192" ui-sref="gUAUNLaR.ingDeMinas()">
        <i class="icon ion-university"></i>Ing. de Minas</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item189" ui-sref="gUAUNLaR.ingEnAlimentos()">
        <i class="icon ion-university"></i>Ing. en Alimentos</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item191" ui-sref="gUAUNLaR.ingIndustrial()">
        <i class="icon ion-university"></i>Ing. Industrial</ion-item>
      <ion-item class="item-icon-left assertive" id="cienciasAplicadas-list-item193" ui-sref="gUAUNLaR.tecElectroElectrNica()">
        <i class="icon ion-university"></i>Tec. Electro-Electrónica</ion-item>
    </ion-list>
  </ion-content>
</ion-view>