<ion-view title="CineClub Universitario" id="page81">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/NC9ZIdbaSup9G8LC2QPn_CineClubUNLaR.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>Todos los martes y jueves a las 21hs. en la Sala Azul del MicroCine</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <h4 style="text-align: center;">
        <span style="color: #000080;">
          <strong>***Entrada libre y gratuita.**</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
      <p style="text-align: center;">
        <span style="color: #ff6600;">
          <strong>CARTELERA JUNIO</strong>
        </span>
      </p>
      <p style="text-align: center;">
        <strong>Ciclo "La suma de todos los medios" - Días Martes</strong>
      </p>
      <p style="text-align: center;">
        <strong>Ciclo de Terror - Días Jueves</strong>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #0000ff;">
          <strong>► Martes 04/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:
        <strong>
          <span style="color: #ff6600;">Gone Girl (Perdida)</span>
        </strong>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;'Gone Girl' ahonda en la historia de Nick (Ben Affleck, 'Argo'), un ex periodista casado con Amy Dunne, cuyo matrimonio hace aguas por todas partes. En un acto por intentar reflotarlo, ambos deciden montar un restaurante
        con ayuda de una de las hermanas de Nick, aunque la idea no prospera.</p>
      <p>En el día del quinto aniversario de bodas, Amy desaparece misteriosamente. Rápidamente, todas las sospechas sobre quién lo ha llevado a cabo caen sobre Nick. Ante los medios aparece impasible, defendiendo su inocencia, pero la primera impresión
        puede no ser la verdadera.</p>
      <hr>
      <p>
        <strong>
          <span style="color: #0000ff;">► Jueves 06/06</span>
        </strong>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <span style="color: #ff6600;">
          <strong>Carrie</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Carrie White, una tímida adolescente que vive con su madre, una fanática religiosa, es objeto de las burlas constantes de sus compañeros de instituto. Cuando, en las duchas del gimnasio, la chica sufre un ataque de histeria
        al tener su primera menstruación, a una de sus compañeras se le ocurre gastarle una broma macabra durante la fiesta de graduación. Lo que todos ignoran es que Carrie posee poderes telequinésicos.</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► Martes 11/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <span style="color: #ff6600;">
          <strong>Nightcrawler</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Tras ser testigo de un accidente, Lou Bloom (Jake Gyllenhaal), un apasionado joven que no consigue encontrar empleo, descubre como forma de ganar dinero el mundo del periodismo criminalista en la peligrosa ciudad de Los
        Ángeles. Su trabajo es llegar a los escenario de crímenes o accidentes y fotografiar lo sucedido para venderlos al mejor postor.</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► Jueves 13/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <span style="color: #ff6600;">
          <strong>Pesadilla</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Varios jóvenes de una pequeña localidad tienen habitualmente pesadillas en las que son perseguidos por un hombre deformado por el fuego y que usa un guante terminado en afiladas cuchillas. Algunos de ellos comienzan a ser
        asesinados mientras duermen por este ser que resulta ser Freddy Krugger, un hombre con un pasado abominable.&nbsp;</p>
      <hr>
      <p>
        <strong>
          <span style="color: #0000ff;">►</span>
        </strong>
        <strong style="color: #0000ff;">Martes 18/06</strong>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <strong>
          <span style="color: #ff6600;">Free Rainer (Un juego de inteligencia)</span>
        </strong>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Rainer es un exitoso productor de televisión que lo tiene todo. Ha llegado a la cima creando programas de televisión, cada cual más estúpido y vulgar. Un día, Pegah, una misteriosa joven colisiona intencionadamente con
        su coche a toda velocidad. Tras estar al borde de la muerte, Rainer se replantea su vida y decide producir un noticiario para el prime-time de su cadena que haga pensar al espectador. Hundido por la poca audiencia del programa, Rainer deja su
        trabajo y se embarca en una investigación sobre los sistemas de medición de audiencias que mantienen en los primer puesto a estos programas que insultan la inteligencia, aliándose para ello con la bella Pegah y un grupo de parados e inadaptados.</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► Jueves 20/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <span style="color: #ff6600;">
          <strong>Cementerio de Animales</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;El doctor Louis Creed, su esposa y sus dos niños se instalan en una vivienda próxima a una carretera con mucho tráfico. Cerca de la casa hay un sendero que lleva a un cementerio de animales y también a un antiguo cementerio
        indio; según la leyenda, los que sean enterrados allí volverán a la vida. Louis comprobará que es cierto cuando el gato de su hija es atropellado por un camión y un extraño vecino llamado Jud resucita al pequeño animal.&nbsp;</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► Martes 25/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:
        <strong>
          <span style="color: #ff6600;">Trust (Puedes confiar en mí)</span>
        </strong>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Una joven adolescente comienza a chatear con un nuevo "amigo" desconocido. Su vida familiar hace que la chica se sienta cada vez menos comprendida, motivo por el cual se refugia en este extraño y decide cederle toda su
        confianza. Pero a medida que se gana su cariño, su nuevo amigo irá allanando su camino lleno de continuas mentiras, hasta conseguir su propósito: porque lo cierto es que esta joven ha dado de lleno con un auténtico depredador sexual, que acabará
        siendo una pesadilla tanto para ella como para su familia.</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► Jueves 27/06</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:
        <strong>
          <span style="color: #ff6600;">Blair Witch</span>
        </strong>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;El 21 de octubre de 1994, Heather Donahue, Joshua Leonard y Michael Williams entraron en un bosque de Maryland para rodar un documental sobre una leyenda local, "La bruja de Blair". No se volvió a saber de ellos. Un año
        después, fue encontrada la cámara con la que rodaron: mostraba los terroríficos hechos que dieron lugar a su desaparición.</p>
      <hr>
      <p>
        <span style="color: #0000ff;">
          <strong>► </strong>
          <strong>Martes 02/07</strong>
        </span>
      </p>
      <p>
        <strong>Pelicula</strong>:
        <span style="color: #ff6600;">
          <strong>Secretos de Estado</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Secretos de Estado cuenta la historia del joven responsable de prensa (Ryan Gosling) de un candidato a las primarias del partido demócrata (George Clooney) para optar a la presidencia norteamericana. El periodista tendrá
        que intentar sobrevivir en las procelosas aguas de los manejos políticos, los intereses de todo tipo y la seducción de una joven becaria.</p>
      <hr>
      <p>&nbsp;
        <strong>►
          <span style="color: #0000ff;">Jueves 05/07</span>
        </strong>
      </p>
      <p>
        <strong>Pelicula</strong>:&nbsp;
        <span style="color: #ff6600;">
          <strong>La Aldea</strong>
        </span>
      </p>
      <p>
        <strong>Sinopsis</strong>:&nbsp;Los vecinos de una pequeña población rural de Pennsylvania viven atemorizados por culpa de unos extraños seres que habitan en los bosques circundantes. Saben perfectamente que para salvarse deben cumplir escrupulosamente
        ciertas reglas: evitar que vean el color rojo porque los atrae, mantenerse alejados del bosque, donde esperan agazapados la llegada de alguien, y obedecer la campana de alerta, que indica que se acercan a la aldea.</p>
      <hr>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vBENPWSpQu2ze0npW0iT_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>