<ion-view title="Comedor Universitario" id="page33">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vG2Q6bySzi4sqibMHHVh_Comedor-Universitario.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El
        <strong>
          <span style="color: #ff6600;">Comedor Monseñor Enrique Angelelli</span>
        </strong>, ubicado en el quinto módulo de la Ciudad Universitaria tiene como objetivo brindar un menú de calidad a un precio accesible para todos los estudiantes de la UNLaR.&nbsp;El costo del menú es de 20 pesos.&nbsp;</p>
      <p>Aquellos que van a comer integran a todos los alumnos regulares e ingresantes, denominados activos; quienes deben presentarse en el comedor con la libreta universitaria (alumno regular) o constancia de ingreso (ingresante). Las personas que no presenten
        estos requisitos no accederán a este beneficio.</p>
    </div>
    <a href-inappbrowser="https://becas.unlar.edu.ar/" id="comedorUniversitario-button36" class="button button-energized button-block">Inscripción diaria al Comedor</a>
    <div class="spacer" style="height: 50px;"></div>
    <h3 id="comedorUniversitario-heading1" style="color:#000000;font-weight:600;text-align:center;">Guía Comedor Universitario</h3>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <span style="color: #ff6600;">
          <strong>¿Qué necesito para acceder al comedor?</strong>
        </span>
      </p>
      <p>
        <strong>1- Tener una cuenta en
          <a href="https://becas.unlar.edu.ar">https://becas.unlar.edu.ar</a>
        </strong>
      </p>
      <p>
        <strong>2- Desde las 7 a las 11:30 se habilitará el sistema para que hagan su inscripción online al comedor. Al finalizar la misma se les dará un comprobante.</strong>
      </p>
      <p>
        <strong>3- Tener tu huella cargada en el sistema, en caso de no ternerla se puede registrar en el momento de la cola presentando el DNI.</strong>
      </p>
      <p>
        <strong>4- La Inscripción es diaria. Termina a las 11:30hs. o cuando se llena el cupo.</strong>
      </p>
      <p>&nbsp;</p>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/0bxLRdAoSJet7t6dR2Jn_Comedor03.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/O0wljEYOSSOuRMLye8H6_Comedor04.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/WCsAiGvYSfiUeR8w6nPN_Comedor05.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <p>
        <strong>Con la inscripción se generará un comprobante.</strong>
      </p>
      <p>
        <strong>Puedes guardarlo o imprimirlo, en caso de que ocurra un problema con el sistema, solo se aceptarán reclamos con el comprobante.</strong>
      </p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/7pEWUHMR7mfNydQrIYiG_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>