<ion-view title="Contador Público" id="page124">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/RxOU6k7HQxORq5F1NnpD_ContadorPblico.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 049/96</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N°538/06</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El perfil del Contador Público está definido por el desarrollo de habilidades para el desempeño de las siguientes actividades:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Actividad independiente de asesoramiento a empresas y/o instituciones privadas y públicas en cuestiones vinculadas en temas contables, financieros, administrativos, impositivos, societarios, laborales, concursales y periciales.</li>
        </ul>
        <ul>
          <li>Actividad en relación de dependencia en empresas y/o instituciones privadas o públicas en cuestiones vinculadas a temas contables, financieros, administrativos, impositivos, societarios, laborales, concursales y periciales.</li>
        </ul>
        <ul>
          <li>Funciones públicas en organismos de la administración central de gobierno o entes descentralizados, en temas que requieran la capacidad de análisis y/o de decisión vinculadas a las áreas contable, financiera, administrativa, impositiva, societaria,
            laboral, concursal y pericial.</li>
        </ul>
        <ul>
          <li>Investigación y docencia.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Titulo</span>
      </h4>
      <div>El título de Contador Público otorga competencias para el ejercicio profesional con los siguientes alcances:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Diseño de estructuras de organización administrativo-contable y de sus sistemas de información relativos a: estructura de la organización; sistema contable, implementación de sistemas de procesamiento de datos.</li>
        </ul>
        <ul>
          <li>Confección, análisis, proyección y dictámenes de estados contables.</li>
        </ul>
        <ul>
          <li>Análisis e informes sobre costos.</li>
        </ul>
        <ul>
          <li>Auditorias contables y operativas.</li>
        </ul>
        <ul>
          <li>Análisis económico y financiero de empresa: Estudios sobre rentabilidad; Estudios sobre la situación financiera y patrimonial; Participación en análisis de proyectos de inversión.</li>
        </ul>
        <ul>
          <li>Asesoramiento societario y otros entes: Actuación en las distintas etapas en la vida del ente; transmisión de fondos de comercio.</li>
        </ul>
        <ul>
          <li>Asesoramiento laboral y de seguridad social: operatorio administrativo-contable, actuación en recursos administrativos.</li>
        </ul>
        <ul>
          <li>Asesoramiento impositivo: Análisis de la situación del ente frente a los distintos tributos; Actuación en recursos administrativos; Operatoria administrativo-contable; Regímenes de promoción.</li>
        </ul>
        <ul>
          <li>Sindicatura de sociedades.</li>
        </ul>
        <ul>
          <li>Actuación judicial: Concursos; Liquidación de averías y siniestros; Estados de cuentas en disolución y liquidación de sociedades; Dictámenes e informes contables en administraciones e intervenciones judiciales; Intervención en juicios, sucesorios;
            compulsas y peritajes en las incumbencias señaladas.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>