<ion-view title="Escribanía" id="page125">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TOXHispRRDivG3szwa86_Escribana.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 211/02-TC Nº 268/04</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1473/04</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Escribano Publico es el funcionario público investido por la ley para dar fe de los negocios jurídicos que se celebren ante él, adaptando la voluntad de las partes con las normas jurídicas, dándole solidez formal, fecha cierta y autenticidad.</div>
      <div>&nbsp;</div>
      <div>Es un graduado universitario, con sólida formación jurídica, notarial y registral que debe imbuirse de los valores de justicia y respeto a la verdad.</div>
      <div>Una de las características importantes de la profesión es la imparcialidad en su ejercicio frente a los requerientes.</div>
      <div>&nbsp;</div>
      <div>Tiene la capacidad para utilizar los conocimientos científicos e instrumentales en la resolución de problemas referidos a la aplicación de la función notarial.</div>
      <div>&nbsp;</div>
      <div>Debe disponer de una actitud crítica y flexible que le permita reconocer la necesidad de actualización de sus conocimientos sujetos a la evolución del derecho.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Titulo</span>
      </h4>
      <div>El título de Escribano que otorga la Universidad Nacional de La Rioja habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ol>
          <li>Labrar escrituras públicas y ejercer la función notarial.</li>
          <li>Recibir y redactar conforme a las leyes, los actos, y contratos que le fueren encomendados y dar carácter de autenticidad a los hechos, declaraciones y convenciones que ante él se desarrollen, formularen o expusieren, cuando para ello fuera
            necesaria su intervención.</li>
          <li>Certificar la autenticidad de firmas, de impresiones digitales, de copias, de vigencia de contratos, la existencia de personas físicas y jurídicas, la recepción de depósitos de dinero, valores, documentos y otras cosas, el alcance de representaciones
            y poderes.</li>
          <li>Poner cargo a los escritos, practicar inventarios, expedir testimonios sobre asientos y actas de libros de comercio y labrar toda clase de actas.</li>
          <li>Asesorar y emitir dictámenes orales o escritos en lo relativo a cuestiones jurídico notariales en general.</li>
          <li>Ejercer la docencia e investigación dentro del ámbito de su competencia.</li>
        </ol>
      </div>
    </div>
  </ion-content>
</ion-view>