<ion-view title="Farmacia" id="page107">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/maHB9mIRQOuGKgAKZFE0_Farmacia2007.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza N° 324/07</strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Resolución Ministerial N° 1183/02</strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Acreditación: Resolución CONEAU N° 698/07 – 1° Fase y N° 877/11 – 2° Fase</strong>
        </span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado</u>
          </strong>
        </span>
      </h4>
      <div>
        <strong>&nbsp;</strong>
      </div>
      <div>El Farmacéutico es un graduado universitario con un sólido conocimiento de la Química, la Biología y la Tecnología, como así también en las disciplinas propias de su campo de acción para la elaboración, control, investigación y desarrollo de productos
        medicinales y otros que se relacionan con la salud de los seres vivos. Posee destreza para el manejo de materiales, instrumental y equipos adecuados para lograr una apoyatura técnica conforme a las Normas de Higiene y Seguridad.</div>
      <div>&nbsp;</div>
      <div>Tiene una actitud crítica y flexible que le permite reconocer la necesidad de actualización permanente de su conocimiento, trabajar en equipo interdisciplinarios tendientes al mejoramiento de la calidad de vida de la población. Además está capacitado
        para ejercer la Docencia Universitaria y realizar Investigación Científica.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <div>
        <strong>&nbsp;</strong>
      </div>
      <div>El Farmacéutico es competente para:</div>
      <div>&nbsp;</div>
      <ul>
        <li>Preparar, fraccionar, acopiar, conservar y dispensar los medicamentos, drogas, productos dietéticos, higiénicos y cosméticos que se utilicen y apliquen en la medicina de los seres vivos.</li>
        <li>Participar en la Investigación, desarrollo, obtención y elaboración de toda sustancia simple o compuesta, natural o sintética, sus mezclas y combinaciones usadas en la Industria Farmacoquímica.</li>
        <li>Controlar la calidad de la materia prima, productos intermedios y finales de la manufactura de fármacos y materiales de uso médico, en sus aspectos físicos, químicos y biológicos.</li>
        <li>Participación en la realización de estudios Farmacológicos efectuados en sistemas biológicos aislados o en seres vivos.</li>
        <li>Ejercer la Dirección Técnica de farmacias privadas, de establecimientos asistenciales, droguerías y herboristerías, como así también en la industria Farmacéutica y Cosmética.</li>
        <li>Integrar el personal técnico de producción, control y desarrollo en Farmacias, Industrias Farmacéuticas, Alimentarías y Cosméticas y Laboratorios o Institutos relacionados o vinculados con las mismas.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>