<ion-view title="Geología" id="page105">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LUY1ePd1Q4CFK89XFTem_PlanGeologia.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">Ordenanza Nº 451/11</span>
        </strong>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL PROFESIONAL</span>
        </strong>
      </h4>
      <p>El Geólogo es un Profesional habilitado para investigar la Constitución Física del Planeta Tierra, al igual que su dinámica y evolución a través del tiempo, y aptitud de programar, planificar, dirigir y aplicar sus conocimientos en las distintas
        áreas de exploración y explotación de recursos naturales y energéticos en búsqueda del beneficio económico y social del país.
        <br>Está capacitado para planificar, dirigir, investigar, coordinar, evaluar y ejecutar la prospección y conservación de los Recursos Naturales, preservando su calidad y evitando la contaminación y degradación del medio ambiente.
        <br>Puede actuar en todos los aspectos relacionados a la detección y cuantificación de riesgo geológico. Puede participar en proyectos y desarrollos mineros y obras de infraestructura civil.
        <br>En el área socioeconómica el Geólogo tiene actividad en la exploración y explotación de hidrocarburos y yacimientos minerales; así como en el estudio geotécnico básico de suelos efectuando su caracterización y acondicionamiento para las obras
        de ingeniería, arquitectura y vialidad.
        <br>En el campo de la investigación aplicada, los estudios geológicos constituyen la base, para la planificaci6n, implementación, análisis y optimización de los recursos naturales como el agua, los minerales y rocas de aplicación, el petróleo, el
        gas, el carbón, la energía geotérmica, en el marco de un desarrollo sustentable.</p>
      <h4>
        <br>
        <strong>
          <span style="color: #ff6600;">ALCANCES DEL TITULO</span>
        </strong>
      </h4>
      <p>Las actividades profesionales reservadas al título de Geólogo, según el Anexo V de la Resolución N° 1412/08 del Ministerio de Educación, son las siguientes:
        <br>1) Planificar, dirigir, evaluar y efectuar estudios destinados a determinar la estructura, composición y génesis de minerales, rocas, y suelos.
        <br>2) Planificar, dirigir, coordinar, supervisar, evaluar y efectuar estudios sobre la determinación de génesis, evolución, estructura, composición físico-química y dinámica interna y externa de la Tierra y demás cuerpos celestes.
        <br>3) Dirigir, evaluar y efectuar estudios tecnológicos de minerales, rocas, áridos y gemas.
        <br>4) Planificar, dirigir, coordinar, supervisar, evaluar y efectuar estudios estratigráficos, paleontológicos, geocronológicos, geomorfológicos, geoquímicos, geotectónicos, sismológicos y paleosismológicos, vo1canológicos, glaciológicos en ambientes
        continentales y marinos.
        <br>5) Planificar, dirigir, supervisar, evaluar y efectuar estudios para determinar áreas de riesgo geológico, naturales y antropogénicos, elaborar propuestas de prevención, mitigación y efectuar su control.
        <br>6) Planificar, dirigir, coordinar, supervisar, evaluar y desarrollar estudios de emplazamientos y estudios geotécnicos de macizos rocosos y suelos, efectuar su caracterización y acondicionamiento para la fundación de obras de ingeniería y de arquitectura,
        superficiales y subterráneas, y realizar el control geológico de las mismas durante su desarrollo y posterior operación.
        <br>7) Planificar, dirigir, supervisar, evaluar y efectuar estudios sobre movimiento de suelos y rocas y realizar el control geológico durante la ejecución de los trabajos.
        <br>8) Planificar, dirigir, coordinar, supervisar y efectuar prospección, exploración, evaluación y cuantificación de minerales, rocas y yacimientos sólidos, líquidos y gaseosos.
        <br>9) Establecer y/o acreditar las categorías y cuantificar reservas de recursos geológicos renovables y no renovables.
        <br>10) Dirigir, supervisar y efectuar reconocimientos geológicos, ubicación, delimitación y representación gráfica de las concesiones, pertenencias y/o propiedades mineras.
        <br>11) Planificar, dirigir y supervisar la explotación de yacimientos de minerales y rocas, efectuar el control geológico y participar del tratamiento y beneficio de los mismos.
        <br>12) Efectuar estudios geológicos integrales de cuencas hídricas y participar en la planificación y evaluación de su ordenamiento y sistematización.
        <br>13) Planificar, dirigir, coordinar, supervisar, evaluar y ejecutar la prospección, la exploración, y el manejo de los recursos hídricos subterráneos y superficiales, y geotérmicos y efectuar el control geológico de su evolución.
        <br>14) Participar en el planeamiento, supervisión y evaluación de la explotación de recursos hídricos subterráneos y superficiales, y geotérmicos.
        <br>15) Planificar, ubicar, dirigir, supervisar, interpretar estudios y técnicas auxiliares, evaluar, efectuar y representar gráficamente perforaciones de investigación, exploración y de explotación con fines hidrogeológicos, mineros, geotérmicos
        y geotécnicos.
        <br>16) Planificar, ubicar, dirigir, supervisar y evaluar perforaciones de exploración vinculadas a hidrocarburos, participar en la planificación, supervisión y ejecución de la explotación del yacimiento, y realizar el control geológico en las distintas
        etapas.
        <br>17) Elaborar y aplicar sistemas de clasificación y tipificación científica y tecnológica de minerales, rocas, suelos yaguas, y asesorar en la utilización de los mismos.
        <br>18) Planificar, dirigir, supervisar estudios de la evolución, degradación y erosión de suelos, y efectuar el reconocimiento, la clasificación, el inventario y la cartografía de los mismos.
        <br>19) Participar en la elaboración y ejecución de planes y programas de conservación, mejoramiento y recuperación de suelos y habilitación de tierras.
        <br>20) Identificar, estudiar y evaluar las características de la Plataforma continental sobre la base de referencias geológicas, y participar en el planeamiento y ejecución de estudios y proyectos oceanográficos.
        <br>21) Planificar, dirigir, supervisar y efectuar levantamientos y carteos topográfico-geológicos de superficie y subterráneos, estudios fotogeológicos e interpretación visual y digital de imágenes obtenidas por teledetección.
        <br>22) Planificar, dirigir, evaluar y efectuar estudios destinados al manejo, procesamiento, aprovechamiento y conservación de la información geológica, incluyendo bases de datos y Sistemas de Información Geográfica.
        <br>23) Planificar, participar, dirigir, evaluar y realizar estudios de impacto, gestión, restauración, rehabilitación, recomposición y mitigación ambientales y efectuar auditorías.</p>
      <p>24) Planificar y realizar estudios de emplazamiento geológicos para repositorios, superficiales y profundos, de residuos sólidos y efluentes urbanos, industriales, peligrosos, y nucleares de baja, media y alta actividad. Participar en las obras
        relacionadas.
        <br>25) Planificar, efectuar, asesorar y supervisar la higiene y seguridad vinculada con la actividad geológica.
        <br>26) Participar en el planeamiento y ejecución de estudios y proyectos de ordenamiento territorial e intervenir en la fijación de limites jurisdiccionales.
        <br>27) Asesorar acerca del aprovechamiento de los recursos geológicos para la formulación de políticas, normas, planes y programas de desarrollo.
        <br>28) Efectuar y controlar valuaciones y tasaciones de recursos geológicos y de las alteraciones causadas a los mismos.
        <br>29) Realizar estudios, consultas, asesoramientos, auditorías, inspecciones, arbitrajes, pericias e interpretaciones en temas de su competencia en ámbitos públicos y privados.
        <br>30) Intervenir en la preparación, actualización y redacción de códigos, reglamentos, normas y estándares de calidad, y de todo otro texto o disposición legal relacionada con la actividad geológica.
        <br>31) Participar en la corrección, certificación, y edición de material didáctico y pedagógico vinculado con la geología.
        <br>32) Realizar estudios, asesoramientos, pericias e interpretaciones en geología forense y geología médica.
        <br>33) Participar en la confección y monitoreo de licitaciones y pliegos técnicos.
        <br>34) Participar en la confección, monitoreo y evaluación de proyectos de inversión.
        <br>35) Desempeñar la docencia en todos los niveles de enseñanza de acuerdo a las disposiciones vigentes y capacitar recursos humanos en las distintas temáticas geológicas.
        <br>36) Planificar, realizar y dirigir programas y tareas de investigación y desarrollo en temas geológicos.
        <br>37) Dirigir, participar, supervisar, evaluar y efectuar estudios sobre conservación y restauración de materiales pétreos del patrimonio cultural, arquitectónico y monumental.
        <br>38) Efectuar, participar, supervisar, dirigir, asesorar y evaluar cuestiones relativas a la definición, manejo y preservación de sitios de interés geológico, paleontológico, espeleológico, paisajístico y turístico.
        <br>39) Investigar, desarrollar, participar y efectuar control de materiales geológicos aplicados a la industria, construcción, minería, agricultura, medio ambiente y servicios.
        <br>40) Certificar el material geológico y paleontológico en operaciones de importación.</p>
    </div>
  </ion-content>
</ion-view>