<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div class="spacer" style="height: 10px;"></div>
      <div>
        <img src="img/lnH7Br5oQP6xZXQ5CaP0_LogoGuiaUNLaR512.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="gUAUNLaR-list1">
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item1" ui-sref="gUAUNLaR.inicio()" menu-close="">
          <i class="icon ion-home"></i>Inicio</ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item84" ui-sref="gUAUNLaR.ingresantes()" menu-close="">
          <i class="icon ion-android-contacts"></i>Ingresantes</ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item85" ui-sref="gUAUNLaR.estudiantes()" menu-close="">
          <i class="icon ion-document-text"></i>Estudiantes</ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item86" ui-sref="gUAUNLaR.graduados()" menu-close="">
          <i class="icon ion-university"></i>Graduados</ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item83" href-inappbrowser="http://www.ingeotec.tk/category/noticias/">
          <i class="icon ion-social-rss"></i>Noticias
          <span class="item-note">Online</span>
        </ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item2" href-inappbrowser="https://api.whatsapp.com/send?phone=543804791665">
          <i class="icon ion-social-whatsapp"></i>Contacto</ion-item>
        <ion-item class="item-icon-left positive" id="gUAUNLaR-list-item3" ui-sref="gUAUNLaR.acercaDeLaApp()" menu-close="">
          <i class="icon ion-ios-loop-strong"></i>Acerca de la App</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>