<ion-view title="Ing. Agroindustrial" id="page100">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/5GTPWLFASXWI73H3MG3f_PlanAgroindustrial.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">Ordenanza Nº 349/08</span>
        </strong>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">Perfil Profesional</span>
        </strong>
      </h4>
      <p>
        <br>El Ingeniero Agro-Industrial es un profesional de la ingeniería qué, por su formación, tiene la capacidad de planificar, implementar, desarrollar, analizar y optimizar el campo tecnológico en toda sus perspectiva, con el fin de aprovechar la producción
        primaria y los recursos naturales, provenientes del sector agrícola, pecuario, forestal, etc., generando productos alimentarios y no alimentarios, así como la infraestructura en la que se sustenta dichas actividades, ejerciendo su responsabilidad
        en los aspectos técnicos y económicos, como su inserción en el entorno social, cultural y ambiental donde se desempeñe mediante el compromiso de su formación continua y permanente.</p>
      <p>
        <br>La carrera Ingeniería Agro-Industrial que se dicta en la Universidad Nacional de La Rioja, se caracteriza por:</p>
      <p>
        <br>• Poseer un destacado prestigio de casi 40 AÑOS formando profesionales agroindustriales y con alrededor de 35 cohortes de graduados introducidos exitosamente en el ámbito profesional, desempeñando importantes cargos jerárquicos en la parte pública
        y privada.</p>
      <p>• Presentar un adecuado plantel docente y con nivel de formación en crecimiento.</p>
      <p>• Contar con la existencia de un Parque Tecnológico en la UNLaR-Sede Capital, creado en base a la carrera Ingeniería Agro-Industrial, como espacio de aplicación teórico- práctico para complementar la formación profesional del estudiante de la carrera.</p>
      <p>• Disponer de Unidades Didáctico-Productivas en UNLaR – Sede Capital; Sede Catuna y Sede Villa Unión, a saber:
        <br>o “Vivero olivícola con amplia variedades de olivo, para la provisión de materia prima” (inaugurado en el año 1956)-Sede Capital
        <br>o “Planta piloto para producción e investigación sobre el Aceite de Oliva”. (inaugurado el 4 de junio de 1993)-Sede Capital.
        <br>o “Laboratorio de investigación de componentes aromáticos en vegetales” – Sede Capital.
        <br>o Unidad Didáctico-Productiva “Fábrica de Dulces”(inaugurada el 30 de diciembre de 2004)-Sede Capital.
        <br>o Planta para procesamiento de Agua de Mesa- Sede Capital.
        <br>o Fábrica de Aceite de Oliva y de Aceitunas de mesa – Sede Catuna.
        <br>o Proyecto Apícola Modelo-Sala de Extracción de Miel- Sede Catuna.
        <br>o Bodega Modelo – Sede Villa Unión.</p>
      <p>• Poseer PREMIOS NACIONALES otorgados a los productos agroindustriales elaborados en el Parque Tecnológico de la UNLaR
        <br>o Premio “Balseiro” (Buenos Aires, 1997).
        <br>o Premio “El Gauchito” (Resistencia-Chaco, 2002).
        <br>o Mención de Honor en el Premio del Banco Francés al Tecnoemprendedor (Buenos Aires, 2001).
        <br>o Premio “Olivo de Oro” en la Categoría Blend “Cuyoliva 2009” (Mendoza, 4 de setiembre de 2009).
        <br>o Premio “Olivo de Oro” en la Categoría Blend “Cuyoliva 2010 (Mendoza 30 de setiembre de 2010).
        <br>o Premio Universidad 2010 (La Rioja, UNLaR 6 de octubre de 2010).
        <br>o Premio “Olivo de Oro”,Cuyoliva 2011 Categoría Varietal Arauco- Sede Capital, en Mendoza, Octubre 2011.
        <br>o Premio “Olivo de Plata”, Cuyoliva 2011 Categoría Blend-Sede Capital, en Mendoza, octubre 2011.
        <br>o Premio “Olivo de Oro”, Cuyoliva 2011 Categoría Blend-Delegación Catuna, en Mendoza, octubre 2011.
        <br>o Premio Destacado 2011- UNLaR en Reconocimiento a los productos elaborados en la Fábrica de Aceites de Oliva Solar, otorgado por el Gobierno de la Provincia de La Rioja, en diciembre de 2011.</p>
      <p>• Contar con un Instituto Superior de Investigación con 22 años de funcionamiento, el Instituto de Tecnología Agroindustrial, participando activamente en la comunidad científica a través de proyectos de investigación financiados y ejecutados por
        docentes investigadores que participan del programa de incentivos (Decreto Ministerial 2427/93).
        <br>Objetivos Generales de la carrera de Ingeniería Agro-Industrial
        <br>La carrera de Ingeniería Agro-Industrial tiene como objetivo fundamental formar profesionales integrales, para que se desempeñen con competencia y con pertinencia mediante sus capacidades humanas, científicas y técnicas y contribuyan al desarrollo
        sostenible de la agroindustria.</p>
      <h4>
        <br>
        <span style="color: #ff6600;">
          <strong>Objetivos de la Carrera</strong>
        </span>
      </h4>
      <p>
        <br>En la carrera de Ingeniería Agro-Industrial se procurará que el futuro graduado:</p>
      <p>* Actúe con sentido crítico en la problemática de los sistemas productivos y procure respuestas originales.
        <br>* Disponga de la suficiente información teórica y formación práctica que le permita iniciarse en sus actividades profesionales con idoneidad y disposición de capacitación permanente.
        <br>* Posea los suficientes recursos técnicos y metodológicos que lo habiliten a participar y conducir tareas de su especialidad.</p>
      <h4>
        <br>
        <span style="color: #ff6600;">
          <strong>Perfil del graduado</strong>
        </span>
      </h4>
      <p>
        <br>El Ingeniero Agro-Industrial es un profesional de la ingeniería qué, por su formación, tiene la capacidad de planificar, implementar, desarrollar, analizar y optimizar el campo tecnológico en toda su perspectiva, con el fin de aprovechar la producción
        primaria y los recursos naturales, provenientes del sector agrícola, pecuario, forestal, etc., generando productos alimentarios y no alimentarios, así como la infraestructura en la que se sustenta dichas actividades, ejerciendo su responsabilidad
        en los aspectos técnicos y económicos, como su inserción en el entorno social, cultural y ambiental donde se desempeñe mediante el compromiso de su formación continua y permanente.</p>
    </div>
  </ion-content>
</ion-view>