<ion-view title="Ing. Civil" id="page103">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/sObE9wBR3PxnoM6ieLhg_PlanCivil.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">Ordenanza Nº 368/08</span>
        </strong>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL PROFESIONAL</span>
        </strong>
      </h4>
      <p>Acorde con el tipo de formación que se quisiera lograr; se pretende que el futuro Ingeniero tenga las siguientes cualidades:</p>
      <p>• Nivel científico y tecnológico, acorde a los requerimientos Profesionales actuales, de permanente innovación, perfeccionamiento y autoaprendizaje.
        <br>• Capacidad crítica y diagnóstica en lo Científico y Tecnológico.
        <br>• Fuerte conciencia social, fundamentada en una profunda cultura humanista, donde el concepto del Bien Común se convierta en norte permanente.
        <br>• Dotación de Adiestramientos empíricos, inherentes al "oficio" de la Ingeniería Civil.
        <br>• Fomento de la Iniciativa individual, en formulaciones específicas (Aptitud
        <br>Gerencial y Empresaria, Conducción de Equipos Humanos, Integración a
        <br>Emprendimientos en Decurso, etc.)
        <br>• Sólido perfil profesional; donde el uso eficaz de los criterios científicos, tecnológicos, económicos y financieros junto al desarrollo de la capacidad de Resolución de Problemas, sean el eje de su desempeño.
        <br>• Desarrollo de una conciencia ambiental, como eje distintivo; sabiendo que como actor privilegiado en la interacción con el medio natural su responsabilidad social en el tema es preponderante.
        <br>• Un fuerte acento en las relaciones interpersonales, donde se destaquen la responsabilidad, la solidaridad, pensamiento crítico, estratégico y prospectivo.</p>
      <p>
        <strong>Las competencias profesionales, se centrarán en:</strong>
      </p>
      <p>1. Concebir, analizar, diseñar, calcular y construir sistemas estructurales de manera segura, económica, confiable y durable.
        <br>2. Concebir, analizar, diseñar, calcular y explotar soluciones viales y de transporte que permitan la integración física de regiones y comunidades, haciendo competitiva la movilización de personas y bienes.
        <br>3. Concebir, analizar, diseñar, calcular, construir y determinar el uso y tratamiento del suelo, su respuesta a intervenciones externas y su relación con el entorno para contribuir a tener obras estables y seguras.
        <br>4. Concebir, analizar y calcular la disponibilidad de los recursos hidráulicos y diseñar obras hidráulicas satisfactorias en términos técnicos, socioeconómicos, estáticos y medioambientales.</p>
      <h4>
        <br>
        <strong>
          <span style="color: #ff6600;">ALCANCES DEL TITULO</span>
        </strong>
      </h4>
      <p>Corresponden al Ingeniero Civil las siguientes actividades:</p>
      <p>
        <br>
        <strong>A) Estudio, factibilidad, proyecto, dirección, inspección, cálculo, construcción, operación mantenimiento y explotación de:</strong>
      </p>
      <p>
        <br>1) Edificios, cualquiera sea su destino, con todas sus obras complementarias.</p>
      <p>2) Estructuras resistentes y obras civiles y de arte de todo tipo.</p>
      <p>3) Obras de regulación, captación y abastecimiento de agua.</p>
      <p>4) Obras de riego, desagüe y drenaje.</p>
      <p>5) Instalaciones hidromecánicas.</p>
      <p>6) Obras destinadas al aprovechamiento de la energía hidráulica.</p>
      <p>7) Obras de corrección y regulación fluvial.</p>
      <p>8) Obras destinadas al almacenamiento, conducción, y distribución de sólidos y fluidos.</p>
      <p>9) Obras viales y ferroviarias.</p>
      <p>10) Obras de saneamiento urbano y rural.</p>
      <p>11) Obras portuarias, incluso aeropuertos y todas relacionadas con la navegación fluvial, marítima y aérea.</p>
      <p>12) Obras de urbanismo en lo que se refiere al trazado, Planes Reguladores y organización de servicios públicos vinculados con la higiene, vialidad, comunicaciones y energía.</p>
      <p>13) Para todas las obras enunciadas en los incisos anteriores la prevención sísmica cuando correspondiere.</p>
      <p>
        <br>
        <strong>B) Estudios, tareas y asesoramiento relacionado con:</strong>
      </p>
      <p>1) Mecánica de suelos y mecánica de rocas.</p>
      <p>2) Trabajos topográficos y geodésicos.</p>
      <p>2.a Trabajos topográficos que fuere necesario ejecutar par el estudio, proyecto, dirección, inspección y construcción de obras a que se refiere el párrafo A.</p>
      <p>3) Planeamiento de sistema de transporte en general.</p>
      <p>4) Estudio de tránsito en rutas y ciudades.</p>
      <p>5) Planeamiento del uso y administración de los recursos hídricos.</p>
      <p>6) Estudios hidroI6gicos.</p>
      <p>7) Asuntos de Ingeniería Legal, Económica, Financiera y de Organización, relacionados con los mismos incisos anteriores.</p>
      <p>8) Arbitrajes, pericia y tasaciones relacionados con los mismos incisos anteriores.</p>
      <p>9) Higiene, seguridad y contaminación ambiental relacionados con los incisos anteriores.</p>
    </div>
  </ion-content>
</ion-view>