<ion-view title="Ing. de Recursos Naturales Renovables" id="page158">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Pjy3tCTHSHaOfNX0tD7R_Ing.-de-Recursos-Naturales-Renovable.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 422/2010</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 152/09 y 0325/13</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución de Acreditación N° 948/11</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>Los contenidos curriculares y carga horaria de la Carrera, determinan una formación académica del egresado cuyos módulos de construcción formativa definen su perfil en cuanto a conocimientos en las áreas de formación básica, tecnologías básicas
        y tecnologías aplicadas y competencias para intervenir sobre ecosistemas áridos y semiáridos a través de la gestión de los Recursos Naturales Renovables, en el marco del concepto de desarrollo integral de sistemas que sean social, económica y
        ecológicamente sustentables.</div>
      <div>&nbsp;</div>
      <div>Aun cuando en función de la integridad estructural de la carrera, caracterice a la misma como de construcción generalista asociado a la gestión de los recursos naturales, el Módulo de Formación Superior del Plan de Estudio proporciona los contenidos
        y mecanismos de integración que posibilita identificar y definir la generación de competencias en tres (3) ejes de formación que determina el perfil de la carrera sobre el manejo de los Recursos Naturales Renovables para Zonas Áridas en el marco
        del Desarrollo Sustentable:</div>
      <div>&nbsp;</div>
      <div>I- Protección-Preservación de ecosistemas</div>
      <div>&nbsp;</div>
      <div>II-Recuperación-Rehabilitación de ecosistemas</div>
      <div>&nbsp;</div>
      <div>III-Transformación de ecosistemas- Utilización de ecosistemas -Producción.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <div>El Profesional egresado de la carrera resulta competente para las siguientes actividades:</div>
      <div>
        <ol>
          <li>Formular, evaluar, supervisar y ejecutar planes y proyectos de investigación para generar conocimientos acerca de la historia, el estado actual, su proyección hacia el futuro y el contexto socio económico de los recursos naturales renovables
            de zonas áridas.</li>
          <li>Formular, evaluar, supervisar y ejecutar planes y proyectos de experimentación y extensión sobre los recursos naturales renovables de zonas áridas.</li>
          <li>Formular, evaluar, supervisar y ejecutar proyectos de gestión de los recursos naturales renovables de zonas áridas.</li>
          <li>Desarrollar tecnologías para ser aplicadas en la ejecución de los planes y proyectos descriptos en los ítems anteriores.</li>
          <li>Asesorar en el diseño, evaluación e implementación de políticas de ordenamiento territorial, desarrollo rural y otras vinculadas al manejo y utilización de los recursos naturales renovables de zonas áridas.</li>
          <li>Realizar estudios diagnósticos referidos a los recursos naturales y el medio ambiente.</li>
          <li>Realizar inventarios referidos a los recursos naturales y el medio ambiente.</li>
          <li>Realizar y evaluar estudios de impacto ambiental ocasionado por las actividades humanas y por los fenómenos naturales.</li>
          <li>Asesorar y monitorear el impacto ambiental de distintas prácticas productivas y extractivas en el uso de los recursos naturales.</li>
          <li>Planificar, diseñar, programar, dirigir, implementar, administrar, asesorar, optimizar y evaluar el aprovechamiento y desarrollo sustentable de los recursos naturales y el medio ambiente.</li>
          <li>Elaborar, interpretar e implementar políticas y normas legales que regulen el uso, preservación, conservación y aprovechamiento de los recursos naturales y del medio ambiente.</li>
          <li>Realizar arbitrajes y peritajes que impliquen determinaciones acerca del uso y de los daños que pudieran ocasionarse a los recursos naturales y el medio ambiente.</li>
          <li>Realizar tasaciones referidas al aprovechamiento de los recursos naturales.</li>
          <li>Auditar la calidad de los procesos de producción orgánica que garanticen el desarrollo sustentable.</li>
          <li>Planificar, implementar, dirigir y evaluar la restauración y la rehabilitación de ecosistemas degradados.</li>
          <li>Realizar estudios, manejar y controlar las cuencas hidrográficas para la optimización de la gestión ambiental.</li>
          <li>Programar, evaluar, dirigir y ejecutar planes y programas de investigación y/ o extensión ambiental con criterio de sustentabilidad de los recursos naturales y del ambiente.</li>
          <li>Programar, organizar, evaluar, dirigir y ejecutar la implementación y utilización de áreas naturales protegidas.</li>
        </ol>
      </div>
    </div>
  </ion-content>
</ion-view>