<ion-view title="Ing. de Minas" id="page104">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/0cWAjZOMRtWG6iyTkkx5_PlanMinas.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">Ordenanza Nº 350/08</span>
        </strong>
      </h4>
      <hr>
      <h4>
        <strong>
          <span style="color: #ff6600;">PERFIL PROFESIONAL</span>
        </strong>
      </h4>
      <p>
        <br>Es el profesional de la ingeniería que, por su formación tiene capacidad de planificar, implementar, desarrollar, analizar y optimizar el campo tecnológico en toda su perspectiva, con el fin de aprovechar la producción proveniente de los recursos
        naturales, específicamente del sector de los minerales, generando productos, aplicando técnicas de tratamiento, analizando su infraestructura, los aspectos técnicos y económicos de la producción dentro del concepto de desarrollo sustentable, con
        el compromiso de su formación continua y permanente.</p>
      <h4>
        <br>
        <strong>
          <span style="color: #ff6600;">ALCANCES DEL TITULO</span>
        </strong>
      </h4>
      <p>A- Estudio, factibilidad, proyecto, dirección, inspección, construcción, operación y mantenimiento de:</p>
      <p>
        <br>1. Obras de exploración y explotación de yacimientos minerales de todo tipo.
        <br>2. Plantas de beneficio de dichas materias.
        <br>3. Movimiento de rocas por medio de explosivos y maquinarias de obras civiles.</p>
      <p>B- Estudios, tareas y asesoramiento relacionado con :</p>
      <p>
        <br>1. Mecánica de rocas.
        <br>2. Trabajos topográficos y geodésicos que fuere necesario ejecutar para la correcta materialización de las obras a que se refiere el párrafo A.
        <br>3. Trabajos profesionales relacionados con la ubicación y ponderación de yacimientos.
        <br>4. Mensuras mineras de yacimientos, concesiones de exploración y cateo y de explotación.
        <br>5. Planeamiento del uso y administración de los recursos mineros.
        <br>6. Asuntos de ingeniería legal, economía y financiera relacionada con los incisos anteriores.
        <br>7. Arbitrajes, pericias y tasaciones relacionadas con los mismos.
        <br>8. Policía minera, higiene y seguridad industrial y contaminación ambiental relacionados con los incisos anteriores.</p>
    </div>
  </ion-content>
</ion-view>