<ion-view title="Ing. en Mecatrónica" id="page109">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IDZ7cVqPR02VDkU7f0Wc_Ing.-Mecatrnica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil Profesional:</u>
        </span>
      </h4>
      <div>El futuro graduado o graduada en Ingeniería en Mecatrónica ofrecerá&nbsp;soluciones que van más allá de las que se obtendrían con cada una de las&nbsp;ingenierías por separados.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Su principal propósito es concebir, diseñar, implementar y operar&nbsp;equipos, procesos, sistemas y productos automatizados y de alta tecnología&nbsp;con capacidad de adaptarse y preservas el medio ambiente, para mejorar la&nbsp;productividad y
        competitividad de las organizaciones.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <div>El Ingeniero en Mecatrónica es un profesional capacitado y habilitado para:</div>
      <div>
        <ul>
          <li>Diseñar, proyectar y calcular dispositivos, maquinas, equipos y&nbsp;procesos, de un nivel de automatización que les permita adaptarse al&nbsp;entorno en el que operan, garantizando un funcionamiento óptimo.</li>
          <li>Administrar procesos de asimilación de nuevas tecnologías para la&nbsp;modernización de los procesos productivos de las organizaciones.</li>
          <li>Diseñar, simular, implementar y controlar procesos de manufactura&nbsp;en forma automatizada mediante el uso de tecnologías automáticas.&nbsp;</li>
          <li>Gestionar nuevas tecnologías aplicadas a las organizaciones&nbsp;modernas en áreas como: control numérico computarizado, diseño y&nbsp;manufactura integrada por computador, diseño de materiales,&nbsp;robótica sensorica, visionica y nuevas tendencias
            de inteligencia&nbsp;artificial, aplicada a los procesos productivos.</li>
          <li>Estudiar y utilizar nuevos materiales y materiales sustituidos en la&nbsp;construcción de partes y elementos que optimicen los procesos&nbsp;industriales.&nbsp;</li>
          <li>Desarrollar y optimizar equipos, procesos o productos de consumo,&nbsp;utilizando tecnología de punta.</li>
          <li>Desarrollar y participar en proyectos de investigación que involucren&nbsp;el uso de las tecnologías mecatrónicas en diversos campos de&nbsp;aplicación como la medicina, la producción y la exploración de&nbsp;recursos naturales.&nbsp;</li>
          <li>Colaborar en los procesos de evaluación de los proyectos de&nbsp;inversión para la adquisición de tecnologías de punta.</li>
          <li>Controlar, simular y diseñar interfaces automatizadas de procesos.</li>
          <li>Realizar peritajes en temas de su especialidad.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>