<ion-view title="Ing. en Sistemas de Información" id="page108">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Y6O3NTYpQvizjnzbHdFw_Ing.enSistemasdeInformacin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 448/2011</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 272/03</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Acreditación: Resolución CONEAU N° 476/12</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Egresado</u>
        </span>
      </h4>
      <div>&nbsp;</div>
      <div>Acorde con el tipo de formación que se quisiera lograr; se pretende que el futuro Ingeniero en Sistemas de Información tenga las siguientes cualidades:</div>
      <div>&nbsp;</div>
      <div>Nivel científico y tecnológico, acorde a los tiempos tecnológicos actuales de permanente innovación y autoaprendizaje.</div>
      <div>Sólida formación analítica que le permita interpretación y resolución de problemas mediante el empleo de metodologías de procesamiento de información.</div>
      <div>&nbsp;</div>
      <div>Solvencia científica y disciplinar que le permita afrontar el planeamiento, desarrollo, dirección y control de los sistemas.</div>
      <div>Sólidos conocimientos que le permitan administrar los recursos humanos, físicos y de aplicación que intervienen en el desarrollo de proyectos de sistemas de información.</div>
      <div>&nbsp;</div>
      <div>Fuerte conciencia social, fundamentada en una profunda cultura humanista, donde el concepto del bien común se convierta en norte permanente.</div>
      <div>Sólido perfil profesional; donde el uso eficaz de los criterios científicos, tecnológicos, económicos, financieros y de gestión, sean el eje de su desempeño.</div>
      <div>&nbsp;</div>
      <div>Desarrollo de una conciencia ambiental, como eje distintivo en su responsabilidad social.</div>
      <div>&nbsp;</div>
      <div>Un fuerte acento en las relaciones interpersonales, donde se destaquen la responsabilidad, la solidaridad, el pensamiento crítico, sistémico, estratégico y prospectivo.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <div>&nbsp;</div>
      <div>Están reservadas al Ingeniero en Sistemas de Información las siguientes profesionales:</div>
      <div>&nbsp;</div>
      <div>1. Planificar, dirigir, realizar y/o evaluar proyectos de relevamiento, análisis, especificación, diseño, desarrollo, implementación, verificación, validación, puesto a punto, mantenimiento y actualización, para todo tipo de personas físicas o jurídicas,
        de:</div>
      <div>
        <ul>
          <li>Sistemas de información.</li>
        </ul>
        <ul>
          <li>Software vinculado indirectamente al hardware y a los sistemas de comunicación de datos.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div>2. Determinar, aplicar y controlar estrategias y políticas de desarrollo de Sistemas de Información y de Software.</div>
      <div>&nbsp;</div>
      <div>3. Evaluar y seleccionar los lenguajes de especificación, herramientas de diseño, procesos de desarrollo, lenguajes de programación y arquitecturas de software relacionados con el punto 1.</div>
      <div>&nbsp;</div>
      <div>4. Evaluar y seleccionar las arquitecturas tecnológicas de procesamiento, sistemas de comunicación de datos y software de base, para su utilización por el software vinculado al punto 1.</div>
      <div>&nbsp;</div>
      <div>5. Diseñar metodologías y tecnologías para desarrollo de software vinculados al punto 1.</div>
      <div>&nbsp;</div>
      <div>6. Organizar y dirigir el área de sistemas de todo tipo de personas físicas o jurídicas, determinar el perfil de los recursos humanos necesarios y contribuir a su selección y formación.</div>
      <div>&nbsp;</div>
      <div>7. Planificar, diseñar, dirigir y realizar la capacitación de usuarios en la utilización del software vinculado al punto 1.</div>
      <div>&nbsp;</div>
      <div>8. Determinar y controlar el cumplimiento de pautas técnicas, normas y procedimientos que rijan el funcionamiento y la utilización del software vinculado al punto 1.</div>
      <div>&nbsp;</div>
      <div>9. Elaborar, diseñar, implementar y/o evaluar métodos y normas a seguir en cuestiones de seguridad de la información y los datos procesados, generados y/o transmitidos por el software.</div>
      <div>&nbsp;</div>
      <div>10. Establecer métricas y normas de calidad y seguridad de software, controlando las mismas a fin de tener un producto industrial que respete las normas nacionales e internacionales. Control de la especificación formal del producto, del proceso
        de diseño, desarrollo, implementación y mantenimiento. Establecimiento de métricas de validación y certificación de calidad.</div>
      <div>&nbsp;</div>
      <div>11. Realizar arbitrajes, peritajes y tasaciones referidas a las áreas específicas de Plan de Estudios de la Carrera Ingeniería en Sistemas de Información</div>
    </div>
  </ion-content>
</ion-view>