<ion-view title="Ing. en Alimentos" id="page101">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MH5amFHtQoiUOs8fbeoj_PlanAlimentos.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 338/07</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>PERFIL PROFESIONAL</strong>
        </span>
      </h4>
      <p>La Carrera Ingeniería en Alimentos, tiene por objetivo la formación de profesionales universitarios responsables del diseño, industrialización y manipulación de alimentos, potenciando sus características naturales y adecuándolos a los requerimientos
        de un mercado dinámico a partir de la materia prima de origen agropecuario, sobre la base de nuevos marcos regulatorios que fijan patrones y estándares de calidad cada vez más exigentes.</p>
      <p>En particular, la Provincia de la Rioja y la Región donde ésta se inserta, constituye un ámbito donde se producen diversos alimentos, cuya presencia en el mercado nacional e internacional ha crecido en los últimos años.</p>
      <p>Así, se destaca la Industria del Aceite de Oliva (que registró exportaciones en la Provincia por cuatro millones de dólares *) la de Aceitunas en Conserva (con exportaciones registradas por catorce millones de dólares*) y en igual alcance la elaboración
        de Vinos (con exportaciones por seis millones de dólares*).
        <br>(*)Fuente: Secretaría de Agricultura, Ganadería, Pesca y Alimentos de la Nación - Año 2005.</p>
      <p>Por su parte, aunque en menor medida, existe la Producción de Frutales de diversas variedades, sirviendo como base para la Industria de los Dulces, Jaleas,
        <br>Mermeladas; la Producción de Miel y sus derivados (Jalea real, polen, cera, etc.); como también la Industria Nogalera y la Industria Cárnica y Láctea (especialmente bovina y caprina), junto con todas sus producciones derivadas.</p>
      <p>El Título que se confiere, acredita la formación de profesionales con un sólido currículum ingenieril, relacionado con la planificación, proyección, cálculo y control de las instalaciones, maquinarias e instrumentos que integren el proceso productivo
        de la industria alimentaria, sin incluir lo relativo a la Obra Civil.</p>
      <p>Para ello, la UNLaR cuenta con un Parque Tecnológico, cuyas características son únicas en el País, donde se realizan actividades Didáctico-Productivas a escala piloto en las líneas de preparación de aceite de oliva, aceitunas en conserva, aceites
        esenciales, miel, dulces, jaleas, mermeladas, etc. Todo ello, le permitirá adquirir al egresado destrezas profesionales altamente competitivas y acordes a los estándares fijados.</p>
      <h4>&nbsp;</h4>
      <h4>
        <strong>
          <span style="color: #ff6600;">ALCANCES DEL TITULO</span>
        </strong>
      </h4>
      <p>La formación del Graduado contemplará tanto los intereses científicos como los sociales. Aptitudes tales como habilidad lógico- matemática, la capacidad de análisis, talento para establecer relaciones interpersonales y vocación para aceptar el desafío
        de afrontar problemas y situaciones nuevas en los sistemas productivos, estableciendo las alternativas de solución.</p>
      <p>Dada la aceleración en el cambio y transformaciones tecnológicas de nuestro medio, hay un consenso generalizado en que los docentes deben poner más énfasis en que los alumnos comprendan las técnicas que están aprendiendo y no sólo conocer su aplicación
        y detalles tecnológicos, de modo que el graduado sepa buscar y aplicar la información que le será necesaria para la toma de decisiones en su actividad profesional.</p>
    </div>
  </ion-content>
</ion-view>