<ion-view title="Inicio" hide-nav-bar="true" id="page1">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/YWRVhOKAT6y1chdOuZsm_FondoApp8.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 25px;"></div>
    <div>
      <img src="img/cmz74GzFTTGzs5qwoyEn_LogoGuiaUNLaR512.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="inicio-list2">
      <ion-item class="item-avatar dark" id="inicio-list-item10" ui-sref="gUAUNLaR.ingresantes()">
        <img src="img/RIqR36eWSum5t4qicPRP_Guia1.png">
        <h2dark>Ingresantes</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item11" ui-sref="gUAUNLaR.estudiantes()">
        <img src="img/OLp0rjwHRHKChto5ySR2_Guia2.png">
        <h2dark>Estudiantes</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item12" ui-sref="gUAUNLaR.graduados()">
        <img src="img/pmoJku39RYOBuLlwj44O_Guia3.png">
        <h2dark>Graduados</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item13" ui-sref="gUAUNLaR.noticias()">
        <img src="img/QfCqehMOSpKFXBSUCy5A_Guia4.png">
        <h2dark>Noticias</h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="inicio-list-item15" ui-sref="gUAUNLaR.acercaDeLaApp()">
        <img src="img/KjaDpahSdeOleogv21mA_Guia6.png">
        <h2dark>Acerca de la App</h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="gUAUNLaR.comedorUniversitario()" id="inicio-button30" style="font-weight:500;color:#FFFFFF;" class="button button-energized button-block">Comedor Universitario</a>
    <a ui-sref="gUAUNLaR.cineClubUniversitario()" id="inicio-button33" style="font-weight:500;color:#FFFFFF;" class="button button-energized button-block">CineClub Universitario</a>
  </ion-content>
</ion-view>