<ion-view title="Lic. en Hidrogeología" id="page171">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qvxjFqCRsuB6anVS8Vgj_Lic.-en-Hidrogeologia.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 022/95</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>
        <ul>
          <li>Sólida formación para: toda actividad que se refiera a las distintas&nbsp;disciplinas y/o especialidades de la hidrología subterránea y&nbsp;superficial, geología estructural, geomorfología, sedimentología,&nbsp;hidrometereología, fotogeología,
            perforaciones hidrológicas,&nbsp;exploración geofísica aplicada, hidroquinona, hidráulica general,&nbsp;manejo de cuencas, mecánica de los fluidos, geología Aplicada, etc.,&nbsp;destinados puramente a responder a la necesidad de acrecentar
            los&nbsp;conocimientos científicos en las respectivas materias.&nbsp;</li>
        </ul>
        <ul>
          <li>Sólida formación orientada a la resolución de los problemas que&nbsp;presente o pueda presentar la exploración y explotación racional de&nbsp;los recursos hídricos y el aprovechamiento de las características del&nbsp;suelo y subsuelo conducentes
            en todos los casos a asegurar las&nbsp;necesarias condiciones de eficiencia y seguridad en el rendimiento&nbsp;económico de tales explotaciones, obras o construcciones.&nbsp;</li>
        </ul>
        <ul>
          <li>Capacitación para realizar exploración, la ubicación y explotación de&nbsp;los recursos hídricos.&nbsp;</li>
        </ul>
        <ul>
          <li>Capacitación para asesorar en los estudios técnico económicos de&nbsp;exploración, captación, explotación y distribución del recurso&nbsp;hídrico, los estudios destinados a fundaciones y estabilidad de&nbsp;terrenos, y todas aquellas aplicaciones
            requeridas por las&nbsp;construcciones, vías de comunicaciones, obras de embalse, etc.&nbsp;</li>
        </ul>
        <ul>
          <li>Capacitación para diseñar, dirigir y ejecutar plantas de agua potable.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título</u>
        </span>
      </h4>
      <div>
        <ul>
          <li>Estudios y sondeos hidrológicos.</li>
        </ul>
        <ul>
          <li>Estudios y sondeos, para la captación de aguas subterráneas.</li>
        </ul>
        <ul>
          <li>Estudios y controles estratigráficos y estructurales.</li>
        </ul>
        <ul>
          <li>Estudio y control geológico para la construcción de obras de embalse&nbsp;y canales.</li>
        </ul>
        <ul>
          <li>Estudio y control geológico para la exploración y explotación de los&nbsp;recursos hídricos superficial y subterráneo.</li>
        </ul>
        <ul>
          <li>Diagnóstico para la construcción de obras hidráulicas.</li>
        </ul>
        <ul>
          <li>Cuestiones de límites jurisdiccionales, cuando las condiciones&nbsp;geológicas y geomorfológicas de los terrenos tengan implicancia en&nbsp;su definición (captación de ríos, cursos actuales o del pasado sujetos&nbsp;o variación).&nbsp;</li>
        </ul>
        <ul>
          <li>Carteo hidrogeológico.</li>
        </ul>
        <ul>
          <li>Planeamiento y control de perforaciones para la exploración y&nbsp;explotación de los recursos hídricos.</li>
        </ul>
        <ul>
          <li>Asesoramiento hidrogeológico para proyectos urbanísticos.</li>
        </ul>
        <ul>
          <li>Relevamiento de mapas de suelo.</li>
        </ul>
        <ul>
          <li>Estudio y control geológico en problemas de saneamiento ambiental&nbsp;y preservación de recursos naturales no renovables.</li>
        </ul>
        <ul>
          <li>Operaciones Topográficas de carácter general, inclusive de&nbsp;angulaciones menores para trabajos geológicos superficiales.</li>
        </ul>
        <ul>
          <li>Una vez producidas las causales: Asuntos de interés geológicos,&nbsp;fallos de obras atribuidas a la fundación, terrenos de emplazamiento&nbsp;y desprendimientos de terrenos. Efecto destructivo de la erosión,&nbsp;aluviones, fenómenos sísmico.
            Efectos destructivos y problemas&nbsp;causados por la actividad humana. Peritajes. Análisis hidroquimicos.</li>
        </ul>
        <ul>
          <li>Realización de perforaciones (ubicación, control y terminación)</li>
        </ul>
        <ul>
          <li>Interpretación de los efectos de fenómenos sísmicos.&nbsp;</li>
        </ul>
        <ul>
          <li>Interpretación geológica de estudios geofísicos.</li>
        </ul>
        <ul>
          <li>Evaluación de suelos y subsuelo.</li>
        </ul>
        <ul>
          <li>Asesoramiento en exploración, captación, explotación y distribución&nbsp;del recurso hídrico.</li>
        </ul>
        <ul>
          <li>Les corresponde actuar en pericias, toda vez que los intereses de la&nbsp;comunidad o particulares se vean afectados por los problemas&nbsp;involucrados en los ítems enumerados precedentemente.&nbsp;</li>
        </ul>
        <ul>
          <li>Realizar tareas de Investigación para la exploración y explotación del&nbsp;recurso hídrico.&nbsp;</li>
        </ul>
        <ul>
          <li>Dirigir técnicamente empresas de exploración y/o explotación de los&nbsp;recursos hídricos.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>