<ion-view title="Lic. en Artes Plásticas" id="page143">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/M3i5gbdKRKmnJqTWIoBR_Lic.enArtesPlsticas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 267/04</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 0210/06</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Título de Licenciado en Artes Plásticas</span>
      </h4>
      <div>El Plan de estudio de la Carrera de Licenciatura en Artes Plásticas capacita al egresado para que obtenga el siguiente perfil:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Ser un profesional creativo, capaz de producir objetos de arte con calidad en los diferentes ámbitos de la plástica.</li>
        </ul>
        <ul>
          <li>Aportar al arte y a la sociedad objetos de arte que en este ámbito pasen a ser objetos culturales.</li>
        </ul>
        <ul>
          <li>Investigar las técnicas, procedimientos, materiales, procesos de producción, etc., en el ámbito específico y en todo tipo de investigación interdisciplinaria&nbsp;y de nuevas tecnologías.</li>
        </ul>
        <ul>
          <li>Capacitarse en forma continua, asumiendo una actitud crítica e innovadora como estilo de vida que se evidencie en la creación y producción de obras.</li>
        </ul>
        <ul>
          <li>Comprender de una manera reflexiva y critica los fundamentos teóricos y epistemológicos del arte.</li>
        </ul>
        <ul>
          <li>Conocer, comprender e interpretar críticamente las manifestaciones del arte, interrelacionándolas con su contexto socio-temporal, para valorar y enriquecer su propio proceso creativo.</li>
        </ul>
        <ul>
          <li>Colaborar, desempeñar tareas y asesorar en instituciones, organizaciones culturales y empresas en todo aquello relativo a su campo profesional.</li>
        </ul>
        <ul>
          <li>Ejecutar y colaborar en la elaboración y evaluación de proyectos artísticos, culturales e interdisciplinarios.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título de Licenciado en Artes Plásticas</span>
      </h4>
      <div>&nbsp;</div>
      <div>
        <ol>
          <li>Crear y producir objetos de arte con calidad en los diferentes ámbitos de la plástica.</li>
          <li>Asesorar en cuestiones técnicas relativas a la obra de arte.</li>
          <li>Diseñar, dirigir, ejecutar y evaluar proyectos de investigación desde la producción artística original.</li>
          <li>Diseñar, dirigir, ejecutar y evaluar proyectos de investigación sobre el arte en todo tipo de investigación interdisciplinaria, para proponer una visión amplia de las incumbencias e influencias del proceso de creación y producción artística
            en el campo cultural.</li>
          <li>Asesorar diagnosticar, diseñar, dirigir, ejecutar y evaluar proyectos artísticos, culturales y educativos en el ámbito de las artes plásticas.</li>
          <li>Ejercer la crítica en el campo de las artes plásticas.</li>
          <li>Insertar y difundir su obra en el ámbito cultural por medio de exposiciones, publicaciones en diferentes medios, participación en concursos.</li>
          <li>Desempeñar cargos en instituciones culturales y empresas que tengan que ver con su ámbito profesional (museos, secretaria de cultura, centros culturales, etc).</li>
        </ol>
      </div>
    </div>
  </ion-content>
</ion-view>