<ion-view title="Lic. en Turismo" id="page130">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/P8wfIIEMThKvscKyGt3g_Lic.enTurismo.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil Profesional</u>
        </span>
      </h4>
      <div>El Licenciado en Turismo es un graduado universitario&nbsp;consustanciado con la realidad local, regional y nacional, habiendo&nbsp;incorporado en su formación conocimientos conceptuales,&nbsp;procedimentales y actitudinales que le permiten intervenir
        en el&nbsp;ámbito público, privado y en organizaciones intermedias desde la&nbsp;concepción y principios del desarrollo turístico sustentable.</div>
      <div>&nbsp;</div>
      <div>Posee las actitudes, aptitudes y conocimientos para analizar y&nbsp;comprender el fenómeno turístico en un contexto global, desde una&nbsp;mirada reflexiva-crítica, innovadora y creativa, con responsabilidad&nbsp;en la toma de decisiones de alto
        nivel.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El Licenciado en Turismo es el profesional capacitado a nivel académico con dominio del conocimiento y las competencias para&nbsp;integrar equipos interdisciplinarios y multidisciplinarios que le&nbsp;permitan actuar como asesor en la formulación,
        gestión y evaluación&nbsp;de políticas de turismo, planes integrales de desarrollo turístico,&nbsp;programas y proyectos vinculados al sector.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Posee capacidad y habilidades para desempeñarse tanto en áreas gerenciales como operativas de las empresas turísticas, con el fin de&nbsp;analizar las características, cambios y tendencias de los servicios&nbsp;turísticos y proponer diversas acciones
        estratégicas encaminadas a&nbsp;detectar oportunidades de mercado para impulsar su&nbsp;comercialización en un ámbito de intensa competencia, sobre la base&nbsp;de la responsabilidad social.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Posee el espíritu, la formación específica y las herramientas para generar su propio emprendimiento de manera de contribuir al&nbsp;desarrollo socioeconómico de su región o país, asegurando un&nbsp;desarrollo turístico en estrecha armonía con el
        de las comunidades&nbsp;anfitrionas.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El Licenciado en Turismo posee formación conceptual, metodológica&nbsp;y técnica que le permite desempeñarse como asesor o consultor&nbsp;interno o externo en lo concerniente a la organización de empresas&nbsp;turísticas, investigación científica,
        formulación de diagnósticos y&nbsp;estrategias referidos al funcionamiento del sistema turístico en su&nbsp;conjunto, así como en la legislación específica, de forma tal de estar&nbsp;a la vanguardia en el área de su especialidad.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El Licenciado en Turismo está capacitado para desarrollar actividades académicas en el campo de la docencia, investigación,&nbsp;difusión y extensión en instituciones públicas y privadas, con el fin&nbsp;de producir nuevos aportes que le permitan
        adaptarse a los cambios&nbsp;que presenta el desarrollo de la actividad y el ejercicio de su rol, a&nbsp;partir de la construcción de conocimientos científicos y&nbsp;reconfiguración significativa de las experiencias aquilatadas en el&nbsp;ejercicio
        de su rol.&nbsp;</div>
      <div>&nbsp;</div>
      <h3>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h3>
      <div>El Licenciado en Turismo es competente para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>
            <div>Planificar estratégicamente el desarrollo integral del sistema&nbsp;turístico, a través de la formulación y evaluación de planes,&nbsp;programas y proyectos a nivel oficial y/o privado, orientados a la&nbsp;preservación del patrimonio natural
              y cultural, a nivel local, regional&nbsp;y nacional.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Realizar estudios e investigaciones relacionadas con los recursos y la&nbsp;actividad turística, sus tendencias y perspectivas, para un desarrollo&nbsp;turístico sustentable.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Asesorar en entes públicos y/o privados en la formulación y evaluación de proyectos de inversión e investigación para la&nbsp;determinación de áreas y zonas turísticas prioritarias.</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Gestionar y administrar organizaciones prestadoras de servicios&nbsp;turísticos y las vinculadas al sector difundiendo prácticas&nbsp;sustentables.</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Diseñar, instrumentar y dirigir programas de promoción turística de&nbsp;productos y destinos competitivos y sustentables, que satisfagan las&nbsp;necesidades del mercado nacional e internacional.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Intervenir técnicamente en la organización, estructura y funcionamiento del organismo público y/o privado vinculado al&nbsp;turismo; así como en el uso eficiente de los recursos humanos,&nbsp;materiales, técnicos y financieros.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Asesorar en la elaboración de normas y políticas para el manejo y conservación de los recursos turísticos actuales y potenciales, así&nbsp;como de las empresas y/o actividades vinculadas al sector.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Desempeñarse de forma honesta con principios éticos y valores que le permitan tener una actitud humanista, científica y con&nbsp;responsabilidad social, que garantice la mejora de la actividad&nbsp;turística, la calidad de vida de las comunidades
              receptoras, el respeto&nbsp;a la conservación de los recursos naturales, y la herencia histórico&nbsp;cultural de los pueblos.&nbsp;</div>
            <p>&nbsp;</p>
          </li>
        </ul>
        <ul>
          <li>
            <div>Organizar, coordinar y administrar ideas o proyectos a fin de promover la autogestión y la cultura emprendedora.&nbsp;</div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>