<ion-view title="Lic. en Producción de Bioimágenes" id="page116">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/4qbT64n4Q2Dr5paTHYAQ_Lic.enBioimgenes.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza H.C.S. Nº 183/02</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1025/2003</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El “Licenciado en Producción de Bio-imágenes” es un profesional que tiene capacidad de aplicar técnicas adecuadas para brindar al equipo de salud: calidad de imagen diagnostica en las áreas de radiología convencional, hemodinamia y angiografía,
        medicina nuclear, radioterapia, resonancia magnética nuclear, tomografía axial computada, mamografía, etc,; ocupándose, asimismo, del manejo de los instrumentos, su procesamiento y la preparación del paciente para los estudios específicos, desarrollando
        capacidades y valores que permiten:</div>
      <div>
        <ul>
          <li>Asistir al hombre sano tanto a nivel individual como familiar y comunitario, valorizando las acciones de promoción y protección de salud.</li>
        </ul>
        <ul>
          <li>Valorar los factores ambientales, culturales, sociales y económicos causantes de la enfermedad, reconociendo las deficiencias y promoviendo su corrección.</li>
        </ul>
        <ul>
          <li>Incentivar la participación del individuo, familia y comunidad en la resolución de los problemas de salud y enfermedad.</li>
        </ul>
        <ul>
          <li>Demostrar una actitud positiva hacia la integración docente-asistencial.</li>
        </ul>
        <ul>
          <li>Aplicar una actitud positiva hacia la investigación en el campo de Diagnóstico por Imágenes siguiendo el método científico.</li>
        </ul>
        <ul>
          <li>Desarrollar las responsabilidades del autoaprendizaje.</li>
        </ul>
        <ul>
          <li>Integrar equipos de salud interdisciplinarios y multidisciplinarios.</li>
        </ul>
        <ul>
          <li>Planificar, programar, ejecutar y evaluar acciones de salud, teniendo en cuenta los problemas sanitarios prevalentes y prioritarios.</li>
        </ul>
      </div>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>Alcances del Título</strong>
        </span>
      </h4>
      <div>&nbsp;</div>
      <div>1. Aplicar por indicación médica y/u odontológica, los métodos de alta complejidad para la obtención de imágenes y registros utilizables en el diagnóstico médico.</div>
      <div>&nbsp;</div>
      <div>2. Evaluar y juzgar la calidad de imágenes y registros resultantes de la aplicación de los métodos, técnicas y procedimientos convencionales y de alta complejidad.</div>
      <div>&nbsp;</div>
      <div>3. Procesar y ordenar el material sensible utilizado en el área convencional y de alta complejidad del Servicio de Diagnóstico por Imágenes.</div>
      <div>&nbsp;</div>
      <div>4. Controlar las condiciones operativas del equipamiento convencional y de alta complejidad del Servicio de Diagnóstico por Imágenes.</div>
      <div>&nbsp;</div>
      <div>5. Seleccionar y controlar los insumos necesarios y sus especificaciones técnicas para el adecuado funcionamiento del Servicio de Diagnóstico por Imágenes.</div>
      <div>&nbsp;</div>
      <div>6. Supervisar la correcta utilización de la aparatología específica, la disposición transitoria y/o final de material de riesgo y los tiempos de exposición a los que son sometidos los pacientes y el personal técnico.</div>
      <div>&nbsp;</div>
      <div>7. Participar en la Planificación, Organización, ejecución y evaluación de las estrategias operativas de los Servicios de Diagnóstico por Imágenes.</div>
      <div>&nbsp;</div>
      <div>8. Planificar y ejecutar investigaciones en el área de competencia.</div>
      <div>&nbsp;</div>
      <div>9. Colaborar en la implementación de los criterios de Radioprotección y Bioseguridad para la población ocupacional y no ocupacional.</div>
      <div>&nbsp;</div>
      <div>10. Brindar, bajo indicación y supervisión del Médico Especialista, los cuidados transitorios emergentes de las situaciones derivadas de la aplicación de los métodos y procedimientos de alta complejidad hospitalaria.</div>
      <div>&nbsp;</div>
      <div>11. Participar en la planificación, organización, ejecución y evaluación de los métodos y procedimientos de alta complejidad hospitalaria.</div>
      <div>&nbsp;</div>
      <div>12. Participar en la planificación, organización, ejecución y evaluación de estrategias orientadas hacia la optimización del área de alta complejidad en situaciones de emergencia y catástrofe.</div>
      <div>&nbsp;</div>
      <div>13. Colaborar en la administración de Servicios de Diagnóstico por Imágenes.</div>
    </div>
  </ion-content>
</ion-view>