<ion-view title="Lic. en Música" id="page146">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">INDICE</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <ion-list id="licEnMSica-list17">
      <ion-item class="positive" id="licEnMSica-list-item116" ui-sref="gUAUNLaR.menciNCanto()">Mención Canto</ion-item>
      <ion-item class="positive" id="licEnMSica-list-item117" ui-sref="gUAUNLaR.menciNComposiciN()">Mención Composición</ion-item>
      <ion-item class="positive" id="licEnMSica-list-item118" ui-sref="gUAUNLaR.menciNDirecciNCoral()">Mención Dirección Coral</ion-item>
      <ion-item class="positive" id="licEnMSica-list-item120" ui-sref="gUAUNLaR.menciNInstrumentoDeOrquestaPianoOGuitarra()">Mención Instrumento de Orquesta, Piano o Guitarra</ion-item>
    </ion-list>
  </ion-content>
</ion-view>