<ion-view title="Lic. en Economía" id="page128">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/EDhkjeDqQp6KJPeoixS7_Lic.-en-Economa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>El perfil del Licenciado en Economía apunta al desarrollo de&nbsp;habilidades básicas para el desempeño de las siguientes actividades:</div>
      <div>
        <ul>
          <li>Actividad independiente de asesoramiento económico a empresas, en&nbsp;cuestiones vinculadas con toma de decisiones respecto a inversiones,&nbsp;financiamiento, precios, estrategias de comercio exterior, etcétera,&nbsp;particularmente en aquellos
            problemas que requieren una perspectiva&nbsp;global sobre la marcha de la economía y de los negocios.</li>
        </ul>
        <ul>
          <li>Evaluación económica de proyectos de inversión, estudios de&nbsp;factibilidad financiera de inversiones, etc.</li>
        </ul>
        <ul>
          <li>Actividad en relación de dependencia en empresas privadas o&nbsp;públicas, en cuestiones vinculadas con la gestión económica de las mismas.</li>
        </ul>
        <ul>
          <li>Funciones públicas en organismos de la administración central del gobierno&nbsp;o en entes descentralizados, en cuestiones que requieran capacidad de&nbsp;análisis y/o de decisión sobre cuestiones económicas.</li>
        </ul>
        <ul>
          <li>Actividad de consultoría de gobiernos sobres cuestiones de diseño e&nbsp;instrumentación de políticas económicas globales o sectoriales.</li>
        </ul>
        <ul>
          <li>Investigación y docencia sobre temas económicos.</li>
        </ul>
        <div>&nbsp;</div>
        <h4>
          <span style="color: #ff6600;">Alcances del Título</span>
        </h4>
        <div>
          <div>
            <div>El título de Licenciado en Economía otorga competencias para el ejercicio profesional con los siguientes alcances:</div>
          </div>
          <ul>
            <li>Realización de estudios y preparación de dictámenes o informes sobre los siguientes aspectos macroeconómicos: Metodología, Cálculo, y análisis del producto bruto global, regional, y sectorial; Crecimiento, desarrollo y progreso económico;
              Análisis de coyuntura global, regional y sectorial; Otros estudios y análisis vinculados a la estructura de la economía.</li>
            <li>Realización de estudios y preparación de dictámenes o informes sobre los siguientes aspectos microeconómicos: Asignación eficiente de recursos económicos, Formación de precios en distintos mercados y situaciones referidas a: Unidades económicas
              de producción y de consumo; Formulación y evaluación económica de proyectos de inversión; Otros estudios y análisis vinculados al comportamiento de las unidades económicas.</li>
            <li>Diseño de modelos de política económica.</li>
            <li>Realización de estudios y preparación de dictámenes o informes sobre comercio, finanzas, mercados y economía internacional.</li>
            <li>Realización de estudios y preparación de dictámenes o informes econométricos.</li>
            <li>Actuación judicial: Perito en las incumbencias señaladas.</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>