<ion-view title="Lic. en Turismo Ecológico " id="page140">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/wNiyA0ZSyKxrPfCi2nw0_Lic.enTurismoEcolgico.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL PROFESIONAL</u>
          </strong>
        </span>
      </h4>
      <ul>
        <li>El Licenciado en Turismo Ecológico es un graduado universitario que habiendo adquirido las competencias del campo de su saber, tiene conocimiento suficiente de turismo, específicamente de turismo ecológico, habilitándolo practica y procedimentalmente
          para la innovación, creatividad y generación de emprendimientos en el concepto de sustentabilidad, tanto en organismos públicos como privados.</li>
        <li>Es un profesional que al estar comprometido con el medioambiente, está habilitado para colaborar e innovar en los emprendimientos de las empresas turísticas (privadas o públicas), desempeñando el rol de asesor interno o externo.</li>
        <li>Está formado a nivel académico para integrar Equipos Interdisciplinarios cuya finalidad es la Estimación del Impacto Ambiental (EIA) de diferentes Proyectos Ecológicos de envergadura adoptando políticas correctivas y actitudes estratégicas frente
          el medioambiente y popularizando el concepto de desarrollo sustentable.</li>
        <li>El Licenciado en Turismo Ecológico, está habilitado para desarrollar tareas académicas, de extensión en investigación en Instituciones del Estado Provincial y Nacional, con el afán de producir aportes que permitan adaptarse a cambios que le presenta
          el ejercicio de su rol y que a su vez enriquezcan el área de su profesión.</li>
        <li>Posee capacidad y habilidad para administrar y dirigir empresas de servicios turísticos y de las vinculadas al sector, como así también la formulación y evaluación de planes, programas y proyectos turísticos, tanto públicos como privados, orientados
          a la preservación del patrimonio turístico.</li>
        <li>Su formación le permite co-asesorar en la gestión específica, referida particularmente a los aspectos relacionados a la promoción y desarrollo del respeto en el uso del medio ambiente.</li>
        <li>Posee conocimientos para coordinar e integrar las actividades productivas de bienes y servicios vinculadas al desarrollo del sector turístico, impulsando la conservación del patrimonio cultural y natural.</li>
      </ul>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>
        </span>
      </h4>
      <p>El Licenciado en Turismo Ecológico es competente para:</p>
      <ul>
        <li>Planificar estratégicamente acciones tendientes al desarrollo integral del sistema turístico a través de la formulación y evaluación de planes, programas y proyectos, orientados a la preservación del patrimonio turístico natural y cultural, su
          puesta en valor, sus diferentes usos, su conservación y/o regeneración en función de los objetivos previstos, ya sea a nivel local, provincial o nacional.</li>
        <li>Asesorar, evaluar y elaborar proyectos de inversión e investigación para la determinación de áreas y zonas de interés turísticos de reservas y demás áreas protegidas.</li>
        <li>Crear alternativas diferentes para el desarrollo de nuevos circuitos turísticos, incluyendo el entorno ecológico particular de la región y la provincia.</li>
        <li>Intervenir técnicamente en la organización, estructura y funcionamiento del ente organismo público y/o privado o empresa que se vincule directamente con el fenómeno turístico natural en el que se desempeña.</li>
        <li>Dar a conocer los principios que sustentan el desarrollo como factor de cambio en las estructuras socio-económicas de la región, la provincia y el país encaminados a la preservación y conservación de los atractivos naturales, utilizando los recursos
          humanos.</li>
        <li>Intervenir en el asesoramiento legal administrativos para la gestión de todas las empresas.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>