<ion-view title="Lic. en Teología y Religiones Comparadas" id="page153">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fEeHNiKTx26M4PHjwHLO_Lic.enTeologas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 430/2011</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 1186/12</span>
      </h4>
      <hr>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Teología y Religiones Comparadas es un profesional formado en destrezas académicas y científicas vinculados con Religión y Teologías.</div>
      <div>&nbsp;</div>
      <div>Habilitado para enseñar, investigar, interpretar, diagnosticar o ilustrar en relación a temáticas Religiosas y/o Teológicas, generales o específicas.</div>
      <div>&nbsp;</div>
      <div>Dotado para fomentar o generar actitudes y performances Académicas, Científicas y de Extensión articulables con la Moral y la Deontología Social.</div>
      <div>Apto para coadyuvar con actividades de difusión Teológica.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances de la Titulación</span>&nbsp;</h4>
      <div>El Título de Licenciado en Teología y Religiones Comparadas de la Universidad Nacional de la Rioja habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Dictaminar, Ilustrar y/o Asesorar en relación a cuestiones de naturaleza Religiosa.</li>
        </ul>
        <ul>
          <li>Ejercer Actividad Docente Pública o Privada en el Nivel Primario, Secundario, Terciario y Universitario en el ámbito de las Teologías y/o Religiones (Ecuménicas o no), y en la interpretación de Credos, Rituales, Liturgias u otras manifestaciones
            de identidad correlativa.</li>
        </ul>
        <ul>
          <li>Incumbencias en discernir y evaluar el alcance histórico, filosófico, pedagógico, social y político del quehacer religioso y su proyección en lo actual.</li>
        </ul>
        <ul>
          <li>Fomentar el ejercicio crítico de una Conciencia Moral trascendente en individuos, grupos y/o comunidades.</li>
        </ul>
        <ul>
          <li>Producir y/o dirigir ediciones, redacción o corrección de publicaciones religiosas y afines.</li>
        </ul>
        <ul>
          <li>Participar en la expedición de criterios objetivos inherentes a fetichismos, fanatismo, fundamentalismos, mitos y/o sincretismos.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>