<ion-view title="Lic. en Lengua y Literatura Portuguesa" id="page165">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/KaaJilevRouTGWVwFLbw_Lic.enLenguayLiteraturaPortuguesa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 084/98</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">PERFIL DEL GRADUADO</span>
      </h4>
      <p>El Licenciado en Lengua y literatura Portuguesa deberá tener dominio de la lengua materna y deberá poseer una excelente competencia en la lengua portuguesa. Dicha competencia deberá abarcar los siguientes niveles lingüísticos: fonológico, sintáctico,
        léxico, semántico y pragmático. También deberá tener un alto grado de fluidez y precisión lingüística, ya que funcionará como modelo ante sus alumnos.</p>
      <p>Asimismo, poseerá y fundamentará criterios propios de selección de técnicas y medios adecuados para el logro de los fines de la investigación.
        <br>Será competente en el diseño, construcción y evaluación de estrategias de integración de la lengua portuguesa o un proyecto educativo común con las demás áreas de formación (relación interdisciplinaria).</p>
      <p>Finalmente, deberá ubicarse lúcidamente en la realidad nacional para poder participar en forma comprometida, reflexiva y critica en las decisiones y acciones sociales que le competen como persona, ciudadano y profesional. Al mismo tiempo, ejercitará
        junto a sus alumnos el desarrollo del sentido crítico que les permita no sólo insertarse en la realidad, sino también intentar superarla en sus aspectos negativos.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">ALCANCES DEL TITULO</span>
      </h4>
      <p>El Título de licenciado en lengua y literatura Portuguesa habilita para:</p>
      <p>• Estudios e investigaciones acerca del conocimiento de la lengua portuguesa. Su conformación, evolución, estructura, tipos de discurso y producción literaria en el contexto de la literatura universal.</p>
      <p>• Asesorar en lo relativo a la lengua portuguesa, su conformación, evolución, estructura, tipos de discurso y producción literaria, a instituciones tanto públicas como privadas.</p>
      <p>• Elaborar, dirigir, ejecutar y supervisar programas de edición Literaria.</p>
      <p>• El trabajo interdisciplinario con profesionales de distintas áreas tales como científicos, médicos, ingenieros, etc.</p>
      <p>• Actividad en relación de dependencia en empresas públicas o privadas en cuestiones vinculadas a la lengua portuguesa.</p>
      <p>• Desempeñar funciones públicas en la administración central del gobierno o en entes descentralizados relacionadas con cuestiones educativas de evaluación de proyectos o investigación.</p>
    </div>
  </ion-content>
</ion-view>