<ion-view title="Lic. en Ciencias de la Educación" id="page121">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/tpfh4cbMSJiRim7KXK1v_Lic.enCienciasdelaEducacin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 182/02</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1244/04</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Modalidad: a Distancia, Semi presencial</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Ciencias de la Educación es el graduado universitario que realiza tareas de planeamiento, diagnóstico, conducción y evaluación educacional. Habiendo adquirido las competencias propias del campo de su saber es capaz de:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Percibir la importancia explicativa de las cosmovisiones o conjuntos organizados de principios, teorías, concepciones filosóficas, ante las manifestaciones de la cultura, ciencia y de la técnica.</li>
        </ul>
        <ul>
          <li>Conocer, comprender e interpretar críticamente la situación educativa y pedagógica del país y de la región, en sus aspectos micro y macro, a fin de proponer alternativas de cambio y de solución a los problemas que la misma plantea.</li>
        </ul>
        <ul>
          <li>Comprender de una manera reflexiva y crítica los fundamentos teóricos y epistemológicos de las Ciencias de la Educación.</li>
        </ul>
        <ul>
          <li>Abordar, con responsabilidad social, la problemática educativa en situaciones tanto formales como informales.</li>
        </ul>
        <ul>
          <li>Conocer los fundamentos de los procesos de enseñanza y aprendizaje, para poder asesorar con criterios científicos y abordar los mismos con excelencia académica y conocimiento de la realidad del contexto en donde se desenvuelvan, posibilitando
            las “buenas practicas”.</li>
        </ul>
        <ul>
          <li>Capacitarse en forma continua, asumiendo las tareas de investigación de las situaciones educativas como un estilo de vida; elaborando los modelos teóricos y la producción de conocimientos e innovación.</li>
        </ul>
        <ul>
          <li>Adquirir un estilo de gestión profesional cooperativa y en red, que fomente la discusión y el respeto por las personas y sus ideas.</li>
        </ul>
        <ul>
          <li>Operar con las herramientas tecnológicas adecuadas para una praxis de excelencia.</li>
        </ul>
        <ul>
          <li>Ejecutar y colaborar con la evaluación y gestión de las instituciones y organizaciones educativas de todos los niveles.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Licenciado en Ciencias de la Educación tiene las siguientes competencias profesionales:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Planificar, conducir y evaluar procesos, programas y proyectos de formación y actualización para el desempeño de los distintos roles educativos: formales; no formales e informales; presenciales; y a distancia.</li>
        </ul>
        <ul>
          <li>Diagnosticar, diseñar, dirigir, ejecutar y evaluar planes, programas, proyectos y modelos educativos y culturales, a nivel macro y micro.</li>
        </ul>
        <ul>
          <li>Diagnosticar, elaborar, ejecutar y evaluar modelos y diseños de gestión y administración educacional.</li>
        </ul>
        <ul>
          <li>Diseñar, dirigir, ejecutar y evaluar proyectos de investigación educativa.</li>
        </ul>
        <ul>
          <li>Diseñar, producir y evaluar materiales educativos de distinta complejidad tecnológica, propiciando la innovación educativa.</li>
        </ul>
        <ul>
          <li>Asesorar en la elaboración, ejecución, conducción y evaluación de planes, programas y proyectos de acción socio-cultural-educativa.</li>
        </ul>
        <ul>
          <li>Asesorar para el planeamiento de los recursos económicos, financieros y humanos, destinados al sector educativo y a programar educativos.</li>
        </ul>
        <ul>
          <li>Colaborar y desempeñarse en la práctica pedagógica, de acuerdo al área curricular especifica.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>