<ion-view title="Lic. en Historia" id="page145">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IldEDXUTAWiNXuzD5dqA_Lic.enHistoria.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>
        <ul>
          <li>Posee conocimientos y capacidades para ser un profesional&nbsp;preparado en los aspectos teóricos y metodológicos de la historia.&nbsp;</li>
        </ul>
        <ul>
          <li>Posee dominio de los conocimientos específicos de la disciplina y&nbsp;de la orientación.</li>
        </ul>
        <ul>
          <li>Está capacitado para realizar tareas de investigación histórica en&nbsp;instituciones públicas y privadas.</li>
        </ul>
        <ul>
          <li>Está capacitado para participar en la docencia a nivel superior y&nbsp;universitario y la práctica profesional en los diversos sectores de actividad&nbsp;social y cultural de la realidad local, nacional e internacional.&nbsp;</li>
        </ul>
        <ul>
          <li>Está formado para el trabajo interdisciplinario con la apertura en la&nbsp;investigación a los aportes de otras disciplinas sociales y una actitud abierta&nbsp;a la colaboración con otros profesionales.&nbsp;</li>
        </ul>
        <ul>
          <li>Es reflexivo, tolerante, crítico, producto del conocimiento adquirido&nbsp;y responsable frente a las transformaciones y demandas.</li>
        </ul>
        <ul>
          <li>Posee conocimiento profundo y dominio de técnicas de&nbsp;investigación en arqueología.</li>
        </ul>
        <ul>
          <li>Está capacitado para diseñar, evaluar y asesorar planes, políticas y&nbsp;programas científicos y de desarrollo de la disciplina histórica, que&nbsp;permitan tener un impacto social.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Título de Licenciado en Historia de la Universidad Nacional de La&nbsp;Rioja capacita y habilita para:&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Realizar estudios e investigaciones históricas de la evolución de&nbsp;procesos sociales, políticos, económicos y culturales propios del quehacer&nbsp;humano.&nbsp;</li>
        </ul>
        <ul>
          <li>Intervenir en proyectos universitarios, extrauniversitarios destinados&nbsp;a la preservación de fuentes documentales y del patrimonio histórico.</li>
        </ul>
        <ul>
          <li>Dirigir investigaciones disciplinarias e interdisciplinarias.</li>
        </ul>
        <ul>
          <li>Diseñar, planificar, dirigir y realizar investigaciones históricas.</li>
        </ul>
        <ul>
          <li>Asesorar Organismos Públicos y Privados dedicados a la&nbsp;conservación del patrimonio histórico y cultural.</li>
        </ul>
        <ul>
          <li>Participar, coordinar y evaluar distintos tipos de investigaciones&nbsp;historiográficas.</li>
        </ul>
        <ul>
          <li>Diseñar, planificar, conducir y evaluar programas, proyectos y actividades culturales.</li>
        </ul>
        <ul>
          <li>Ejercer la docencia a Nivel Superior y Universitario.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>