<ion-view title="Lic. en Comunicación Social" id="page131">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MtdbEkpLQnWnS3U4wYL1_Lic.enComunSocial.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>El graduado en la Licenciatura en Comunicación Social, estará habilitado&nbsp;para:</div>
      <div>
        <ul>
          <li>Conocer los elementos teórico-prácticos de los procesos comunicacionales&nbsp;y su relación con la producción mediática.</li>
        </ul>
        <ul>
          <li>Interpretar los fundamentos de las Ciencias Sociales que configuran las&nbsp;prácticas en comunicación y la continuidad de sus procesos.</li>
        </ul>
        <ul>
          <li>Analizar las variables que estructuran las expresiones socio-culturales en&nbsp;su relación con las prácticas comunicacionales.</li>
        </ul>
        <ul>
          <li>Investigar y planificar estrategias aplicables al campo de la&nbsp;Comunicación Social.</li>
        </ul>
        <ul>
          <li>Estructurar nuevas alternativas que promuevan lo comunicacional en&nbsp;diferentes contextos.</li>
        </ul>
        <ul>
          <li>Generar distintos niveles de recepción, facilitando la actitud crítica ante&nbsp;los mensajes.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>La práctica profesional se desarrollará:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>En el área de la investigación teórica y aplicada.</li>
        </ul>
        <ul>
          <li>En empresas periodísticas de comunicación masiva, alternativa o&nbsp;comunitaria.</li>
        </ul>
        <ul>
          <li>En distintas organizaciones públicas o privadas.</li>
        </ul>
        <ul>
          <li>En el diagnóstico, diseño, y planificación de sistemas, medios o&nbsp;herramientas comunicacionales.</li>
        </ul>
        <ul>
          <li>En la asesoría, producción y organización de medios y productos en&nbsp;diferentes soportes que incluyan desde lo gráfico a lo multimedial.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>