<ion-view title="Lic. en Diseño y Producción Multimedial" id="page111">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/DKwyYgjiSaG8NthnONmz_Lic.-en-Diseo-y-Produccion-Multimedial.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado</u>
          </strong>
        </span>
      </h4>
      <div>La propuesta procura generar una actitud tendiente a la valoración&nbsp;del conocimiento técnico sólido, como soporte al proceso creativo, que&nbsp;permita al alumno apropiarse de los recursos del lenguaje, los contenidos y&nbsp;procedimientos,
        mediante la articulación de la perspectiva teórica con la&nbsp;práctica artística y profesional, dentro del marco de valores que propone la&nbsp;Universidad.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El futuro profesional, estará capacitado para desempeñarse&nbsp;competitivamente en las distintas áreas audiovisuales de realización,&nbsp;producción, guión, dirección de actores, dirección de arte, asistencias,&nbsp;crítica y análisis cinematográfico
        y además en las áreas técnicas de sonido,&nbsp;edición y montaje.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <div>El Título de Licenciado en Diseño y Producción Multimedial capacita y&nbsp;habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Diseñar, Dirigir y Producir productos multimediales en sus diversas&nbsp;expresiones, aplicando creativamente las tecnologías apropiadas.</li>
          <li>Asesorar sobre áreas específicas relativas a la producción multimedia.&nbsp;</li>
          <li>Identificar e Integrar los conocimientos sobre diferentes tipos de&nbsp;producciones multimediales.</li>
          <li>Planificar, Realizar y Dirigir campañas publicitarias en medios gráficos y&nbsp;audiovisuales.</li>
          <li>Editar y Postproducir productos multimediales con aplicación de efectos&nbsp;digitales de imagen y sonido.</li>
          <li>Participar creativamente en la organización de equipos de trabajo o en el&nbsp;rol de desarrollador de productos multimediales.</li>
          <li>Diseñar, Producir y Dirigir obras multimediales interactivas en entornos&nbsp;publicitarios, de entretenimiento y educativos.</li>
          <li>Adquirir las competencias intelectuales necesarias para especializarse en&nbsp;los distintos medios de imagen y sonido y en las aplicaciones de esos&nbsp;medios de expresión en proyectos de ficción, con función didáctica,&nbsp;documental, institucional
            y videos de creación.</li>
          <li>Desarrollar técnicas en el manejo de recursos humanos en grupos&nbsp;disciplinares relacionados con el diseño y realización de productos&nbsp;multimediales.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>