<ion-view title="Lic. en Letras" id="page148">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/w4tsZzCzQzylv9oRhKoA_Lic.enLetras.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 358/2008</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 137/09</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Letras, será un profesional que desarrolle competencias para desempeñarse como:&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Investigadores capaces de desarrollar la ciencia como instrumento idóneo para acrecentar el patrimonio cultural de la nación y contribuir, al mismo tiempo, al progreso universal en el contexto de la globalización.</li>
        </ul>
        <ul>
          <li>Profesionales capacitados para una adecuada aplicación de la metodología propia de la investigación en el área de la literatura.</li>
        </ul>
        <ul>
          <li>Científicos para Investigar y enriquecer creativamente los conocimientos de la cultura regional y nacional y posibilitar sus vías de expresión y transmisión.</li>
        </ul>
        <ul>
          <li>Profesionales con una sólida preparación en el campo de la investigación, en la evaluación y la producción de textos diversos.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Licenciado en Letras estará capacitado para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Realizar investigaciones en el ámbito de las ciencias literarias.</li>
        </ul>
        <ul>
          <li>Dirigir investigaciones disciplinarias e interdisciplinarias.</li>
        </ul>
        <ul>
          <li>Asesorar organismos e instituciones dedicados a la problemática cultural en el área de la literatura.</li>
        </ul>
        <ul>
          <li>Producir y evaluar material literario de distinta complejidad.</li>
        </ul>
        <ul>
          <li>Desempeñar actividades de asesoramiento y gestión editorial.</li>
        </ul>
        <ul>
          <li>Ejercer la docencia en el nivel superior respetando las disposiciones generales sobre la carrera docente en ese nivel.</li>
        </ul>
        <ul>
          <li>Integrar equipos técnicos de asesoramiento en el ámbito público y/o privado relacionados con problemáticas referidas a la producción, análisis e interpretación de discursos.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>