<ion-view title="Lic. en Ciencias Biológicas" id="page110">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/e1br3d93QNmLc3oWnRzO_Lic.enCienciasBiologicas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Objetivos de la Carrera</span>
      </h4>
      <div>
        <ul>
          <li>Formar profesionales capacitados para desarrollar investigación biológica original y prácticas profesionales,&nbsp;para el manejo y la gestión de organismos vivos, en sus diferentes niveles de organización y su ambiente dentro&nbsp;del área
            de las Ciencias Biológicas, tanto en la investigación básica como aplicadas.</li>
        </ul>
        <ul>
          <li>Detectar y resolver problemas biológicos de diversa índole. Se pretende además, que cuente con habilidades&nbsp;que le permitan interactuar de manera competente y con éxito en equipos multi e interdisciplinarios, que&nbsp;concreten soluciones
            para atender las necesidades de la sociedad, con alto sentido de identidad cultural,&nbsp;pertinencia social, actitud y ética profesional y sensibilidad socio-ambiental.</li>
        </ul>
        <p>&nbsp;</p>
        <h4>
          <span style="color: #ff6600;">Perfil del Graduado</span>
        </h4>
      </div>
      <div>La formación general del Licenciado en Ciencias Biológicas está orientada al trabajo de investigación científico-técnico, así como a otras otras actividades profesionales. El campo de trabajo para el Licenciado en Ciencias&nbsp;Biológicas es muy
        amplio y está íntimamente relacionado con el desarrollo del país a través de su participación&nbsp;en distintos sectores, pudiendo insertarse tanto en el sector público como en el privado.Los profesionales&nbsp;graduados de la UNLaR estarán preparados
        para desempeñarse en el campo de la investigación básica y&nbsp;aplicada, en la gestión, docencia e industria. El profesional formado en la Licenciatura en Ciencias Biológicas de&nbsp;la UNLaR, poseerá las competencias que le permitan ejercer
        la profesión con responsabilidad y espíritu crítico.&nbsp;Estará capacitado para identificar problemas de orden biológico, evaluarlos y proponer soluciones viables,&nbsp;mediante la utilización de metodologías científico-técnicas, con conciencia
        crítica sobre el contexto en los&nbsp;ámbitos local, regional, nacional y global.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Diseño Curricular</span>
      </h4>
      <div>La licenciatura cumplimenta dos ciclos: un Ciclo Básico que cubra la formación troncal del profesional, que le&nbsp;asegure la compresión de la composición, estructura y función de los organismos vivos, junto con temáticas&nbsp;propias de la profesión.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Este ciclo tiene como finalidad brindarle al alumno conceptos fundamentales, principios y procedimientos&nbsp;básicos de los organismos vivos y su ambiente. Paralelamente, la formación que aportan las asignaturas&nbsp;instrumentales y complementarias
        permite el abordaje de conocimientos en forma sistemática y crítica en&nbsp;función del objeto de estudio.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Ciclo Superior: En este ciclo curricular, se profundizan y completan contenidos de las áreas básicas y se&nbsp;desarrollan temáticas aplicadas relacionadas con el perfil particular de la Universidad Nacional de La Rioja. Este&nbsp;ciclo, con asignaturas
        obligatorias y electivas, está destinado a promover la intensificación integral de&nbsp;conocimientos teóricos-prácticos, preparando al alumno para el desempeño en investigación, asesoramiento y&nbsp;difusión de los conocimientos desarrollados.Se
        incorporan al Ciclo Superior materias de carácter electivo que&nbsp;flexibilizan el Plan de Estudio. Esto brinda al estudiante alternativas para adoptar una estructura propia de&nbsp;actualización o intensificación de conocimientos. Dentro del
        plan de estudio se contemplan tres trayectos&nbsp;principales de formación: La Gestión de los Sistemas Naturales, la Paleontología y el Mejoramiento Genético.</div>
    </div>
  </ion-content>
</ion-view>