<ion-view title="Lic. en Sistemas de Información" id="page112">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/f1atz8YTJijByp8Oigaf_Lic.enSistemasdeInformacin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza N°449/11</strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Resolución Ministerial N° 201/03</strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Acreditación: Resolución CONEAU N° 475/12 (Sede Capital)</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado</u>
          </strong>
        </span>
      </h4>
      <div>El Licenciado en Sistemas de Información se caracteriza por ser capaz de dar soluciones a problemas, con conocimientos y dominio del proceso de diseño y de la programación y la utilización de herramientas modernas y eficientes.</div>
      <div>&nbsp;</div>
      <div>Su formación le permite adaptarse a la dinámica organizacional, aplicando su capacitación en gestión, su entrenamiento para el trabajo en grupo y sus habilidades de comunicación y expresión. El egresado podrá conseguir estudios de posgrado (especializaciones,
        maestrías, doctorados) a los efectos de especializarse en áreas específicas de interés profesional así como contribuir a la creación de conocimiento en el área.</div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <div>Las competencias profesionales, del Licenciado en Sistemas de Información, se centraran en:</div>
      <div>&nbsp;</div>
      <div>Planificar, dirigir, realizar y/o evaluar proyectos de relevamiento, de problemas del mundo real. Especificación formal, diseño, implementación, prueba, verificación, validación, mantenimiento y control de calidad de sistemas de software que se
        ejecuten sobre sistemas de procesamiento de datos.</div>
      <div>&nbsp;</div>
      <div>Organizar, dirigir y controlar, las áreas informáticas de las organizaciones, seleccionando y capacitando al personal técnico de los mismos.</div>
      <div>&nbsp;</div>
      <div>Dirigir el relevamiento y análisis de los procesos funcionales de una organización con la finalidad de dirigir proyectos de diseños de Sistemas de Información asociados, así como los sistemas de software que hagan a su funcionamiento. Determinar
        regular y administrar las pautas operativas y reglas de control que hacen al funcionamiento de las áreas informáticas de las empresas y organizaciones.</div>
      <div>&nbsp;</div>
      <div>Entender, planificar y/o participar de los estudios técnicos, económicos de factibilidad y o referentes a la configuración y dimensionamiento de sistemas de procesos de información. Supervisar la implantación de los sistemas de información y organizar
        y capacitar al personal afectado por dichos sistemas.</div>
      <div>&nbsp;</div>
      <div>Establecer métricas y normas de calida y seguridad del software, controlando las mismas, a fin de tener un producto industrial que respete las normas nacionales e internacionales. Control de la especificación formal del producto, del proceso de
        diseño, desarrollo, implementación y mantenimiento. Establecimiento de métricas de validación y certificación de calidad.</div>
      <div>&nbsp;</div>
      <div>Planificar, dirigir, realizar y/o evaluar los sistemas de seguridad en el almacenamiento y procesamiento de la información. Realizar la especificación, diseño, desarrollo implementación y mantenimiento de los componentes de seguridad de información
        embebidos en los sistemas físicos y en los sistemas de software de aplicaron. Establecer y controlar las metodologías de procesamiento de datos orientados a seguridad, incluyendo data- Warehousing.</div>
      <div>&nbsp;</div>
      <div>Efectuar tareas de auditorias de los sistemas informáticos. Realizar arbitrajes pericias y tasaciones relacionadas con los sistemas informáticos.</div>
      <div>&nbsp;</div>
      <div>Planificar, dirigir, realizar y/o evaluar proyectos de sistemas de administración de recursos. Especificación formal de los mismos, diseño, implementación, prueba, verificación, validación, mantenimiento y control de eficiencia / calidad de los
        sistemas de administración de recursos que se implanten como software sobre sistemas de procesamiento de datos.</div>
      <div>&nbsp;</div>
      <div>Analizar y evaluar proyectos de especificación, diseño, implementación, verificación, puesta a punto y mantenimiento y actualización de sistemas de procesamiento de datos.</div>
      <div>&nbsp;</div>
      <div>Analizar y evaluar proyectos de especificación, diseño, implementación, verificación, puesta a punto y mantenimiento de redes de comunicaciones que vinculen sistemas de procesamiento de datos.</div>
      <div>&nbsp;</div>
      <div>Realizar tareas como docente universitario en informática en todos los niveles de acuerdo a la jerarquía de titulo de grado máximo. Realizar tareas de enseñanza de la especialidad en todos los niveles educativos. Planificar y desarrollar cursos
        de actualización profesional y capacitación en general en Sistemas / Sistemas de Información.</div>
      <div>&nbsp;</div>
      <div>Realizar tareas de investigación científica básica y aplicada en temas de Sistemas de Software y Sistemas de Información, participando como Becario, Docente Investigador, o Investigador Científico Tecnológico. Dirigir Proyectos. Laboratorios, Centros
        e Institutos de Investigación y Desarrollo en Informática, orientados a las áreas de Sistemas/Sistemas de Información.</div>
    </div>
  </ion-content>
</ion-view>