<ion-view title="Lic. en Enfermería" id="page115">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/OOLcFdZ9SyWCwFwxF36A_Lic.enEnfermera.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 166/01</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1049/03</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Egresado</span>
      </h4>
      <div>El Licenciado en Enfermería es el profesional formado con alto componente ético y profundidad de conocimientos en la areas disciplinares de la Enfermería que lo capacita para brindar una atención de enfermería personalizada, con enfoque y prácticas
        holísticas, al servicio de la salud del individuo, la familia y la comunidad.</div>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El título de Licenciado en Enfermería capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Planificar, Organizar, dirigir y evaluar Servicios de Enfermería.</li>
        </ul>
        <ul>
          <li>Realizar estudios e investigaciones referidos a las formas de cuidado y control de los pacientes en los niveles de prevención, tratamiento y rehabilitación de la salud.</li>
        </ul>
        <ul>
          <li>Participar en Programas de mejoramiento sanitario y educación para la salud.</li>
        </ul>
        <ul>
          <li>Planificar, programar y evaluar proyectos educativos en el Área de la Salud.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>