<ion-view title="Lic. en Criminalística" id="page133">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/y2Fe3Y9pRICA4YItPNFV_Lic.enCriminalstica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N°443/11</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N°096/2011</span>
      </h4>
      <hr>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Criminalística que egrese de la UNLaR obtendrá los conocimientos necesarios para poder llevar a cabo, desde el punto de vista científico-técnico, el estudio, planificación, desarrollo, investigación y ejecución de las actividades
        científico-policiales relacionadas con la Ciencia Criminalística. En tal alcance, contribuirá, de ser posible, a la resolución de los diversos requerimientos, interrogantes y puntos de pericia que surjan en el aspecto administrativo y/o judicial.</div>
      <div>&nbsp;</div>
      <div>Dichos conocimientos se desarrollarán a partir de la real asimilación, comprensión e interpretación de los distintos y variados objetivos, planteados por las diferentes asignaturas académicas. A ello debe sumarse una intensiva formación práctica,
        que aportarán al egresado la aptitud de poder comprender, interpretar y valorar el verdadero dimensionamiento de las problemáticas periciales a resolver, aportando como respuesta el Informe Pericial respectivo, el que será confeccionado de acuerdo
        con las normas vigentes en el Sistema Judicial y/o Administrativo.</div>
      <div>&nbsp;</div>
      <div>En suma, se pretende formar un profesional preparado para enfrentar el abordaje de los problemas que día a día se le presentan a la Ciencia Criminalística, con una marcada inclinación a la especialización.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>Los graduados de la UNLaR con el Título de Licenciado en Criminalística estarán habilitados para desempeñarse en el estudio, planificación, desarrollo, investigación y ejecución de pericias judiciales, extrajudiciales, consultorías técnicas y asesoramiento,
        ejercitando las actividades laborales para las cuales el graduado tiene competencias, a saber:</div>
      <div>&nbsp;</div>
      <div>1. Identificar, mediante técnicas papiloscópicas, a personas y cadáveres, a través de las pertinentes impresiones o de los rastros y/o huellas correspondientes a los mismos.</div>
      <div>&nbsp;</div>
      <div>2. Identificar e individualizar a la raza humana por medios ajenos a la disciplina dactiloscópica, tales como tatuajes, fotografía, antropometría y demás procedimientos utilizados por las Ciencias Criminalísticas.</div>
      <div>&nbsp;</div>
      <div>3. Reconocer, levantar, analizar, investigar e identificar huellas humanas, animales y las producidas por cualquier otro elemento.</div>
      <div>&nbsp;</div>
      <div>4. Efectuar peritaciones balísticas sobre la determinación de características de armas, cartuchos, proyectiles y vainas, sus identificaciones, determinaciones de distancias de disparo y trayectoria y todo tipo de estudio científico técnico relacionado
        con las armas de fuego, cartuchos y proyectiles y vainas.</div>
      <div>&nbsp;</div>
      <div>5. Investigar y restaurar inscripciones y señas borradas, raspadas, limadas o alteradas sobre cualquier tipo de superficie o soporte.</div>
      <div>&nbsp;</div>
      <div>6. Investigar las imitaciones y/o alteraciones de todo tipo de documentos impresos por cualquier procedimiento, como ser, papel moneda, documentos de identificación, títulos, valores, etc.</div>
      <div>&nbsp;</div>
      <div>7. Planificar y realizar la inspección ocular en la escena del lugar del hecho, tendiente a su registro y localización, identificación y levantamiento de todo tipo de rastro e indicio que haga a la investigación del mismo.</div>
      <div>&nbsp;</div>
      <div>8. Determinar, investigar e identificar todo tipo de manchas, restos e indicios biológicos (sangre, tierra, plásticos, fibras, papeles, metales, vidrios, etc.).</div>
      <div>&nbsp;</div>
      <div>9. Localizar, levantar e identificar efracciones, las herramientas y/u otros medios utilizados para producirlas.</div>
      <div>&nbsp;</div>
      <div>10. Investigar y analizar todo tipo de siniestro o accidente humano, animal o material incluidos los producidos por cualquier medio de transporte o traslación, determinación del modo, mecánica y causas de producción, incendios, explosiones y otros
        estragos, sus causas y formas de producción.</div>
      <div>&nbsp;</div>
      <div>11. Efectuar los estudios químicos–legales referidos a la investigación de ilícitos, situaciones litigiosas y/o peritaciones judiciales, extrajudiciales, asesoramientos y consultorías técnicas.</div>
      <div>&nbsp;</div>
      <div>12. Planificar, desarrollar, investigar y ejecutar toda peritación, asesoramiento técnico, estudio o investigación de las personas y vínculos de medios utilizados, en materia judicial, extra judicial o administrativa.</div>
      <div>&nbsp;</div>
      <div>13. Capacitar Recursos Humanos en los aspectos vinculados a la Ciencia Criminalística.</div>
    </div>
  </ion-content>
</ion-view>