<ion-view title="Lic. en Administración" id="page126">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dwqh48cZSBeTnn6XdW7L_Lic.enAdministracin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 049/96</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 538/06</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Licenciado en Administración, es el profesional capacitado a nivel académico para la alta dirección, gerencia general y gerencia administrativa de empresas del ámbito privado o público.</div>
      <div>&nbsp;</div>
      <div>El Licenciado en Administración puede desempeñarse tanto en la empresa privada como organismos públicos como asesor interno o externo. Tanto la gerencia como el asesoramiento puede realizarse en los siguientes ámbitos:</div>
      <div>&nbsp;</div>
      <div>a) comercialización, en los aspectos relacionados con los productos y sus mercados, publicidad y precios.</div>
      <div>&nbsp;</div>
      <div>b) Producción, en las decisiones que afecten a los procesos productivos.</div>
      <div>&nbsp;</div>
      <div>c) Recursos Humanos, definiendo cargos, movilidad de personas, relaciones laborales, programas de entrenamiento y capacitación, regímenes de remuneraciones.</div>
      <div>&nbsp;</div>
      <div>d) Finanzas, relacionado con el manejo del dinero y de capital, inversiones, obtención de fondos y valuación de empresas.</div>
      <div>&nbsp;</div>
      <div>e) Judicial, como perito, liquidador de sociedades comerciales o civiles.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Titulo</span>
      </h4>
      <div>El establecido por Resolución N°1560/80 del Ministerio de Cultura y Educación de la Nación:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Asesoramiento y asistencia técnica para las funciones directivas en organismos hacendales de producción o erogación.</li>
        </ul>
        <ul>
          <li>Participación en el diseño e implementación de estructuras de organización y de sus sistemas de información.</li>
        </ul>
        <ul>
          <li>Participación en el estudio, definición, implementación y seguimiento de las distintas políticas de administración, en cuanto a las siguientes funciones básicas: Personal; Comercialización; Producción; Aprovisionamiento; Finanzas; Planeamiento
            y Control.</li>
        </ul>
        <ul>
          <li>Participación en la elaboración y evaluación de proyectos de inversión.</li>
        </ul>
        <ul>
          <li>Actuación judicial: Administrador en intervenciones judiciales; Liquidador de sociedades y asociaciones; Perito en las demás incumbencias señaladas.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>