<ion-view title="Lic. en Ciencia Política" id="page129">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/S20q2XWdRR61jFsKryQg_Lic.enCienciaPoltica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 376/ 2009 &nbsp;</span>
        <br>
        <span style="color: #ff6600;">Resolución Ministerial N° 1689/99</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Licenciado en Ciencia Política</span>
      </h4>
      <div>El graduado de la Universidad Nacional de la Rioja, con el título de Licenciado en Ciencia Política, acredita en su perfil profesional una sólida formación científica politológica, que integra las dimensiones teórica; metodológica – practica; normativa;
        y técnica procedimental de la disciplina, que le permite:</div>
      <div>&nbsp;</div>
      <div>Explorar, conocer, analizar, describir, explicar y predecir los fenómenos y estructuras políticas, actuando sobre el acontecer político y social, que comprende el ámbito local, regional, nacional y global, desde los aportes que provee su formación
        politológica.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del titulo</span>
      </h4>
      <div>El Licenciado en Ciencia Política posee una formación que le permite desempeñarse en las siguientes áreas:</div>
      <div>
        <ul>
          <li>Administración Pública: el estudio de las organizaciones de la administración pública de los distintos niveles: municipal, provincial y nacional, proveyendo de herramientas técnicas para la optimización en la administración pública, fundamentalmente
            mediante el diseño, ejecución y evaluación de políticas públicas y estatales.</li>
          <li>Legislativa: entender los procesos legislativos en las distintas áreas en donde se integra esta actividad: Municipal, Provincial y Nacional, brindando asesoramiento desde su capacidad de investigador de la realidad política y social.</li>
          <li>Gobierno: asesorar y ejercer roles en áreas ejecutivas de gobierno, a partir de capacidades sustentadas en su amplia preparación en materia de la complejidad de la política.</li>
          <li>Institucional: el íntegro y amplio conocimiento de las instituciones gubernamentales, lo posicionan para entender cabalmente sobre esta materia y el entramado de relaciones entre distintas instituciones públicas, así como también instituciones
            pertenecientes al sector privado.</li>
          <li>Investigación: el politólogo puede desempeñar tareas de investigación, realizando estudios en las diversas y complejas áreas de la realidad política, tanto en su faz estática y teórica como en la dinámica y práctica.</li>
          <li>Relaciones internacionales: el egresado en ciencia política, se encuentra habilitado para desempeñarse en áreas de integración regional, y organismos internacionales, teniendo una sólida preparación que le permite ingresar al Servicio Exterior
            de la Nación.</li>
          <li>Opinión pública y comunicación política: el politólogo posee amplios conocimientos que le permiten analizar y efectuar estudios sobre opinión pública y comportamiento electoral, comprendiendo diversos fenómenos políticos que le permitan diseñar
            estrategias electorales, siendo la comunicación un fuerte instrumental que refuerce tales capacidades.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>