<ion-view title="Lic. en Gestión Organizacional y RR. HH." id="page155">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hfnpgMG6TNShSXTFo596_Lic.GestinOrg.yRR.HH..jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza&nbsp;HCS&nbsp;027/2014</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Departamental Nº 407/ 2014</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>Es un profesional que trabaja con las empresas y organizaciones públicas y privadas, para ayudar cada vez que tienen problemas con el desempeño y la producción de las personas que en ella trabajan, tratando de hacer de las organizaciones en lugar
        más humano. Para ello colabora en mejorar el liderazgo, las habilidades de los gerentes y directivos, la comunicación entre las personas, el manejo de los grupos de trabajo, la planificación estratégica, el marketing, selección de personal, capacitación,
        desarrollo profesional y plan de carrera, administración del desempeño de la gente, entre otros.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>Si lo comparamos con otras profesiones, tienen una enorme ventaja a la hora de ubicarse en un lugar para trabajar, ya que están habilitados para hacerlo en un gran número de lugares, por ejemplo:</div>
      <div>
        <ul>
          <li>Toda organización pública, es decir, hospitales, escuelas, universidades, profesorados, municipalidad, ministerios de educación, casa de gobierno, legislatura, secretaría de la mujer, ministerio de gobierno, policía, secretaría de trabajo, secretaría
            de turismo, etc.</li>
        </ul>
        <ul>
          <li>Toda organización privada, es decir, fábricas de telas, medicamentos, ropa, calzados, muebles, automóviles, motocicletas, grandes máquinas industriales, alimentos, productos de limpieza, de belleza, etc. Empresas de servicios como las de luz,
            agua, seguros, video cable, telefonía, etc.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div>Trabaja con la parte blanda o soft de la organización, es decir, los procesos humanos organizativos, por ejemplo:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Diagnostica la organización e interviene en los cambios.</li>
        </ul>
        <ul>
          <li>Selecciona personal.</li>
        </ul>
        <ul>
          <li>Capacita el personal.</li>
        </ul>
        <ul>
          <li>Ayuda a mantener el buen desempeño o mejorarlo si es necesario.</li>
        </ul>
        <ul>
          <li>Posiciona la organización en su entorno o mercado mejorando su imagen.</li>
        </ul>
        <ul>
          <li>Realiza investigaciones científicas en la temática.</li>
        </ul>
        <ul>
          <li>Negociación y mediación.</li>
        </ul>
        <ul>
          <li>Planificación estratégica.</li>
        </ul>
        <ul>
          <li>Mejora la comunicación grupal u organizacional.</li>
        </ul>
        <ul>
          <li>Ayuda a las familias con empresas en sus problemas típicos.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>