<ion-view title="Lic. en Producción Vegetal" id="page172">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/FrL3xDIYQjC6Me7dtWG5_Lic.-en-Produccin-Vegetal.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 024/95</span>
      </h4>
      <hr>
      <h4>
        <br>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado y Alcances del Título</u>
        </span>
      </h4>
      <div>&nbsp;</div>
      <div>1. Podrá conducir un proceso de producción, planificación,&nbsp;organización, ejecución y control.</div>
      <div>&nbsp;</div>
      <div>2. Habilita para administrar empresas agrícolas.</div>
      <div>&nbsp;</div>
      <div>3. Realizar estudios de la comercialización de la producción.</div>
      <div>&nbsp;</div>
      <div>4. Realizar estudios de optimización de la producción.</div>
      <div>&nbsp;</div>
      <div>5. Realizar estudios sobre preservación de los recursos naturales y del&nbsp;medio ambiente.</div>
      <div>&nbsp;</div>
      <div>6. Podrá efectuar análisis y determinación del grado de eficiencia,&nbsp;planeamiento y estructura.</div>
      <div>&nbsp;</div>
      <div>7. Podrá administrar organizaciones de productores agrícolas.</div>
      <div>&nbsp;</div>
      <div>8. Podrá hacer investigación en administración agrícola a nivel de&nbsp;establecimiento y región.</div>
      <div>&nbsp;</div>
      <div>9. Podrá efectuar tareas de asesoramiento a los productores&nbsp;agropecuarios para el mejor uso de los recursos de su empresa</div>
      <div>&nbsp;</div>
      <div>10. Podrá efectuar extensión, transferencia de tecnología y difusión en&nbsp;general en el área de la administración y planeamiento.</div>
      <div>&nbsp;</div>
      <div>11. Podrá efectuar docencia (secundaria, terciaria y universitaria), en&nbsp;materia a fines y para las cuales está habilitado.</div>
      <div>&nbsp;</div>
      <div>12. Podrá efectuar estudios y asesoramiento en la política agrícola.</div>
      <div>&nbsp;</div>
      <div>13. Podrá participar en los aspectos económicos y financieros, en la&nbsp;elaboración de proyectos agrícolas.</div>
      <div>&nbsp;</div>
      <div>14. Podrá hacer estudios de financiamiento agrícola.</div>
      <div>&nbsp;</div>
      <div>15. Podrá formular y evaluar proyectos agrícolas.&nbsp;</div>
      <div>&nbsp;</div>
      <div>16. Se podrá desempeñar en equipos de investigación interdisciplinarias.</div>
    </div>
  </ion-content>
</ion-view>