<ion-view title="Lic. en Arte Escénico" id="page144">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <div>
        <h4>
          <span style="color: #ff6600;">
            <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="perfil-del-graduado">Perfil del Graduado</a>
          </span>
        </h4>
        <div>Para las expectativas individuales de profesionalización, se diseñaron los alcances y el perfil del título. Estos objetivos individuales de profesionalización están profundamente imbricados y son la consecuencia lógica y epistemológicamente procedentes
          de los objetivos institucionales que justifican y fundamentan la creación de la carrera. Son expresados en competencias que atraviesan transversalmente el currículo diseñado por la Universidad Nacional de la Rioja para la Licenciatura en Arte
          Escénico con mención en Teatro o en Danza, competencias que a continuación detallamos:</div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <h4>
          <span style="color: #ff6600;">
            <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="alcances-del-titulo">Alcances del Título</a>
          </span>
        </h4>
        <p>Al término de la carrera, el egresado de la Licenciatura en Arte&nbsp;Escénico, habrá adquirido un perfil profesional que reúne las siguientes&nbsp;competencias:&nbsp;</p>
        <div>
          <ul>
            <li>Diseña e Implementa procesos de Investigación y propuestas de&nbsp;Educación Superior en las Instituciones estatales y privadas.</li>
          </ul>
          <ul>
            <li>Crea, gestiona, y evalúa los proyectos que involucren al Arte&nbsp;Escénico en todas sus dimensiones (artísticos – creativas, técnicas y estético – culturales) en instituciones estatales, a nivel nacional, provincial y&nbsp;municipal y en
              el ámbito privado.&nbsp;</li>
          </ul>
          <ul>
            <li>Participa activamente en gestión de Proyectos y Estudios culturales,&nbsp;críticos históricos y estéticos en organismos nacionales e internacionales de&nbsp;difusión cultural.</li>
          </ul>
          <ul>
            <li>Participa en Diseños, Dirección, Asesoramiento y Participación en&nbsp;Montaje de Espectáculos, Escenografía y Luminotecnia.</li>
          </ul>
          <hr>
        </div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <h4>
          <span style="color: #ff6600;">
            <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="licenciado-en-arte-escenico-mencion-en-Danza">Perfil del Licenciado&nbsp;en Arte Escénico:&nbsp;Mención&nbsp;en Danza</a>
          </span>&nbsp;</h4>
      </div>
      <div>
        <div>
          <ul>
            <li>Competencia, Destreza y Habilidad para Discernir Heurística,&nbsp;Hermenéutica y Epistemologicamente Conceptos, Procedimientos y&nbsp;Conclusiones en la formación de Bailarines, Coreógrafos, Directores.&nbsp;</li>
          </ul>
          <ul>
            <li>Competencia, Destreza y Habilidad en Diseño, Dirección,&nbsp;Participación y Evaluación de Proyectos Artísticos Públicos y Privados.</li>
          </ul>
          <ul>
            <li>Capacidad, Aptitud e Incumbencia para la Organización y Dirección&nbsp;de Bailarines o Grupos de Danza.</li>
          </ul>
          <ul>
            <li>Conducción, Supervisión, Elaboración y Evaluación de Programas y&nbsp;Proyectos de Promoción de la Danza y Artístico Culturales.</li>
          </ul>
          <ul>
            <li>Diseño, Dirección, Asesoramiento y Participación en Montaje de&nbsp;Espectáculos, Escenografía y Luminotecnia.</li>
          </ul>
          <ul>
            <li>Competencia, Destreza y Habilidad en Composición Coreográfica.</li>
          </ul>
          <ul>
            <li>Competencia, Destreza y Habilidad en Planificación,&nbsp;Preproducción, Producción, Difusión y Comercialización de Espectáculos&nbsp;con Orientación en Arte Escénico vinculados a la Danza.&nbsp;</li>
          </ul>
          <ul>
            <li>Competencia, Destreza y Habilidad en Diseño, Dirección,&nbsp;Participación y Evaluación de Programas en Danzas.&nbsp;</li>
          </ul>
          <ul>
            <li>Diseñar y Dirigir Proyectos de Investigación Cultural como soporte&nbsp;de Productos Artísticos que se Vinculen a la Identidad Nacional.</li>
          </ul>
          <ul>
            <li>Participar en Proyectos de Investigación, Estudios Teóricos&nbsp;Académicos sobre las problemáticas Estéticas, Históricas y&nbsp;Epistemológicas de la Danza.</li>
          </ul>
        </div>
        <div>
          <h4>
            <span style="color: #ff6600;">
              <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="plan-de-estudios-mencion-en-danza">Plan de Estudios de Licenciatura en Arte Escénico:&nbsp;Mención&nbsp;en Danza</a>
            </span>
          </h4>
        </div>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/wFxIffoZQ3S5tonhVU5H_Lic.ArteEscnicoDanza.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="licenciado-en-arte-escenico-mencion-teatro">Perfil del Licenciado en Arte Escénico: Mención Teatro</a>
        </span>&nbsp;</h4>
      <div>
        <ul>
          <li>Competencia, Destreza y Habilidad para Diagnosticar, Dictaminar, y Aplicar conocimientos de componentes escénicos en Actuación, Diseño, Dirección, Participación de Obras, Piezas, Proyectos y Programas de Teatro en general.&nbsp;</li>
        </ul>
        <ul>
          <li>Aptitudes, incumbencias y capacidades para producir diseños de estrategias en arte escénico con incidencia en políticas públicas y/o en gestiones particulares o privadas.&nbsp;</li>
        </ul>
        <ul>
          <li>Competencia incumbente en formulación de proyectos individuales o grupales de obras escénico – interpretativo y/o de conducción Competencia, Destreza y Habilidad para discernir Heurística, Hermenéutica y Epistemológicamete, Conceptos, Procedimientos
            y Conclusiones en la formación de actores, dramaturgos, escenográfos, productores y directores.&nbsp;</li>
        </ul>
        <ul>
          <li>Participar en Proyectos de Investigación Académica en torno a los estudios Teratológicos y problemática afines.</li>
        </ul>
        <ul>
          <li>Diseño, Dirección, Asesoramiento y Participación en Montaje de Espectáculos, Escenografía y Luminotecnia.&nbsp;</li>
        </ul>
        <ul>
          <li>Competencia, Destreza y Habilidad en Planificación, Preproducción, Producción, Difusión y Comercialización de Espectáculos con Orientación En Arte Escénico vinculados al Teatro.&nbsp;</li>
        </ul>
        <ul>
          <li>Competencia en la formación y dirección del Actor para desenvolver distintos medios Escénicos y Medios Masivos de Comunicación.</li>
        </ul>
        <h4>
          <span style="color: #ff6600;">&nbsp;</span>
        </h4>
      </div>
      <h4>
        <span style="color: #ff6600;">
          <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="plan-de-estudios-mencion-teatro">Plan de Estudios de Licenciatura en Arte Escénico:&nbsp;Mención&nbsp;Teatro</a>
        </span>
      </h4>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/JtY9II3aSwejjctvebAJ_Lic.ArteEscnicoTeatro.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>