<ion-view title="Lic. en Trabajo Social" id="page132">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/HuetIWcPTlqXGzY2FvCP_Lic.enTrabajoSocial.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>
        <p>El plan de estudios de las Carreras de Licenciatura en Trabajo Social&nbsp;se orienta hacia la formación de profesionales con las siguientes&nbsp;características:&nbsp;</p>
        <ul>
          <li>Con capacidad para promover y fortalecer la participación y organización&nbsp;de los individuos, grupos y comunidades urbanas y rurales para su&nbsp;incorporación en el plano de las decisiones y acciones tendientes al&nbsp;desarrollo sostenible.</li>
        </ul>
        <ul>
          <li>Con capacidad para liderar o participar en procesos de selección, de&nbsp;formación de supervisión y de evaluación de programas de desarrollo&nbsp;sostenible.</li>
        </ul>
        <ul>
          <li>Con capacidad para intervenir en la formulación ejecución y evaluación&nbsp;de políticas estatales y/o privadas de desarrollo (urbano y rural).</li>
        </ul>
        <ul>
          <li>Con habilidad para participar en procesos de administración del talento&nbsp;humano orientados al desarrollo del mismo.</li>
        </ul>
        <ul>
          <li>Con iniciativa, capacidad de decisión y de gestión responsable (con&nbsp;habilidad para plantear, resolver problemas y crear soluciones alternativas).</li>
        </ul>
        <ul>
          <li>Con idoneidad en la formulación, ejecución y evaluación de proyectos,&nbsp;que promuevan el desarrollo de individuos, familias, grupos, comunidades&nbsp;y organizaciones.</li>
        </ul>
        <ul>
          <li>Con habilidad para el desarrollo de procesos de fortalecimiento&nbsp;institucional de la organizaciones públicas y privadas.</li>
        </ul>
        <ul>
          <li>Con habilidad para la coordinación, la concertación y el trabajo en&nbsp;equipo.</li>
        </ul>
        <ul>
          <li>Con capacidad para actuar interdisciplinariamente tanto a nivel de la&nbsp;producción de conocimientos como de la intervención de la realidad en la&nbsp;perspectiva del desarrollo sostenible.</li>
        </ul>
        <ul>
          <li>Con habilidades para el liderazgo y para el trabajo con grupos.</li>
        </ul>
        <ul>
          <li>Con alto nivel de desarrollo ético como ciudadano responsable y&nbsp;comprometido consigo mismo y con su medio.</li>
        </ul>
        <ul>
          <li>Con capacidad para desempeñarse responsable y autónomamente en la&nbsp;comunidad y la sociedad.</li>
        </ul>
        <ul>
          <li>Con alto sentido de compromiso y responsabilidad ética frente al&nbsp;desarrollo y, por tanto, con su praxis personal y profesional.</li>
        </ul>
        <ul>
          <li>Con respeto por la diferencia y sólidos principios democráticos y de&nbsp;equidad.</li>
        </ul>
        <ul>
          <li>Con comprensión y respeto de la heterogeneidad y la pluralidad social en&nbsp;sus múltiples dimensiones.</li>
          <li></li>
          <li>Con características personales y profesionales que le permitan interactuar&nbsp;democráticamente en los diferentes contextos, campos, áreas y niveles en&nbsp;los cuales tenga lugar su praxis.</li>
        </ul>
        <ul>
          <li>Con habilidades comunicativas, tanto a nivel verbal como escrito.</li>
        </ul>
        <ul>
          <li>Con manejo óptimo del idioma propio y con solvencia en el conocimiento&nbsp;de un idioma extranjero.</li>
        </ul>
        <ul>
          <li>Con buena imagen de sí mismos y de la profesión la cual deben proyectar&nbsp;en su interacción profesional y social.</li>
        </ul>
        <ul>
          <li>Con actitud de diálogo, de concertación y de negociación.</li>
        </ul>
        <ul>
          <li>Con confianza en las potencialidades humanas como elementos de&nbsp;desarrollo y cambio.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Licenciado en Trabajo Social es competente para:</div>
      <div>
        <ul>
          <li>Aportar a la construcción de alternativas para la modificación, superación,&nbsp;y/o transformación de situaciones problemáticas (reales o potenciales de&nbsp;personas, familias y grupos en los niveles de prevención, asistencia y&nbsp;promoción
            valorando el sentido de la dignidad humana.</li>
        </ul>
        <ul>
          <li>Generar, potenciar y/o fortalecer procesos organizativos comunitarios y/o&nbsp;Institucional construyendo espacios concretos y flexibles en la articulación&nbsp;entre las necesidades e intereses de los sectores que participan del mismo y&nbsp;los
            objetivos e intereses de la institución, tendiendo a la satisfacción y&nbsp;legitimación de los Derechos Sociales.</li>
        </ul>
        <ul>
          <li>Planificar, Asesorar, Coordinar, Administrar, Evaluar y Gerenciar, en los&nbsp;diferentes niveles de complejidad: micro, medio y Macro, lo relacionado a&nbsp;la formulación e implementación de Planes, Programas y Proyectos en el&nbsp;marco de
            las Políticas Sociales Estatales y no Estatales, promoviendo la&nbsp;participación de los Grupos involucrados en la situación y/o campo&nbsp;problemático a abordar.</li>
        </ul>
        <ul>
          <li>Planificar, orientar, asesorar, organizar, conducir, coordinar, administrar,&nbsp;evaluar acciones institucionales en diferentes niveles de funcionamiento y&nbsp;de decisión política.</li>
        </ul>
        <ul>
          <li>Organizar, supervisar y capacitar Equipos de Trabajo.</li>
        </ul>
        <ul>
          <li>Orientar, asesorar, coordinar, promover instancias de reflexión y&nbsp;capacitación en el trabajo comunitario en la búsqueda de resolución de&nbsp;necesidades y problemáticas sociales concretas, procurando la generación,&nbsp;conocimiento y
            mejor aprovechamiento de los recursos comunitarios e&nbsp;institucionales.</li>
        </ul>
        <ul>
          <li>Realizar aportes desde la especificidad Profesional en el equipo&nbsp;interdisciplinario en relación a la lectura, análisis e identificación de la&nbsp;situación abordada, incorporando los aspectos socio-económicos-políticosculturales&nbsp;que
            la condicionan y la metodología de trabajo en sus dos&nbsp;dimensiones: al interior del equipo y en el abordaje de la situación&nbsp;concreta, así como en lo referente a la elaboración del informe social&nbsp;correspondiente.</li>
        </ul>
        <ul>
          <li>Elaborar informe social, diagnóstico social, estrategias de intervención&nbsp;profesional, en diferentes instancias del campo social relacionas a&nbsp;situaciones problemáticas abordadas, requeridas por personas, instituciones&nbsp;Gubernamentales
            y no gubernamentales.</li>
        </ul>
        <ul>
          <li>Realizar peritajes sobre diferentes situaciones sociales en el ámbito de la&nbsp;justicia, ya sea como perito de oficio, de parte, mandatario y/o consultores&nbsp;técnicos.</li>
        </ul>
        <ul>
          <li>Intervenir desde la especificidad Profesional en instancias de Mediación&nbsp;Judiciales y No Judiciales.</li>
        </ul>
        <ul>
          <li>Dirigir y desempeñar funciones de docencia, extensión e Investigación y&nbsp;otras tareas en áreas académicas en el ámbito de las unidades académicas&nbsp;de Formación profesional.</li>
        </ul>
        <ul>
          <li>Desempeñar funciones de docencia e investigación en diferentes niveles&nbsp;del sistema educativo en áreas afines a las ciencias sociales.</li>
        </ul>
        <ul>
          <li>Desarrollar líneas de Investigación que contribuyan a:</li>
        </ul>
      </div>
      <div>a. La producción de conocimiento en Trabajo Social, la orientación del&nbsp;pensamiento y construcción de la disciplina, la discusión permanente y&nbsp;profundización sobre la especificidad profesional y la teoría social.</div>
      <div>&nbsp;</div>
      <div>b. La producción de conocimiento Teórico / metodológico para aportar a la&nbsp;intervención Profesional en los diferentes campos de acción.</div>
      <div>&nbsp;</div>
      <div>c. La producción de conocimiento que posibilite la identificación de&nbsp;factores que incide en la génesis y reproducción de las problemáticas&nbsp;sociales y posibles alternativas de modificación, superación y/o&nbsp;transformación.&nbsp;</div>
    </div>
  </ion-content>
</ion-view>