<ion-view title="Mapas UNLaR" id="page20">
  <ion-content padding="true" class="has-header">
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Capital</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/27v2x5a2T1i3bnAJSzRr_capital.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1YQPjTYI-OogBmdz95mg5FRQqWRsz9TLN/view?usp=sharing" id="mapasUNLaR-button40" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Aimogasta</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/pdunQsPRlGMCSxHlQ1mP_aimogasta.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1hSyb9nrwqjamwSsRLo1dgdU7b3RmquyP/view?usp=sharing" id="mapasUNLaR-button48" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Catuna</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/ER25FOSTLaDpPC4eEYMP_catuna.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1ifpzNjZHGuMjBY8dFisr6K6lWXdBfMr3/view?usp=sharing" id="mapasUNLaR-button37" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Chamical</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/oT4IgLypSeb5jdDsOerQ_chamical.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1ZRuuTzns-yEAeb9wKH6shEUPWJXDh3oD/view?usp=sharing" id="mapasUNLaR-button38" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Chepes</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Nph7py25SiCLIPu25z0Y_chepes.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1ofyQv0f34_7lPXBcnT9Wmc1arAh25Cz7/view?usp=sharing" id="mapasUNLaR-button39" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ff6600;">Villa Union</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">&nbsp;</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/PQnFFvnaQDWFEpCsLs7Y_villaunion.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a href-inappbrowser="https://drive.google.com/file/d/1yHLSBWd5Dq2BtBJITH89u-T7EFzv-jHn/view?usp=sharing" id="mapasUNLaR-button47" class="button button-energized button-block">Descargar</a>
    <div class="spacer" style="height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/vwIsnitYR0S1CKTFbvZg_GuiaUNLaRLinea2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>