<ion-view title="Medicina" id="page118">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/WaPgqfATTBuZQeftQhzS_Medicina.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 363/08&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 1598/99</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Acreditación Resolución de CONEAU N°: 260/01 – 1° Fase, 965/05 – 2° Fase, 753/10 – 3° Fase.</span>
      </h4>
      <hr>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Perfil de la Carrera</span>
      </h4>
      <div>El Médico que forma la UNLaR debe egresar con la capacidad para resolver los principales problemas concernientes a la promoción, protección, recuperación y rehabilitación de la salud, tanto individual como familiar y comunitaria, haciendo uso racional
        de las actuales tecnologías y terapéuticas, dentro de un contexto ético y moral que respete la dignidad de la persona humana como ser trascendente. Consecuentemente, el profesional médico deberá ser capaz de:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Asistir al hombre sano tanto a nivel individual como familiar y comunitario, valorizando las acciones de promoción y protección de la salud.</li>
          <li>Valorar los factores ambientales, culturales, sociales y económicos causantes de enfermedad, reconociendo las deficiencias y promoviendo su corrección.</li>
          <li>Resolver los problemas más frecuentes de salud, en el lugar y el momento mismo donde se originan, tanto a nivel individual, familiar y comunitario.</li>
          <li>Aplicar conocimientos, habilidades y destrezas para detención de síntomas y signos tempranos de anomalías orgánicas y psíquicas, para un diagnóstico temprano y precoz y su tratamiento inmediato.</li>
          <li>Realizar interconsultas y derivación de pacientes oportunamente.</li>
          <li>Prescribir racional y científicamente medicamentos y tratamientos aprobados por autoridades sanitarias competentes y discernir sus reacciones adversas e interacciones.</li>
          <li>Incentivar la participación del individuo, familia y comunidad en la resolución de los problemas de salud y enfermedad.</li>
          <li>Demostrar una actitud positiva hacia la integración docente- asistencial.</li>
          <li>Aplicar una actitud positiva hacia la investigación, siguiendo el método científico.</li>
          <li>Desarrollar la responsabilidad del autoaprendizaje.</li>
          <li>Integrar equipos de salud interdisciplinarios y multidisciplinarios.</li>
          <li>Planificar, programar, ejecutar y evaluar acciones de salud, teniendo en cuenta los problemas sanitarios prevalentes y prioritarios, con criterio epidemiológico, considerando las patologías regionales.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Médico tiene competencia para la ejecución, enseñanza o cualquier tipo de acción destinada a:</div>
      <div>
        <ul>
          <li>Anunciar, prescribir, indicar o aplicar cualquier tipo de procedimiento directo o indirecto de uso diagnóstico o pronóstico.</li>
          <li>Planear, programar o ejecutar las acciones tendientes a la preservación, tratamiento y recuperación de la salud o a la provisión de cuidados paliativos.</li>
          <li>Asesorar a nivel público o privado en materia de salud y practicar pericias médicas. Todo ello ya sea sobre individuos o sobre el conjunto de la población independientemente de la percepción o no de retribuciones.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>