<ion-view title="Mención Dirección Coral" id="page152">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <div>
        <div>
          <h4>
            <span style="color: #ff6600;">Licenciatura en Música: Mención Dirección&nbsp;Coral</span>
          </h4>
          <h3>&nbsp;</h3>
          <h4>
            <span style="color: #ff6600;">Perfil del Graduado</span>
          </h4>
        </div>
        <div>
          <div>
            <ul>
              <li>Conduce grupos vocales aplicando las habilidades desarrolladas&nbsp;concernientes al oído musical, práctica de ensamble y repertorio&nbsp;camarístico.&nbsp;</li>
            </ul>
            <ul>
              <li>Diseña, implementa, integra y/o conduce Procesos de Investigación&nbsp;Científica, en su área de conocimiento, en el ámbito de la experimentación&nbsp;e interpretación en el repertorio académico de los diversos estilos y&nbsp;períodos de
                la música.&nbsp;</li>
            </ul>
          </div>
          <div>&nbsp;</div>
          <h4>
            <span style="color: #ff6600;">Alcances del Título</span>
          </h4>
        </div>
      </div>
      <div>
        <div>
          <div>
            <ul>
              <li>Dirige Coros existentes en diferentes grupos que dependan de la&nbsp;iniciativa privada o pública en sus diversos Estilos, Géneros y Periodos&nbsp;Históricos Musicales.&nbsp;</li>
            </ul>
            <ul>
              <li>Realiza ensambles corales que posibiliten una correcta audición y&nbsp;equilibrio sonoro.</li>
            </ul>
            <ul>
              <li>Interpreta diversos estilos a través de la conducción de la música&nbsp;coral.</li>
            </ul>
            <ul>
              <li>Realiza y participa en Procesos de Investigación Científica, en su&nbsp;área de conocimiento artístico musical, tanto en el ámbito de la&nbsp;interpretación Coral como en los aspectos Históricos relacionados con la&nbsp;Música.</li>
            </ul>
          </div>
          <div>
            <p>&nbsp;</p>
            <h4>
              <span style="color: #ff6600;">Plan de Estudios de Licenciatura en Música: Mención Dirección&nbsp;Coral</span>
            </h4>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/u2ee6x4wQvKqkFJQFo3G_Lic.Msica-DireccinCoral.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>