<ion-view title="Mención Instrumento de Orquesta, Piano o Guitarra" id="page150">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <div>
        <h4>
          <span style="color: #ff6600;">Licenciatura en Música: Mención&nbsp;Instrumento de Orquesta, Piano o Guitarra</span>
        </h4>
        <h4>
          <span style="color: #ff6600;">&nbsp;</span>
        </h4>
        <h4>
          <span style="color: #ff6600;">Perfil del Graduado</span>
        </h4>
      </div>
      <div>
        <ul>
          <li>Ejecuta desde el punto de vista técnico y estético, el Instrumento en&nbsp;cuya incumbencia se ha formado, tanto en Grupo como Solista.&nbsp;</li>
        </ul>
        <ul>
          <li>Diseña, Implementa, Integra y/o Conduce Procesos de&nbsp;Investigación Científica, en su área de conocimiento, en el ámbito de la&nbsp;experimentación e interpretación en los repertorios académicos que abarcan&nbsp;los diversos estilos y períodos
            de la música.&nbsp;</li>
        </ul>
        <ul>
          <li>Aplica la técnica adecuada para interpretar mediante la ejecución,&nbsp;diferentes estilos del repertorio musical universal.&nbsp;</li>
        </ul>
        <p>&nbsp;</p>
        <h4>
          <span style="color: #ff6600;">Plan de Estudios:&nbsp;Instrumentos de Orquesta</span>
        </h4>
        <p>&nbsp;</p>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/P2UAQf3SlexdYPma36Pw_Lic.Msica-Orquesta.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Plan de Estudios:&nbsp;</strong>
          <strong>Piano o Guitarra</strong>
        </span>
      </h4>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/92P7meNTStqZCfRvZmws_Lic.Msica-Piano-o-Guitarra.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>