<ion-view title="Mención Canto" id="page149">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <a style="color: #ff6600;" href="http://cienciasaplicadasunlar.com/null" name="mencion-canto">Licenciatura en Música: Mención Canto</a>
          </strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>
        <div>
          <ul>
            <li>Interpreta desde el punto de vista técnico y estético, obras de&nbsp;diversos estilos y períodos cantadas tanto en forma Solista, como en&nbsp;Conjunto de Cámara y&nbsp;Grupo Coral.</li>
          </ul>
          <ul>
            <li>Diseña, implementa, integra y/o conduce Procesos de Investigación&nbsp;Científica, en su área de conocimiento, en el ámbito de la experimentación&nbsp;e interpretación en el repertorio académico que abarca los diversos estilos y&nbsp;períodos
              de la música.&nbsp;</li>
          </ul>
          <p>&nbsp;</p>
        </div>
        <h4>
          <span style="color: #ff6600;">Alcances del Título</span>&nbsp;</h4>
        <div>
          <ul>
            <li>Interpretación de obras cantadas, de manera solista o en diferentes&nbsp;grupos que dependan de la iniciativa privada o pública en sus diversos&nbsp;Estilos, Géneros y Periodos Históricos Musicales.&nbsp;</li>
          </ul>
          <ul>
            <li>Realiza y participa en Procesos de Investigación Científica, en su&nbsp;área de conocimiento artístico musical, tanto en el ámbito de la&nbsp;interpretación como en los aspectos Históricos relacionados con la Música.</li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/43y96b9xQdS82gOKcGQY_Lic.Msica-Canto.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>