<ion-view title="Mención Composición" id="page151">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Licenciatura en Música: Mención&nbsp;Composición</span>
      </h4>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>
        <ul>
          <li>
            <p>Utiliza los procesos de composición a través del análisis y&nbsp;desarrollo auditivo de diversas técnicas.&nbsp;</p>
          </li>
          <li>
            <p>Compone el proceso de orquestación y acústica relacionado con la&nbsp;carrera.</p>
          </li>
          <li>
            <p>Diseña, implementa, integra y/o conduce Procesos de Investigación&nbsp;Científica, en su área de conocimiento, en el ámbito de la experimentación&nbsp;y creación musical.&nbsp;</p>
          </li>
          <li>
            <p>Desarrolla diversas técnicas compositivas a través del conocimiento&nbsp;de diferentes estéticas.</p>
          </li>
          <li>
            <p>Compone nuevas creaciones musicales.</p>
          </li>
        </ul>
        <p>&nbsp;</p>
      </div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>
        <div>
          <ul>
            <li>Realiza composiciones y arreglos para diversas Agrupaciones&nbsp;Camarísticas y Corales e instrumentos en general.&nbsp;</li>
          </ul>
          <ul>
            <li>Crea nuevas composiciones musicales.&nbsp;</li>
          </ul>
          <ul>
            <li>Realiza análisis sobre la acústica musical, características armónicas&nbsp;y formales.</li>
          </ul>
          <ul>
            <li>Realizar y participa en Procesos de Investigación Científica, en su&nbsp;área de conocimiento artístico musical, tanto en el ámbito de la Creación&nbsp;Musical como en los aspectos Históricos relacionados con la música.&nbsp;</li>
          </ul>
          <ul>
            <li>Realiza y participa en Procesos de Investigación Científica, en su&nbsp;área de conocimiento artístico musical, tanto en el ámbito de la&nbsp;interpretación Coral como en los aspectos Históricos relacionados con la&nbsp;Música.</li>
          </ul>
        </div>
        <h3>&nbsp;</h3>
        <h4>
          <span style="color: #ff6600;">Plan de Estudios de Licenciatura en Música: Mención&nbsp;Composición</span>
        </h4>
        <p>&nbsp;</p>
      </div>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/6Tlnq40cSZWpsIjbuDZw_Lic.Msica-Composicin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>