<ion-view title="Noticias" id="page178">
  <ion-content padding="true" style="background: url(img/Pu2kZx3iQ8u6zp47KTZ1_FondoApp8.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/DTIlh97TT9Ok4d0PCJx7_LogoGuiaUNLaRNoticias.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="noticias-list19">
      <ion-item class="item-divider" id="noticias-list-item-divider14"> </ion-item>
      <ion-item class="item-avatar positive" id="noticias-list-item154" href-inappbrowser="https://www.facebook.com/GUIA.UNLaR/">
        <img src="img/Q1PbLAGTSZOHIEhTPiSb_Facebook.png">
        <h2positive>Facebook
          <p>@GUIA.UNLaR</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-divider" id="noticias-list-item-divider15"> </ion-item>
      <ion-item class="item-avatar positive" id="noticias-list-item155" href-inappbrowser="https://www.instagram.com/guia.unlar/">
        <img src="img/v7X4g1clST6GomE7w2OT_Instagram.jpg">
        <h2positive>Instagram
          <p>@guia.unlar</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-divider" id="noticias-list-item-divider13"> </ion-item>
      <ion-item class="item-avatar positive" id="noticias-list-item156" href-inappbrowser="https://twitter.com/guiaunlar">
        <img src="img/mbXHHfaQ36x4V0FeNNki_Twitter.png">
        <h2positive>Twitter
          <p>@guiaunlar</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-divider" id="noticias-list-item-divider16"> </ion-item>
    </ion-list>
  </ion-content>
</ion-view>