<ion-view title="Odontología" id="page119">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/VjKtrAgIRL2JLfArIcid_Odontologa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 431/11</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Acreditación Dictamen CONEAU N° 356/12</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El perfil está concebido como un conjunto de orientaciones, disposiciones, conocimientos, habilidades, destrezas y actitudes que conforman capacidades que se consideran necesarias para obtener el grado académico de odontólogo y que podrá derivar
        su vida profesional hacia una actividad de investigación, docencia, administración, gestión, y atención sanitaria pública y/o privada, en la búsqueda de una formación humanística, tecnológica y de gestión, ético y moralmente comprometido con la
        sociedad, su región y el país.</div>
      <div>&nbsp;</div>
      <div>Es por ello que el egresado odontólogo debe alcanzar en su formación personal, una cultura afín a una conciencia social, humanística y sanitaria y una capacitación científico-profesional que le permita actuar en la rehabilitación de los problemas
        bucales, de acuerdo con las necesidades de la región, del país y de la sociedad toda en la búsqueda del bien común.</div>
      <div>&nbsp;</div>
      <div>En cuanto a su formación técnico- profesional, debe estar cabalmente concientizado de la importancia de la cadena de asepsia y la utilización de medios de esterilización como herramienta fundamental de prevención y protección de la vida humana.
        Además, debe conocer, aplicar, y evaluar los fundamentos, estrategias y recursos de diagnóstico de la salud bucal tanto en individuos como poblaciones; en situaciones asistenciales comunes, complejas y de alto riesgo que requieran su intervención
        individual o en equipos interdisciplinarios.</div>
      <div>&nbsp;</div>
      <div>En relación con su formación científica, debe desarrollar una actitud positiva permanente para la incorporación sistemática de nuevos conocimientos científicos y técnicos, que le permitan investigar individual o interdisciplinariamente, las problemáticas
        que padece la población; planificando, ejecutando y evaluando programas estratégicos de abordaje y generando nuevas alternativas tendientes a la erradicación de la enfermedad o al logro de niveles aceptables de salud.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>&nbsp;</div>
      <div>El título de Odontólogo capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Ejecutar acciones destinadas a anunciar, prescribir, indicar, o asesorar sobre cualquier procedimiento directo o indirecto de uso diagnóstico o pronóstico del Sistema Estomatognático.</li>
        </ul>
        <ul>
          <li>Planear, programar o ejecutar acciones destinadas a la preservación conservación, tratamiento y rehabilitación del Sistema Estomatognático o a la provisión de cuidados paliativos.</li>
        </ul>
        <ul>
          <li>Ejercer la enseñanza de la odontología.</li>
        </ul>
        <ul>
          <li>Asesorar a nivel público o privado sobre planificación sanitaria en establecimientos asistenciales.</li>
        </ul>
        <ul>
          <li>Realizar auditorias odontológicas, ya sea en individuos o sobre conjunto de población independientemente o no de retribuciones.</li>
        </ul>
        <ul>
          <li>Ejecutar prácticas de pericias odontológicas.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>