<ion-view title="Planes de Estudio" id="page82" style="background-color:#FFA422;">
  <ion-content padding="true" class="has-header">
    <ion-list id="planesDeEstudio-list9">
      <ion-item class="item-divider" id="planesDeEstudio-list-item-divider9"> Capital</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item172" ui-sref="gUAUNLaR.cienciasAplicadas()">
        <i class="icon ion-android-calendar"></i>Ciencias Aplicadas</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item173" ui-sref="gUAUNLaR.cienciasExactasFSicasYNaturales()">
        <i class="icon ion-android-calendar"></i>Ciencias Exactas, Físicas y Naturales</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item174" ui-sref="gUAUNLaR.cienciasHumanasYDeLaEducaciN()">
        <i class="icon ion-android-calendar"></i>Ciencias Humanas y de la Educación</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item175" ui-sref="gUAUNLaR.cienciasSocialesJurDicasYEconMicas()">
        <i class="icon ion-android-calendar"></i>Ciencias Sociales, Jurídicas y Económicas</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item176" ui-sref="gUAUNLaR.cienciasDeLaSalud()">
        <i class="icon ion-android-calendar"></i>Ciencias de la Salud</ion-item>
      <ion-item class="item-divider" id="planesDeEstudio-list-item-divider11"> Interior</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item178" ui-sref="gUAUNLaR.aimogasta()">
        <i class="icon ion-android-calendar"></i>Aimogasta </ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item182" ui-sref="gUAUNLaR.catuna()">
        <i class="icon ion-android-calendar"></i>Catuna </ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item179" ui-sref="gUAUNLaR.chamical()">
        <i class="icon ion-android-calendar"></i>Chamical </ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item183" ui-sref="gUAUNLaR.chepes()">
        <i class="icon ion-android-calendar"></i>Chepes </ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item177" ui-sref="gUAUNLaR.villaUniN()">
        <i class="icon ion-android-calendar"></i>Villa Unión</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item185" ui-sref="gUAUNLaR.olta()">
        <i class="icon ion-android-calendar"></i>Olta</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item181" ui-sref="gUAUNLaR.tama()">
        <i class="icon ion-android-calendar"></i>Tama</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item180" ui-sref="gUAUNLaR.ulapes()">
        <i class="icon ion-android-calendar"></i>Ulapes</ion-item>
      <ion-item class="item-icon-left positive" id="planesDeEstudio-list-item184" ui-sref="gUAUNLaR.vinchina()">
        <i class="icon ion-android-calendar"></i>Vinchina</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>