<ion-view title="Procuración" id="page134">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/MsAGcH2AQweNIzFntbvG_Procuracin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Objetivos de la Carrera</span>
      </h4>
      <div>Se propone que el graduado de Procurador:</div>
      <div>
        <ul>
          <li>Adquiera las competencias necesarias para la representación de terceros en juicio.</li>
        </ul>
        <ul>
          <li>Colabore con el abogado en el trámite jurídico procesal.</li>
        </ul>
        <ul>
          <li>Tenga plenos conocimientos para el mejor desarrollo de los procesos de mero trámite.</li>
        </ul>
        <ul>
          <li>Logre una actitud crítica y reflexiva que permita conocer la necesidad de actualización permanente de los conocimientos, atento la constante evolución del derecho.</li>
        </ul>
        <ul>
          <li>Desarrolle un sentido estricto de responsabilidad y ética profesional.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Perfil del Título</span>
      </h4>
      <div>El Procurador es un graduado universitario, con sólida formación jurídica y estará capacitado para representar a terceros en juicio, con el patrocinio de un letrado.</div>
      <div>&nbsp;</div>
      <div>Se le reconoce, asimismo, la facultad de efectuar en los procesos, peticiones de mero trámite y encargarse de distintas tramitaciones.</div>
      <div>&nbsp;</div>
      <div>Podrá realizar los trámites procesales, para los cuales lo habilitan las leyes de la materia, gestionar tramitaciones administrativas ante las distintas reparticiones públicas o privadas, cómputo de plazos, vencimientos.</div>
      <div>&nbsp;</div>
      <div>Tiene que, por consiguiente, lograr una sólida formación y dominio de los contenidos de las asignaturas codificadas, como Derecho Civil, Derecho Comercial, Derecho Penal y otras, en las cuales se basa la carrera de Abogacía.</div>
      <div>&nbsp;</div>
      <div>Debe adquirir un sentido estricto de responsabilidad e imbuir de contenidos éticos todo el proceso de aprendizaje, que le permitirá desenvolverse eficazmente en las tareas encomendadas.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El título de Procurador que otorga la Universidad Nacional de La Rioja habilita para:</div>
      <div>
        <ul>
          <li>Asesorar a empresas públicas y privadas, respecto a trámites administrativos.</li>
        </ul>
        <ul>
          <li>Representar en juicio a terceros con el patrocinio de un abogado.</li>
        </ul>
        <ul>
          <li>Ejercer su labor en forma independiente.</li>
        </ul>
        <ul>
          <li>Gestionar procesos judiciales y tramitaciones administrativas ante las distintas reparticiones públicas y privadas.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>