<ion-view title="Prof. de nivel superior en Biología" id="page176">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/m2rylxwfQoWB6BtIZEgL_ProfBiologia.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 408/10</strong>
        </span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL DEL GRADUADO</u>
          </strong>
        </span>
      </h4>
      <p>La Carrera de Profesorado de Nivel Superior en Biología está dirigida a formar docentes capacitados para:</p>
      <ul>
        <li>Dominar adecuadamente los contenidos que deberá enseñar.</li>
        <li>Dominar las estructuras básicas de la biología, la física y la química.</li>
        <li>Aplicar criterios válidos para la selección de contenidos relevantes en concordancia con el grupo de educandos que tiene a su cargo.</li>
        <li>Generar en sus alumnos, desde la biología, el respeto por la vida y el cuidado del medio ambiente.</li>
        <li>Poseer una comprensión básica de la conducta humana y de los procesos cognoscitivos que se ponen en juego para el aprendizaje de conceptualizaciones y habilidades en clase.</li>
        <li>Emplear en el ejercicio profesional los procedimientos científicos de la investigación con el fin de reflexionar sobre la propia práctica y poder entenderla y mejorarla.</li>
        <li>Analizar los resultados de su trabajo, evaluarlos y modificarlos para mejorar la calidad de los aprendizajes de los alumnos.</li>
        <li>Participar, conjuntamente con otros docentes, en la elaboración e implementación del proyecto educativo institucional de acuerdo con el contexto social particular de la institución escolar.</li>
        <li>Participar en investigaciones educativas relacionados con aspectos relevantes en el campo disciplinar.</li>
      </ul>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>
        </span>
      </h4>
      <p>El Titulo de Profesor de Nivel Superior en Biología habilita para:</p>
      <ul>
        <li>Planificar, conducir y evaluar de procesos de enseñanza-aprendizaje en el área de las ciencias biológicas, en el nivel medio y superior del sistema educativo.</li>
        <li>Participar en el ámbito disciplinar específico en programas de formación y/o mejoramiento de recursos humanos, según los requerimientos del sistema educativo.</li>
        <li>Integrar equipos de docencia e investigación científica en el área de las ciencias biológicas.</li>
        <li>Realizar estudios e investigaciones educativas sobre temas relacionados con la enseñanza de las ciencias biológicas.</li>
        <li>Integrar equipos para la elaboración de diseños curriculares en el nivel medio y superior del sistema educativo en el área de las ciencias biológicas.</li>
        <li>Asesorar en metodología de enseñanza de las ciencias biológicas.</li>
        <li>Promover, proyectar y monitorear las pasantías de alumnos en proyectos de integración entre la universidad y el nivel medio y terciario.</li>
        <li>Organizar colecciones biológicas para escuelas, museos e instituciones afines.</li>
        <li>Colaborar con los estudios biológicos, citológicos, histológicos, fisiológicos, embriológicos, genéticos y taxonómicos de seres vivos, muertos o fosilizados.</li>
        <li>Integrar equipos para la formación y capacitación en el área de la biología.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>