<ion-view title="Prof. en Psicopedagogía" id="page160">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SOdZi3XARga4svBaPFYz_Prof.enPsicopedagoga.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 033/96</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 556/97</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>Es un graduado Universitario con conocimientos en las áreas Filosóficas, Pedagógicas; Psico-sociológica y Biológica, que le permiten la comprensión integral del sujeto en situaciones de aprendizaje.</div>
      <div>&nbsp;</div>
      <div>Posee capacidad y habilidad para planificar, conducir y evaluar procesos de enseñanza-aprendizaje en el área de su especialidad.</div>
      <div>&nbsp;</div>
      <div>Tiene una actitud crítica, flexible y reflexiva frente a la realidad y su accionar profesional que le permiten conducir grupos de aprendizajes e integrar equipos interdisciplinarios.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>
        <ul>
          <li>Ejercer la docencia en el área de su especialidad, en todos los niveles del sistema educativo.</li>
        </ul>
        <ul>
          <li>Asesorar en los distintos niveles y modalidades del sistema Educativo, en el área de su especialidad.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>