<ion-view title="Prof. de Matemática" id="page175">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/yW9qIxXpRiudgnDhisJK_ProfMatemtica.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 452/11</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL DEL GRADUADO:</u>
          </strong>
        </span>
      </h4>
      <p>El Profesor Universitario en Matemática para el Nivel Secundario y Superior se forma para ser el principal conductor del proceso de la enseñanza y del aprendizaje en su área de especialidad, desarrollando y orientando los procesos de enseñanza de
        la Matemática en los niveles destacados, valorando el rol modelador de la Matemática para el abordaje de situaciones problemática.&nbsp; &nbsp; &nbsp; &nbsp;</p>
      <p>El Profesor Universitario en Matemática para el Nivel Secundario y Superior tiene un adecuado dominio de conocimientos en planificación y desarrollo de prácticas en las que la Matemática aparezca articulada, fundamentada, que le permita cobrar sentido
        para el alumno, generando entusiasmo por su estudio.</p>
      <p>En el ejercicio de la profesión, este profesional, de manera individual o en equipo mono – o multidisciplinarios, estará en condiciones de relacionar la matemática con otras áreas de conocimiento, proponer actividades educativas con docentes de
        otras disciplinas en el marco de proyectos escolares.</p>
      <p>Así también, participará en cursos de acción institucionales en el área de la matemática, que le permitirán analizar el resultado de su trabajo, evaluarlo científicamente y modificarlo en función de las observaciones para la mejora continua del
        proceso y generar propuestas de investigación educativa fundadas en sus conocimientos y su ciencia.</p>
      <p>Asimismo, está capacitado para diseñar, evaluar y asesorar en planes y programas educativos de desarrollo de la educación en matemática.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>ALCANCE DEL TITULO: </strong>
        </span>
      </h4>
      <p>El Título de Profesor Universitario en Matemática para el Nivel Secundario y Superior de la Universidad Nacional de La Rioja, capacita y habilita para:</p>
      <ul>
        <li>Ejercer la docencia en Educación en Matemática en los niveles de Educación, Secundaria y Superior del Sistema Educativo Nacional y Provincial, en todas las jurisdicciones, en los diferentes regímenes (público y privado).</li>
      </ul>
      <ul>
        <li>Planificar, organizar, conducir, coordinar, dirigir, supervisar y evaluar procesos de enseñanza y aprendizaje y diseños didácticos en el área de su especialidad en grupos específicos por edad, nivel de complejidad y exigencia curricular.</li>
        <li>Integrar equipos de trabajo con profesionales de distintas especialidades para la resolución de problemas educativos que atiendan a intereses comunes.</li>
        <li>Integrar equipos para la formación y la capacitación en el área de la Educación en Matemática.</li>
        <li>Participar en el ámbito disciplinar específico en programas de formación, capacitación, actualización y perfeccionamiento, según los requerimientos del sistema educativo.</li>
      </ul>
      <p>Ejercer Gestión en las instituciones educativas referidas a organización, dirección y afines en diferentes instituciones civiles y privadas.</p>
      <ul>
        <li>Asesorar en la enseñanza de temas relacionados con la Educación en Matemática.</li>
        <li>Integrar equipos de docencia e investigación científica en el Área de la Educación en Matemática.</li>
        <li>Diseñar, construir, producir, evaluar, ensayar, modificar y optimizar materiales, equipos, instrumentos, sistemas y componentes destinados a la enseñanza.</li>
        <li>Elaborar, implementar y difundir acciones destinadas al logro de la alfabetización científica relativa a la Matemática.</li>
        <li>Participar en actividades de Extensión comunitaria en áreas propias de su formación.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>