<ion-view title="Prof. en Ciencias de la Educación" id="page122">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/wEXx6BtQRKChOyG9xikp_Prof.enCienciasdelaEducacin.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 182/02</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Nº 1244/04</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Profesor en Ciencias de la Educación es el graduado universitario que por su sólida formación epistemológica y pedagógica es capaz de:</div>
      <div>
        <ul>
          <li>Percibir la importancia explicativa de las cosmovisiones o conjuntos organizados de principios, teorías, concepciones filosóficas, ante manifestaciones de la cultura, ciencia y de la técnica.</li>
          <li>Diagnosticar, diseñar, dirigir, ejecutar planes, programas, proyectos y modelos educativos y culturales, a nivel macro y micro.</li>
        </ul>
        <ul>
          <li>Diseñar, dirigir, ejecutar y evaluar proyectos de investigación educativa.</li>
        </ul>
        <ul>
          <li>Diseñar, producir y evaluar materiales educativos de distinta complejidad tecnológica, propiciando la innovación educativa.</li>
        </ul>
        <ul>
          <li>Asesorar en la elaboración, ejecución, conducción y evaluación de planes, programas y proyectos de acción socio-cultural-educativa.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El profesor en Ciencias de la Educación tiene las siguientes competencias profesionales:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Planificar programas y proyectos de formación y actualización para el desempeño de los distintos roles educativos.</li>
        </ul>
        <ul>
          <li>Diagnosticar, diseñar, dirigir, ejecutar planes, programas, proyectos y modelos educativos y culturales, a nivel macro y micro.</li>
        </ul>
        <ul>
          <li>Diseñar, dirigir, ejecutar y evaluar proyectos de investigación educativa.</li>
        </ul>
        <ul>
          <li>Diseñar, producir y evaluar materiales educativos de distinta complejidad tecnológica, propiciando la innovación educativa.</li>
        </ul>
        <ul>
          <li>Asesorar en la elaboración y ejecución de planes, programas y proyectos educativos Institucionales.</li>
        </ul>
        <ul>
          <li>Desempeñarse en la práctica pedagógica, en todos los niveles del sistema educativo.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>