<ion-view title="Prof. de Educación Física" id="page174">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/qifDFRuEQk3YcukscNmc_Prof.enEd.Fisica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 440/11</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL PROFESIONAL</u>
          </strong>
        </span>
      </h4>
      <p>El Profesor Universitario en Educación Física, se forma para ser el principal conductor del proceso de enseñanza y del aprendizaje de su área de especialidad, dado que cuenta con fundamentos precisos acerca de la&nbsp; forma que se elabora este
        a partir del movimiento humano, como acto psicomotriz; así mismo está capacitado para educar su ejercicio pedagógico a las aptitudes y diferencias individuales, con ajustes a los requerimientos de la sociedad de este tiempo, caracterizada fundamentalmente
        por un ritmo acelerado de cambio que exige del docente adaptación y creatividad permanente.</p>
      <p>El Profesor Universitario en Educación Física, tiene un adecuado dominio de conocimientos anatomo-fisiologicos, psicológicos y pedagógicos que le permiten realizar actividades educativas utilizando criterios válidos para la selección de contenidos
        relevantes en concordancia con el grupo de educandos que tiene a su cargo, asimismo genera en sus alumnos el respeto por la vida y el cuidado del medio ambiente.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>
        </span>
      </h4>
      <p>El Título de Profesor Universitario de Educación Física capacita y habilita para:</p>
      <ul>
        <li>Ejercer la docencia en Educación Física en los niveles de Educación Inicial, Educación Secundaria y Superior del Sistema Educativo Nacional y Provincial, en todas las Jurisdicciones, en los diferentes regímenes (público y privado) y también en
          la Educación Especial.</li>
        <li>Planificar, organizar, conducir, coordinar, dirigir, supervisar y evaluar procesos de enseñanza y aprendizaje y diseños didácticos en el área de su especialidad en grupos específicos por edad, nivel de complejidad y exigencia deportiva y sexo
          o condiciones físicas diferentes.</li>
        <li>Integrar equipos de trabajo con profesionales de distintas especialidades para la resolución de problemas educativos que atiendan a intereses comunes.</li>
        <li>Integrar equipos para la formación y la capacitación en el área de la Educación Física.</li>
        <li>Coordinar y orientar tareas grupales con sentido democrático integrador y estimulador del desarrollo sensomotriz individual y social.</li>
        <li>Participar en el ámbito disciplinar específico en programas de formación y/o mejoramiento de recursos humanos, según los requerimientos del sistema educativo.</li>
        <li>Desempeñarse profesionalmente en la organización, la gestión, la dirección de actividades recreativas, gimnásticas, deportivas, turísticas, de salud, y afines .en diferentes instituciones civiles y privadas.</li>
        <li>Asesorar en la enseñanza de temas relacionados con la Educación Física.</li>
        <li>Integrar equipos de docencia e investigación científica en el Área de la Educación Física.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>