<ion-view title="Prof. en Artes Plásticas" id="page159">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/XIlsM1a0R2iiERFsLCNo_Prof.enArtesPlsticas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza N° 267/04</strong>
        </span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>Resolución Ministerial N° 0210/06</strong>
        </span>
      </h4>
      <hr>
      <h3>&nbsp;</h3>
      <h4>
        <span style="color: #ff6600;">
          <strong>Perfil del Graduado</strong>
        </span>
      </h4>
      <div>El Plan de estudio de la Carrera de Profesor en Artes Plásticas capacita al graduado para que obtenga el siguiente perfil:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Conocer y comprender los procesos de creación y producción artística para poder realizar la transmisión cabal del objeto de estudio en la situación de enseñanza – aprendizaje.</li>
        </ul>
        <ul>
          <li>Conocer los fundamentos de los procesos de enseñanza y aprendizaje y sus características específicas en la educación artística.</li>
        </ul>
        <ul>
          <li>Ejercer la docencia en todos los niveles de educación y modalidades del sistema educativo formal y en ámbitos educativos no formales e informales.</li>
        </ul>
        <ul>
          <li>Colaborar, desempeñar tareas y asesorar en instituciones, organizaciones y empresas culturales y educativas en todo aquello relativo a su campo profesional.</li>
        </ul>
        <ul>
          <li>Ejecutar y colaborar en la elaboración y evaluación de proyectos interdisciplinarios educativos.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>
        <ul>
          <li>Conocer el objeto de estudio, procesos pictóricos, escultóricos, de grabado y arte impreso, de dibujo artístico, de comunicación visual, entre otros.</li>
        </ul>
        <ul>
          <li>Ejercer la Docencia en el sistema educativo formal.</li>
        </ul>
        <ul>
          <li>Asesorar, diagnosticar, diseñar, dirigir, ejecutar y evaluar proyectos de educación artística.</li>
        </ul>
        <ul>
          <li>Investigar en el campo específico de la educación artística.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>