<ion-view title="Prof. en Historia" id="page157">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/Cl5vSYJtQ9Sf1iL2hFH9_Prof.enHistoria.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Profesor Universitario en Historia para el Nivel Secundario y&nbsp;Superior se forma para ser el principal conductor del proceso de la&nbsp;enseñanza- aprendizaje en su área de especialidad, desarrollando y&nbsp;orientando los procesos de enseñanza
        de la Historia en los niveles&nbsp;destacados, valorando el rol modelador de la Historia para el abordaje de&nbsp;situaciones problemáticas.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El Profesor Universitario en Historia para el Nivel Secundario y Superior tiene un adecuado dominio de conocimientos en planificación y&nbsp;desarrollo de prácticas en las que la Historia aparezca articulada,&nbsp;fundamentada, que le permita cobrar
        sentido para el alumno, generando&nbsp;entusiasmo por su estudio.&nbsp;</div>
      <div>&nbsp;</div>
      <div>En el ejercicio de la profesión, este profesional, de manera individual o en equipo mono – o multidisciplinarios, estará en condiciones de&nbsp;relacionar la historia con otras áreas de conocimiento desde una concepción&nbsp;centrada en los procesos
        socio – históricos, proponer actividades educativas&nbsp;con docentes de otras disciplinas en el marco de proyectos escolares.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Así también, participará en cursos de acción institucionales en el área&nbsp;de la historia, que le permitirán analizar el resultado de su trabajo,&nbsp;evaluarlo científicamente y modificarlo en función de las observaciones&nbsp;para la mejora
        continua del proceso y generar propuestas de investigación&nbsp;educativa fundadas en sus conocimientos y su ciencia.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Asimismo, está capacitado para diseñar, evaluar y asesorar en planes&nbsp;y programas educativos de desarrollo de la educación en historia.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Título de Profesor Universitario en Historia para el Nivel &nbsp;Secundario y Superior de la Universidad Nacional de La Rioja, capacita y&nbsp;habilita para:&nbsp;</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Ejercer la docencia en Educación en Historia y Ciencias Sociales en&nbsp;los niveles de Educación Secundaria y Superior del Sistema Educativo&nbsp;Nacional y Provincial, en todas las Jurisdicciones, en los diferentes&nbsp;Regímenes (Público
            y Privado).&nbsp;</li>
          <li>Planificar, organizar, conducir, coordinar, dirigir, supervisar y&nbsp;evaluar procesos de enseñanza y aprendizaje y diseños didácticos en el área&nbsp;de su especialidad en grupos específicos por edad, nivel de complejidad y&nbsp;exigencia
            curricular.&nbsp;</li>
          <li>Integrar equipos de trabajo con profesionales de distintas especialidades para la resolución de problemas educativos que atiendan a&nbsp;intereses comunes, participando de proyectos institucionales.&nbsp;</li>
          <li>Integrar equipos para la formación y la capacitación en el área de la&nbsp;Educación en Historia.</li>
          <li>Participar en el ámbito disciplinar específico en programas de&nbsp;formación, capacitación, actualización y perfeccionamiento, según los&nbsp;requerimientos del Sistema Educativo.&nbsp;</li>
          <li>Ejercer Gestión en las Instituciones Educativas referidas a&nbsp;organización, dirección y afines en diferentes instituciones civiles y&nbsp;privadas.&nbsp;</li>
          <li>Asesorar en la enseñanza de temas relacionados con la Educación&nbsp;en Historia.</li>
          <li>Integrar equipos de docencia e investigación científica en el Área&nbsp;de la Educación en Historia.</li>
          <li>Diseñar, construir, producir, evaluar, ensayar, modificar y&nbsp;optimizar materiales, equipos, instrumentos, sistemas y componentes&nbsp;destinados a la enseñanza.&nbsp;</li>
          <li>Elaborar, implementar y difundir acciones destinadas al logro de la&nbsp;alfabetización científica relativa a la Historia.</li>
          <li>Participar en actividades de Extensión comunitaria en áreas propias&nbsp;de su formación.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>