<ion-view title="Reglamentos" id="page55" style="background-color:#FFA422;">
  <ion-content padding="true" class="has-header">
    <ion-list id="reglamentos-list14">
      <ion-item class="item-icon-left positive" id="reglamentos-list-item76" ui-sref="gUAUNLaR.reglamentoDeAlumnos()">
        <i class="icon ion-document-text"></i>Reglamento de Alumnos</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item77" ui-sref="gUAUNLaR.protocoloDeViolenciaDeGenero()">
        <i class="icon ion-document-text"></i>Protocolo de Violencia de Genero</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item78" ui-sref="gUAUNLaR.estatutoUniversitario()">
        <i class="icon ion-document-text"></i>Estatuto Universitario</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item79" ui-sref="gUAUNLaR.becasDeIncentivoAcadMico()">
        <i class="icon ion-document-text"></i>Becas de Incentivo Académico</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item80" ui-sref="gUAUNLaR.becasDeExperienciaLaboral()">
        <i class="icon ion-document-text"></i>Becas de Experiencia Laboral</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item81" ui-sref="gUAUNLaR.becasDeTutorAsAcadMicas()">
        <i class="icon ion-document-text"></i>Becas de Tutorías Académicas</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item107" href-inappbrowser="https://drive.google.com/file/d/1Xb6QF4k-zL33XykPbdEID4SXYjrdZWk3/view?usp=sharing">
        <i class="icon ion-document-text"></i>Becas de Investigación BAI-BPI</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item111" href-inappbrowser="https://drive.google.com/file/d/1RrwIUFY5TPlbPUfwRlT3bcJldq_CvmuZ/view?usp=sharing">
        <i class="icon ion-document-text"></i>Becas de Extensión</ion-item>
      <ion-item class="item-icon-left positive" id="reglamentos-list-item112" href-inappbrowser="https://drive.google.com/file/d/1hsN2ReYWzEpbrU4nR_ehgkcpE1M5qxT_/view?usp=sharing">
        <i class="icon ion-document-text"></i>Becas de Vinculación Tecnológica</ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>