<ion-view title="Tama" id="page94">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/lGV515sQFa1IHLske43C_tama-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="tama-list33">
      <ion-item class="item-icon-left dark" id="tama-list-item288" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="tama-list-item136" ui-sref="gUAUNLaR.tecUniversitariaEnInformTica()">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
      <ion-item class="item-icon-left dark" id="tama-list-item289" ui-sref="gUAUNLaR.tecEnGuADeTurismo()">
        <i class="icon ion-university"></i>Tec. en Guía de Turismo</ion-item>
    </ion-list>
  </ion-content>
</ion-view>