<ion-view title="Téc. en Gestión Jurídica" id="page135">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/HmUpw9tJRQaEjFqW5jRH_Tec.enGestinJurdica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>La carrera de Técnico Universitario en Gestión Jurídica otorgara al&nbsp;futuro técnico una formación que lo capacitara para asistir al abogado y al&nbsp;escribano en la administración de estudios jurídicos y notariales, con&nbsp;énfasis en la gestión
        relativa a las finanzas (pagos y cobranzas, selección,&nbsp;capacitación y reclutamiento de recursos humanos), la planificación&nbsp;estratégica del negocio y la comercialización del servicio.</div>
      <div>&nbsp;</div>
      <div>Esta carrera capacitara al egresado para operar eficazmente como&nbsp;asistente en las diferentes funciones que tienen lugar en los organismos y&nbsp;las entidades que forman parte de la administración de justicia y que no&nbsp;requieran – constitucional
        o legalmente – poseer título de abogado,&nbsp;procurador o escribano. El futuro técnico desarrollara la competencia&nbsp;idónea para desempeñarse en los departamentos y secciones jurídicas y&nbsp;legales de la administración pública nacional,
        provincial y municipal y en&nbsp;la actividad privada.</div>
      <div>&nbsp;&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Título de Técnico Universitario en Gestión Jurídica capacita y habilita&nbsp;para:</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>a.- En el área jurídica,</div>
      <div>
        <ul>
          <li>Colaborar en la redacción de demandas y escritos judiciales, cartas&nbsp;documentos, contratos, convenios extrajudiciales, planillas, etc. Bajo la supervisión de un profesional habilitado.</li>
          <li>Llevar a cabo tramites de la administración judicial.</li>
          <li>Desempeñarse como auxiliar de la justicia.&nbsp;</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div>b.- En el área administrativa,</div>
      <div>
        <ul>
          <li>Realizar trámites en estudios jurídicos y notariales y ante organismos&nbsp;públicos y privados relacionados con el área contable y económica&nbsp;(gestiones bancarias, de proyectos de inversión, de cobranzas y&nbsp;pagos, etc.)&nbsp;</li>
          <li>Colaborar en la elaboración de informes que reflejen la situación&nbsp;financiera de la empresa y su inserción en el contexto socioeconómico.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div>c.- En el área social:</div>
      <div>
        <ul>
          <li>Colaborar en la capacitación de recursos administrativos para su&nbsp;desempeño eficaz en el contexto de la administración judicial y&nbsp;en ámbito jurídico.</li>
          <li>Manejar las nuevas tecnologías de la información (NTIC) para&nbsp;producir información actualizada, con impacto en la redacción de&nbsp;documentos jurídicos y en las tareas inherentes a su actividad&nbsp;gestora.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>