<ion-view title="Tec. de Tasador y Corredor Inmobiliario" id="page138">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/gHkiFvkWS8RVwqGDbFtl_Tec.deTasador.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional&nbsp;</span>
      </h4>
      <div>La formación Académica del Técnico Universitario de Tasador y Corredor&nbsp;Inmobiliario, graduado en la Universidad Nacional de La Rioja, otorgará al&nbsp;futuro profesional una formación que lo capacitará y habilitará con&nbsp;conocimientos específicos
        para asumir las tareas que demanda la profesión,&nbsp;acordes al siguiente perfil:&nbsp;</div>
      <div>
        <ul>
          <li>Poseerá una concepción amplia, humanística y ética de las actividades&nbsp;profesional, que integra el conocimiento científico de la realidad jurídica y&nbsp;económica con los valores morales.</li>
        </ul>
        <ul>
          <li>Dominará los procedimientos pragmáticos y funcionales para la&nbsp;resolución de los problemas patrimoniales, más comunes, derivados de las&nbsp;contrataciones entre las personas y de otras causas que los generen.</li>
        </ul>
        <ul>
          <li>Estará capacitado para determinar los valores técnicos para fines&nbsp;contables de la totalidad de bienes inmuebles y muebles de dominio&nbsp;público y privado.</li>
        </ul>
        <ul>
          <li>Será competente para practicar tasaciones que le sean requeridas por&nbsp;persona física o jurídica, cualquiera sea la materia a propuesta de las partes&nbsp;o por designación de oficio.</li>
        </ul>
        <ul>
          <li>Podrá constituirse en instancia arbitral en carácter de mediador a los fines&nbsp;de solucionar conflictos suscitados en torno al valor de bienes muebles e&nbsp;inmuebles.</li>
        </ul>
        <ul>
          <li>Acreditará competencias idóneas para actividades profesionales en los&nbsp;departamentos y secciones jurídicas y legales en el marco de la&nbsp;Administración Pública (Nacional, Provincial y Municipal) y Privada.</li>
        </ul>
        <ul>
          <li>
            <div>Será especialmente capacitado para la tasación de obras artísticas, alhajas,&nbsp;reliquias, bienes agropecuarios, mineros y emprendimientos urbanísticos.&nbsp;</div>
          </li>
        </ul>
        <ul>
          <li>
            <div>Se apropiará, conforme a los conocimientos Legales y Administrativos&nbsp;sustanciales y procedimentales, de habilidades y competencias prácticas.</div>
          </li>
        </ul>
        <ul>
          <li>
            <div>Egresará educado como un profesional versátil y comprometido con los&nbsp;valores sociales, con una sólida formación, responsable y ética.</div>
            <p>&nbsp;</p>
          </li>
        </ul>
      </div>
      <div>
        <h4>
          <span style="color: #ff6600;">Alcances del Título</span>
        </h4>
        <div>Los graduados con el Título “Técnico Universitario e Tasador y Corredor&nbsp;Inmobiliario”, son competentes para:</div>
        <div>
          <ul>
            <li>Desempeñarse en la tasación de bienes muebles de inmuebles en el&nbsp;ámbito público y privado.</li>
          </ul>
          <ul>
            <li>Actuar como perito tasador en trámites judiciales.</li>
          </ul>
          <ul>
            <li>Constituirse en instancia arbitral en carácter de mediador o participar&nbsp;como árbitro en conflictos suscitados sobre bienes muebles o inmuebles&nbsp;relacionados con su valor.</li>
          </ul>
          <ul>
            <li>Determinar valores fiscales y catastrales a los fines impositivos y estimar&nbsp;valuación a los efectos de seguros.</li>
          </ul>
          <ul>
            <li>Asesorar sobre el valor de semovientes, obras artísticas, alhajas, reliquias,&nbsp;bienes agropecuarios, mineros, emprendimientos urbanísticos, valuación de&nbsp;inmuebles por expropiación, valuación hipotecaria.</li>
          </ul>
          <ul>
            <li>Actuar en los negocios inmobiliarios intermediando entre la oferta y la&nbsp;demanda y concretando contratos y realizar la venta de todo tipo de bienes.</li>
          </ul>
          <ul>
            <li>Oficiar de intermediario, asesor y operador en la gestión de créditos para&nbsp;operaciones inmobiliarias, compraventa de hacienda y semovientes, de&nbsp;automotores, bienes muebles, objetos valiosos y obras de arte.</li>
          </ul>
          <ul>
            <li>Determinar valores para créditos bancarios y estimar valores de cambio&nbsp;de y de mercado.&nbsp;</li>
          </ul>
          <ul>
            <li>Determinar valores de compra y de locación respecto a la renta&nbsp;inmobiliaria.</li>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>