<ion-view title="Tec. en Com. Social para el Desarrollo " id="page141">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 003/13</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL PROFESIONAL</u>
          </strong>
        </span>
      </h4>
      <p>La carrera de técnico universitario en comunicación social para el desarrollo otorgara al futuro profesional una formación que lo capacitará para gestionar procesos de comunicación orientados al desarrollo local.</p>
      <p>Capacitara al egresado en la elaboración de estrategias de comunicación para medios masivos y alternaciones de información y en organizaciones públicas y de la sociedad civil. El egresado también estará formado para promover y gestionar formas de
        financiamiento de los proyectos, emprendimientos y productos comunicacionales orientados al desarrollo.</p>
      <p>Formara al futuro técnico en materiales de producción y difusión de información a través de las diversas tecnológicas y formatos de comunicación masiva y/o alternativa; y en la adquisición de criterios de adaptación de cada producto a las características
        de cada canal/soporte; y cada canal a las necesidades, competencias y requerimientos de los públicos receptores.</p>
      <p>Habilitará un técnico comprometido con la difusión, el debate y la defensa de la legislación vigente en materia del Derecho de la información y la legislación vigente en materia de comunicación audiovisual (ley 26.522).</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>&nbsp;</span>
      </h4>
      <p>Los graduados con el Título "Técnico Universitario en Comunicación Social para el Desarrollo”, son competentes para:&nbsp;</p>
      <ul>
        <li>Producir y difundir información periódica en medios masivos y/o alternativos de información.</li>
      </ul>
      <ul>
        <li>Elaborar estrategias de gestión de la comunicación en medios masivos y/o alternativos de información; y organismos públicos y organizaciones de la sociedad civil tendientes al desarrollo local.&nbsp;</li>
      </ul>
      <ul>
        <li>Elaborar estrategias de difusión y preservación de información referida al patrimonio cultural, en el ámbito de desarrollo de la profesión.&nbsp;</li>
      </ul>
      <ul>
        <li>Organizar e impartir talleres de comunicación popular como herramienta de organización social y para el dialogo comunitario.&nbsp;</li>
      </ul>
      <ul>
        <li>Organizar e impartir talleres u otras modalidades de capacitación sobre el uso responsable y efectivo de las tecnológicas de la comunicación social masiva y/o alternativa.&nbsp;</li>
      </ul>
      <ul>
        <li>Capacitar en materia de derecho de la información y la legislación vigente en materia de comunicación audiovisual.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>