<ion-view title="Tec. en Bibliotecología" id="page161">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/J824EsZQr2qXhd00CFCB_Tec.enBibliotecologa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Técnico Universitario en Bibliotecología está capacitado para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Gestionar sistemas bibliotecarios.&nbsp;</li>
        </ul>
        <ul>
          <li>Tramitar y procesar colecciones documentales de unidades de información.</li>
        </ul>
        <ul>
          <li>Diseñar y gestionar servicios de unidades de información.</li>
        </ul>
        <ul>
          <li>Aplicar conceptos y métodos adecuados para la conservación y preservación de documentos.</li>
        </ul>
        <ul>
          <li>Utilizar las nuevas tecnologías y generar productos y servicios en unidades de información.</li>
        </ul>
        <ul>
          <li>Actuar como agente de extensión cultural.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El título de Técnico Universitario en Bibliotecología de la Tecnicatura Universitaria en Bibliotecología capacita y habilita para:&nbsp;</div>
      <div>
        <ul>
          <li>Diseñar los instrumentos que resulten de incumbencia en su ámbito laboral en función de una diagnosis situacional.</li>
        </ul>
        <ul>
          <li>Ordenar y registrar sistemáticamente documentos.&nbsp;</li>
        </ul>
        <ul>
          <li>Evaluar heurística y hermenéuticamente datos o instrumentos inherentes a su ámbito técnico.</li>
        </ul>
        <ul>
          <li>Aplicar destrezas y artes para la producción de elementos análogos o semejantes con los de su menester.</li>
        </ul>
        <ul>
          <li>Producir performances empíricas en la dimensión realizativa de su praxis profesional.</li>
        </ul>
        <ul>
          <li>Planificar, organizar y colaborar con el control de los procesos administrativos de unidades de información.</li>
        </ul>
        <ul>
          <li>Desarrollar colecciones documentales</li>
        </ul>
        <ul>
          <li>Diseñar e implementar servicios bibliotecarios para los distintos usuarios.</li>
        </ul>
        <ul>
          <li>Emplear métodos y técnicas inherentes para la conservación de los materiales convencionales y especializados.</li>
        </ul>
        <ul>
          <li>Aplicar las nuevas tecnologías a los servicios de información en bibliotecas</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>