<ion-view title="Tec. en Gestión y Admin. Rural" id="page167">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/cfKX4oF9TDa32t1eMZMp_Tec-en-Gestin-y-AdmRural-Chamical.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 114/99</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>EI profesional universitario, con formaciones normalmente sólidas&nbsp;tanto en lo teórico cuanto en la práctica diaria, pero muchas veces con&nbsp;difícil inserción en los procesos de reversión de los empirismos&nbsp;mencionados. A veces, este
        profesional, está asistido en algunas funciones&nbsp;por técnicos con formación adquirida en diversas instituciones del antiguo&nbsp;Nivel Medio Agrotécnico del Sistema Educativo Nacional.&nbsp;</div>
      <div>&nbsp;</div>
      <div>En un escalón intermedio entre los descriptos, se ubica una figura a&nbsp;la cual podríamos denominar como el Técnico Universitario en Gestión y&nbsp;Administración Rural, Los grados de preparación y capacitación para tal&nbsp;función, son diversos
        y muchas veces inespecíficos.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Nuestra propuesta se basa en la capacitación para cubrir tal función,&nbsp;con herramientas científico-tecnológicas actualizadas, con información&nbsp;sobre las políticas de desarrollo sustentable imperante en la actualidad y&nbsp;altamente deseable
        para la eficiente gestión rural y con una conexión real&nbsp;entre la función profesional y la operación efectiva de los procesos que&nbsp;implican tal gestión.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título</u>
        </span>
      </h4>
      <div>
        <ul>
          <li>Supervisar la aplicación de técnicas e instrumentos en la gestión&nbsp;productiva y de administración de, los establecimientos rurales de&nbsp;producción primaria.&nbsp;</li>
        </ul>
        <ul>
          <li>Asistir a los Profesionales vinculados con el Establecimiento, en la&nbsp;ejecución de proyectos privados y públicos de Aprovechamiento de los&nbsp;Recursos Naturales Renovables de cualquier origen y con cualquier destino&nbsp;lícito.&nbsp;</li>
        </ul>
        <ul>
          <li>Participar en la ejecución de tareas de modificación y&nbsp;transformación del ambiente, aplicando los modernos criterios de&nbsp;producción sostenida en el marco de las políticas de desarrollo sustentable.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>