<ion-view title="Tec. en Seguridad Urbana" id="page139">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/hfDVihnASBhMJeNcTKwg_TEC.ENSEGURIDAD.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 009/13</span>
      </h4>
      <hr>
      <h5>&nbsp;</h5>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>El Técnico Universitario en Seguridad Urbana posee los conocimientos&nbsp;necesario que le permiten evaluar situaciones y conductas de personas, en&nbsp;forma individual o grupal y configurar los elementos necesarios de análisis&nbsp;para el especialista
        en seguridad que correspondiere (Licenciado, Ingeniero,&nbsp;etc.), se encuentre en condiciones de evaluar y confeccionar la pertinente&nbsp;planificación de la seguridad, conforme a las características situacionales.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcance del Título</span>
      </h4>
      <div>Los graduados con el Título “Técnico Universitario en Seguridad Urbana”, son&nbsp;competentes para:</div>
      <div>
        <ul>
          <li>Auxiliar del especialista en materia de relevamientos y diagnósticos&nbsp;preliminares de seguridad.&nbsp;</li>
        </ul>
        <ul>
          <li>Búsqueda y selección de factores que hacen a una situación determinada.</li>
        </ul>
        <ul>
          <li>Identificación y tratamiento del elemento desestabilizante en la&nbsp;seguridad.&nbsp;</li>
        </ul>
        <ul>
          <li>Análisis y tratamiento de conflictos sociales urbanos.</li>
        </ul>
        <ul>
          <li>Confección de la planimetría acorde a cada evento o situación.</li>
        </ul>
        <ul>
          <li>Identificar elementos de seguridad a considerar para resguardar el&nbsp;escenario de un hecho.&nbsp;</li>
        </ul>
        <ul>
          <li>Analizar los eventuales riesgos y ventajas que pueden suscitarse en&nbsp;eventos deportivos, musicales, políticos, etc., en lo atinente a los tópicos&nbsp;de seguridad.&nbsp;</li>
        </ul>
        <ul>
          <li>Análisis, dirección y ejecución de sistemas en instalaciones de&nbsp;seguridad.&nbsp;</li>
        </ul>
        <ul>
          <li>Elaboración de índices estadísticos de los factores determinantes y&nbsp;fijación de medidas correctivas.&nbsp;</li>
        </ul>
        <ul>
          <li>Decisión sobre las especificaciones técnicas para la adquisición de&nbsp;elementos de protección personal.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>