<ion-view title="Tec. en Tecnología de Alimentos" id="page173">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/V4nTMPhtS5OJrC0a5681_Tec.-en-Tecnologa-de-Alimentos.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 426/10</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>
        <ul>
          <li>Es un profesional que, con una fuerte formación básica, está capacitado&nbsp;técnicamente y dotado de aptitudes para desarrollar actividades en el&nbsp;campo de:&nbsp;</li>
        </ul>
        <ul>
          <li>Los análisis físicos, químicos y microbiológicos de materias primas&nbsp;alimenticias, productos intermedios, alimentos elaborados, aditivos&nbsp;alimentarios y materias afines.&nbsp;</li>
        </ul>
        <ul>
          <li>El control de la materia prima, productos en procesos y productos&nbsp;elaborados.&nbsp;</li>
        </ul>
        <ul>
          <li>El control y gestión de calidad.</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <div>Además desarrollará actitud crítica en la adquisición y aprovechamiento de&nbsp;los conocimientos vinculados con la ciencia y la tecnología de alimentos y&nbsp;valorará la importancia de la integración social profesional del egresado en&nbsp;el
        sistema productivo.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título</u>
        </span>&nbsp;</h4>
      <p>La formación del Graduado contemplará tanto los intereses&nbsp;científicos como los sociales. Aptitudes tales como habilidad lógicomatemática,&nbsp;capacidad de análisis, talento para establecer relaciones&nbsp;interpersonales y vocación para aceptar
        el desafío de afrontar problemas y&nbsp;situaciones nuevas en los sistemas productivos, estableciendo las&nbsp;alternativas de solución.&nbsp;</p>
      <p>&nbsp;Dada la aceleración en el cambio y transformaciones tecnológicas de&nbsp;nuestro medio, hay un consenso generalizado en que los docentes deben&nbsp;poner más énfasis en que los alumnos comprendan las técnicas que están&nbsp;aprendiendo y no
        sólo conocer su aplicación y detalles tecnológicos, de&nbsp;modo que el graduado sepa buscar y aplicar la información que le será&nbsp;necesaria para la toma de decisiones en su actividad profesional.&nbsp;</p>
    </div>
  </ion-content>
</ion-view>