<ion-view title="Tec. en Gestión de Empresa Pecuaria" id="page170">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/GehKHbvmTLyJV5EpBCZE_Tec.-en-Gestin-de-Empresas-Pecuarias.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>El Técnico en Gestión de Empresas Pecuarias, corresponde a la&nbsp;profesionalización de unidades económicas, que distingue la participación&nbsp;de profesionales en la actividad Técnica de recursos calificados y formados&nbsp;bajo un esquema competitivo
        y de excelencia.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Este Profesional está capacitado para:</span>
      </h4>
      <div>
        <ul>
          <li>Conducir, administrar y liderar las distintas actividades de una&nbsp;organización, ya sea ésta de índole privada, pública o mixta.</li>
        </ul>
        <ul>
          <li>Evaluar las fortalezas y debilidades de la organización, como así también&nbsp;las oportunidades y amenazas del entorno para el diseño de la estrategia de&nbsp;la organización, participando en dicha confección.&nbsp;</li>
        </ul>
        <ul>
          <li>Posee conocimientos en el área de administración empresaria y habilidad&nbsp;para aplicarlos en la realización de estudios, con el objeto de producir&nbsp;nuevos aportes que enriquezcan el área de su especialidad.&nbsp;</li>
        </ul>
        <ul>
          <li>Diseñar, evaluar y poner en marcha la planificación operativa de una&nbsp;empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Desarrollar el proceso administrativo en las distintas actividades,&nbsp;planificando organizando, dirigiendo y controlando las tareas referidas a la&nbsp;producción, al personal, a las finanzas y a la comercialización de la&nbsp;empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Ejecutar la administración de todos los recursos involucrados con una&nbsp;perspectiva económica, financiera y humana que permita optimizar los&nbsp;recursos productivos de la empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Resolver problemas y situaciones críticas por medio de una eficiente toma&nbsp;de decisiones en temas y funciones de competencia.&nbsp;</li>
        </ul>
      </div>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance&nbsp;del Título</u>
        </span>
      </h4>
      <div>1. Colaborar y asistir en el diseño de la técnica y procedimientos necesarios&nbsp;para la consecución de los objetivos de la Empresa Pecuaria.</div>
      <div>&nbsp;</div>
      <div>2. Colaborar en la Organización y en el control de las actividades en las&nbsp;diferentes áreas de la Empresa Pecuaria.</div>
      <div>&nbsp;</div>
      <div>3. Colaborar en el desarrollo de un plan de crecimiento de la Empresa&nbsp;Pecuaria y someterlo a criterio de superioridad para la confección de la&nbsp;estrategia.&nbsp;</div>
      <div>&nbsp;</div>
      <div>4. Colaborar en la estructuración de la Empresa Pecuaria en niveles&nbsp;jerárquicos acordes a los procesos que se llevan a cabo y a la misión,&nbsp;objetivos y metas de la organización.&nbsp;</div>
      <div>&nbsp;</div>
      <div>5. Colaborar en organizar, planificar, dirección y control de la operatividad&nbsp;de la Empresa Pecuaria, centrando su actividad en el devenir económico,&nbsp;financiero, comercial, productivo de ésta.&nbsp;</div>
      <div>&nbsp;</div>
      <div>6. Colaborar en la creación y mantenimiento de un sistema de&nbsp;comunicación que le permita la administración y seguimiento de los&nbsp;distintos flujos de información de la Empresa Pecuaria.&nbsp;</div>
      <div>&nbsp;</div>
      <div>7. Colaborar en la configuración de perfiles, selección, adiestramiento y&nbsp;evaluación de los recursos humanos de la Empresa Pecuaria.&nbsp;</div>
      <div>&nbsp;</div>
      <div>8. Colaborar en la preparación y estimación del movimiento de los fondos;&nbsp;en la administración de los presupuestos de ventas; costo operativos y de&nbsp;caja de la organización de la Empresa Pecuaria.&nbsp;</div>
      <div>&nbsp;</div>
      <div>9. Colaborar en la evaluación técnica y económica de los nuevos proyectos&nbsp;de inversión y velar por los nuevos niveles de rentabilidad de la carta de&nbsp;negocios de la Organización Empresa Pecuaria.</div>
    </div>
  </ion-content>
</ion-view>