<ion-view title="Tec. Electro-Electrónica" id="page97">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/v6WvlO78QaumYePFuGs9_TEE.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <a href-inappbrowser="https://play.google.com/store/apps/details?id=com.marcosnieto.ElectroElectronicaUNLaR" id="tecElectroElectrNica-button49" class="button button-energized button-block">Electro-Electrónica APP</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">Ordenanza Nº 403/10</span>
        </strong>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL DEL EGRESADO:</u>
          </strong>
        </span>
      </h4>
      <p>El Técnico Electro-Electrónico está capacitado para colaborar en el diseño de nuevas instalaciones eléctricas (potencia, control de datos, comunicaciones y alarmas), domiciliarias, comerciales y de pequeñas y medianas industrias hasta 50 KW, de
        acuerdo a la reglamentación de AEA (Asociación Electrotécnica Argentina). Además, podrá desempeñarse en industrias en el área de mantenimiento eléctrico, colaborando con el diagnóstico y reparación de fallas en equipos electro-electrónicos, máquinas
        industriales e instalaciones eléctricas, siempre bajo la supervisión de profesionales afines.</p>
      <p>En el área comercial, el Técnico Electro-Electrónico colabora en la representación y venta técnica de equipamiento eléctrico y electrónico variado.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCE DEL TÍTULO:</u>
          </strong>
        </span>
      </h4>
      <p>El Título de Técnico en Electro-Electrónica, capacita y habilita para:</p>
      <p>*Colaborar en el diseño de nuevas instalaciones eléctricas (potencia, control de datos, comunicaciones y alarmas), domiciliarias, comerciales y de pequeñas y medianas industrias hasta 50 KW.</p>
      <p>*Participar en la realización de gestiones para la habilitación de instalaciones nuevas o la implicación de instalaciones existentes.</p>
      <p>*Realizar de tareas de reparación de sistemas de iluminación para interior y exterior.</p>
      <p>&nbsp;*Trabajar en estrecha relación con estudios de arquitectura e ingeniería, brindando servicios de instalación calificada en obra y participar en el asesoramiento técnico sobre accesorios y tecnologías disponibles en la etapa de formulación
        de proyectos en electro electrónica.</p>
      <p>*Colaborar con la implementación de instalaciones de cableado estructurado.</p>
      <p>*Ejecutar instalaciones de audio y de vídeo.</p>
      <p>*Colaborar con la programación e instalación de controladores lógicos programables (PLCs).</p>
      <p>*Colaborar con la realización de informes en el marco de lo establecido en disposiciones reglamentarias en materia de seguridad de instalaciones edilicias, especialmente las relativas a seguridad personal y prevención contra propagación de humo
        y llamas.</p>
      <p>*Interactuar con profesionales de otras áreas afines (arquitectura, ingeniería e informática), para instalar sistemas electrónicos y accesorios, integrar dispositivos con interfaces de electrónica de potencia, instalar y programar centrales telefónicas
        y proyectar e instalar sistemas electrónicos de seguridad, siempre bajo la supervisión de profesionales afines.</p>
      <p>*Interactuar en el sector comercial, colaborando con la representación y venta técnica de equipamiento eléctrico y accesorios con contenidos electrónico variado.</p>
    </div>
  </ion-content>
</ion-view>