<ion-view title="Tec. en Gestión y Admin. Contable" id="page136">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/05vbYIXRuGGjcShUCgLg_Tec.enGestinyAdminContable.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>El Graduado de la Carrera de Tecnicatura Universitaria en Gestión y&nbsp;Administración Contable recibe una formación que lo capacita para realizar&nbsp;las tareas específicas vinculadas a la gestión y a la administración contable,&nbsp;tanto en
        empresas públicas como en privadas. Esta carrera se propone&nbsp;formar un técnico hábil y comprometido con los valores sociales, con una&nbsp;sólida formación responsable y ética.</div>
      <div>&nbsp;</div>
      <div>El Técnico Universitario en Gestión y Administración Contable tiene&nbsp;la competencia para realizar tareas técnicas instrumentales vinculadas a la&nbsp;elaboración de los estados contables como asistente idóneo de los&nbsp;contadores públicos,
        para colaborar en los procesos de recolección de datos&nbsp;del desempeño humano de las organizaciones y para asistir a los&nbsp;responsables de la toma de decisiones con respecto de aquellos&nbsp;procedimientos y procesos laborales en los que
        se ven involucrado el&nbsp;capital humano.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>El Título Técnico de Pregrado de Técnico Universitario en Gestión y&nbsp;Administración Contable capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Colaborar en la elaboración de los registros e informes necesarios para la&nbsp;confección de los estados contables y en la revisión de la documentación.</li>
        </ul>
        <ul>
          <li>Colaborar en la puesta en práctica de políticas, sistemas, métodos y&nbsp;procedimientos de trabajo administrativo.</li>
        </ul>
        <ul>
          <li>Colaborar en el diseño, puesta en marcha y aplicación de sistemas de&nbsp;procesamiento de datos y otros métodos en diversas etapas del proceso de&nbsp;información gerencial.&nbsp;</li>
        </ul>
        <ul>
          <li>Colaborar en la recolección de datos del desempeño humano de las&nbsp;organizaciones y asistir a los responsables empresariales en la toma de&nbsp;decisiones con respecto a aquellos procedimientos y a los procesos&nbsp;laborales en los que estén
            involucradas las personas.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>