<ion-view title="Tec. en Guía de Turismo" id="page127">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 010/13</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial 791/15</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>El Técnico Universitario en Guía de Turismo es un profesional que posee actitud de&nbsp;servicio capacidad de gestión y resolución de problemas, valores éticos, independencia de&nbsp;criterios, iniciativa, pensamiento crítico y actuación coherente
        para comprender y evaluar&nbsp;situaciones internas de su actividad.</div>
      <div>&nbsp;</div>
      <div>El Técnico Universitario en Guía de Turismo es un profesional calificado y especializado,&nbsp;trasmisor de valores culturales, usos y costumbres sociales, con desempeño en el campo del&nbsp;tiempo libre, el turismo y la recreación, a nivel local,
        regional y nacional.</div>
      <div>&nbsp;</div>
      <div>Es el profesional que mediante la comunicación interpersonal, conduce, informa de manera&nbsp;calificada y organizada a un grupo de turistas acercándolos al conocimiento de atractivos&nbsp;naturales y culturales.</div>
      <div>&nbsp;</div>
      <div>Es un profesional idóneo para interpretar y transmitir el patrimonio natural y cultural a&nbsp;través de las técnicas de coordinación, animación, recreación y comunicación que le&nbsp;competen.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>Los graduados con el Título “Técnico Universitario en Guía de Turismo”, son&nbsp;competentes para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Recepcionar, asistir, orientar, informar y motivar a personas o grupos en&nbsp;visitas excursiones y viajes dentro del país.</li>
        </ul>
        <ul>
          <li>Diseñar programar, ejecutar y evaluar actividades socioculturales en le&nbsp;tiempo libre involucrando a las comunidades locales.</li>
        </ul>
        <ul>
          <li>Programar, organizar y ejecutar actividades recreativas con especial énfasis&nbsp;en aquellas que favorezcan el armónico disfrute y desarrollo de las capacidades&nbsp;de las personas en su tiempo libre.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>