<ion-view title="Tec. en Gestión de Empresa Agrícolas" id="page169">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/NLa0ZEWKTb2whtOHbzJX_Tec-en-Gestin-de-Empresas-Agrcolas.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 146/01</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>El Técnico en Gestión de Empresas Agrícolas, corresponde a la&nbsp;profesionalización de unidades económicas, que distingue la participación&nbsp;de profesionales en la actividad Técnica de recursos calificados y formados&nbsp;bajo un esquema competitivo
        y de excelencia.&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Este Profesional está capacitado para:</span>
      </h4>
      <div>
        <ul>
          <li>Conducir, administrar y liderar las distintas actividades de una&nbsp;organización, ya sea ésta de índole privada, pública o mixta.</li>
        </ul>
        <ul>
          <li>Evaluar las fortalezas y debilidades de la organización, como así también&nbsp;las oportunidades y amenazas del entorno para el diseño de la estrategia de&nbsp;la organización, participando en dicha confección.&nbsp;</li>
        </ul>
        <ul>
          <li>Posee conocimientos en el área de administración empresaria y habilidad&nbsp;para aplicarlos en la realización de estudios, con el objeto de producir&nbsp;nuevos aportes que enriquezcan el área de su especialidad.&nbsp;</li>
        </ul>
        <ul>
          <li>Diseñar, evaluar y poner en marcha la planificación operativa de una&nbsp;empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Desarrollar el proceso administrativo en las distintas actividades,&nbsp;planificando organizando, dirigiendo y controlando las tareas referidas a la&nbsp;producción, al personal, a las finanzas y a la comercialización de la&nbsp;empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Ejecutar la administración de todos los recursos involucrados con una&nbsp;perspectiva económica, financiera y humana que permita optimizar los&nbsp;recursos productivos de la empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Resolver problemas y situaciones críticas por medio de un eficiente&nbsp;proceso de toma de decisiones.&nbsp;</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcance del Título</u>
        </span>
      </h4>
      <div>
        <ul>
          <li>Diseñar las técnicas y procedimientos necesarios para la consecución de&nbsp;los objetivos de la organización.</li>
        </ul>
        <ul>
          <li>Organizar y controlar las actividades relacionadas con las distintas áreas&nbsp;de la empresa.</li>
        </ul>
        <ul>
          <li>Desarrollar en función de las fortalezas y debilidades, su plan de&nbsp;crecimiento y someterlo a criterio de la superioridad para la confección de&nbsp;la estrategia.&nbsp;</li>
        </ul>
        <ul>
          <li>Estructurar a la empresa en niveles jerárquicos acorde a los procesos que&nbsp;se lleven a cabo y a la misión, objetivos y metas de la organización.&nbsp;</li>
        </ul>
        <ul>
          <li>Planificar, organizar, dirigir y controlar toda operatividad de la empresa,&nbsp;centrando su actividad en el devenir económico, financiero, comercial,&nbsp;productivo y humano de la organización.&nbsp;</li>
        </ul>
        <ul>
          <li>Crear y mantener un sistema de comunicación que permita la&nbsp;administración y seguimiento de los distintos flujos de información de la&nbsp;empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Determinar perfiles, seleccionar, adiestrar y evaluar al recurso humano de&nbsp;la empresa.&nbsp;</li>
        </ul>
        <ul>
          <li>Preparar y estimar los movimientos de fondos, administrar los&nbsp;presupuestos de ventas, costos operativos y de caja, de organización.&nbsp;</li>
        </ul>
        <ul>
          <li>Evaluar técnica y económicamente los nuevos proyectos de inversión y&nbsp;velar por los niveles de rentabilidad de la cartera de negocios de la&nbsp;organización.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>