<ion-view title="Tec. Radiología y Terapia Radiante" id="page120">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/tpMMbpykQSytcFzLxGfj_TecenRadiologa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza: 183/02</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>El Técnico en Radiología y Terapia Radiante es un profesional idóneo que se desempeña en los servicios de radiología convencional, donde aplica las técnicas radiológicas correctas para lograr estudios de alta calidad diagnóstica por lo cual se constituye
        en un aliado imprescindible para el médico radiólogo. Asimismo, le compete el óptimo manejo y cuidado de todo el equipamiento que se encuentra en dicho servicio, así como el trato satisfactorio de los distintos tipos de pacientes que ingresan
        al mismo.</div>
      <div>&nbsp;</div>
      <div>El Técnico en Radiología y Terapia Radiante forma parte del equipo de salud y está capacitado para difundir y aplicar medidas preventivas ante enfermedades infectocontagiosas y en todo lo concerniente a la radio protección.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>
      </h4>
      <div>
        <p>* Aplicar por indicación médica y/u odontológica los métodos para la obtención de imágenes y registros utilizables en el área de radiología convencional.</p>
        <p>* Evaluar y juzgar la calidad de imágenes y registros resultantes de la aplicación de los métodos, técnicas y procedimientos convencionales.</p>
        <p>* Procesar y ordenar el material sensible utilizado en el área convencional del Servicio de Radiología.</p>
        <p>* Controlar las condiciones operativas del equipamiento convencional del Servicio de Radiología.</p>
        <p>* Seleccionar y controlar los insumos y sus especificaciones técnicas para el adecuado funcionamiento del Servicio de Radiología.</p>
        <p>* Supervisar la correcta utilización del equipo de Rayos X.</p>
        <p>* Colaborar en la implementación de criterios de radio protección y bioseguridad para la población ocupacional y no ocupacional.</p>
      </div>
    </div>
  </ion-content>
</ion-view>