<ion-view title="Tec. Subastador y Martillero Público" id="page137">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/F6zjsWyHSe6KIYyR829A_Tec.Subastador.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Perfil Profesional</span>
      </h4>
      <div>La Formación Académica del Técnico Universitario de Subastador y&nbsp;Martillero Público, graduado en la Universidad Nacional de La Rioja,&nbsp;estructura la apropiación del siguiente perfil, en términos de conocimientos,&nbsp;capacidades, habilidades
        y actitudes:</div>
      <div>
        <ul>
          <li>Poseerá una concepción amplia, humanística y ética de la actividad&nbsp;profesional, que integra el conocimiento científico de la realidad jurídica y&nbsp;económica con los valores morales.</li>
        </ul>
        <ul>
          <li>Dominará los procedimientos pragmáticos y funcionales para la&nbsp;resolución de los problemas patrimoniales más comunes derivados de las&nbsp;contrataciones entre las personas y de otras causas que los generen.</li>
        </ul>
        <ul>
          <li>Adquirirá conocimiento de las principales herramientas que utiliza la&nbsp;empresa y el empresario para desarrollar su actividad comercial.</li>
        </ul>
        <ul>
          <li>Poseerá un completo dominio de los programas informáticos básicos y de&nbsp;los específicos aplicables al ámbito jurídico y subastas.</li>
        </ul>
        <ul>
          <li>Tendrá conocimientos y desarrollará competencias relativas a los&nbsp;parámetros de valuación de los bienes susceptibles de ser subastados o&nbsp;disponibles para su venta o locación.</li>
        </ul>
        <ul>
          <li>Tendrá un efectivo dominio de los mecanismos del sistema registral&nbsp;inmobiliario y mobiliario.</li>
        </ul>
        <ul>
          <li>Conocerá y manejará las normas técnicas que regulan las tasaciones y&nbsp;valuaciones.</li>
        </ul>
        <ul>
          <li>Tendrá conocimiento de los entes administrativos y el alcance de los&nbsp;contratos con el Estado.</li>
        </ul>
        <ul>
          <li>Poseerá un conocimiento de los conceptos generales del marketing a fin&nbsp;de comprender los fenómenos de comercialización a partir de sus&nbsp;categorías teóricas básicas.</li>
        </ul>
        <ul>
          <li>Poseerá un completo dominio y manejo del procedimiento y la técnica de&nbsp;la subasta judicial y extrajudicial.</li>
        </ul>
        <ul>
          <li>Conocerá sobre el diseño y desarrollo y pautas eficaces de comunicación&nbsp;y promoción del mercado inmobiliario.&nbsp;</li>
        </ul>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Título</span>
      </h4>
      <div>&nbsp;</div>
      <div>El Título de Técnico Universitario de Subastador y Martillero Público,&nbsp;capacita y habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Actuar en remates públicos y privados, judiciales y de hacienda.</li>
        </ul>
        <ul>
          <li>Actuar en los negocios inmobiliarios intermediando entre la oferta y la&nbsp;demanda y concretando contratos.</li>
        </ul>
        <ul>
          <li>Realizar evaluaciones de bienes muebles e inmuebles en forma particular&nbsp;y judicial.</li>
        </ul>
        <ul>
          <li>Realizar la venta de todo tipo de bienes.</li>
        </ul>
        <ul>
          <li>Auxiliar a la justicia en los procedimientos de prevención y ejecución&nbsp;judiciales.</li>
        </ul>
        <ul>
          <li>Realizar gestiones administrativas dentro de las entidades&nbsp;gubernamentales que actúan en el sector relacionados con la subasta.</li>
        </ul>
        <ul>
          <li>Recabar los informes necesarios ante los organismos correspondientes&nbsp;para el cumplimiento de sus funciones.</li>
        </ul>
        <ul>
          <li>Requerir informes y realizar las actividades necesarias, accesorias o&nbsp;principales para llevar adelante los actos de remate o tasaciones.</li>
        </ul>
        <ul>
          <li>Efectuar ventas en remates particulares, oficiales y judiciales de cualquier&nbsp;tipo y naturaleza de bienes, incluyendo acciones y títulos no cotizables en&nbsp;bolsa, marcas y patentes, cuya enajenación no se halle prohibida por la ley.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>