<ion-view title="Tec. Técnico en Televisión Digital" id="page142">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/44eCxPm4R4WCCCQKu8NR_Tec.enTVDigital.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Ordenanza Nº 006/13</strong>
        </span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>PERFIL PROFESIONAL</u>
          </strong>
        </span>
      </h4>
      <p>La formación académica del técnico, graduado en la Universidad Nacional de La Rioja tendrá el siguiente perfil en términos de conocimientos, capacidades, habilidades y actitudes:&nbsp;</p>
      <ul>
        <li>Obtendrá una concepción amplia, humanística y ética de la actividad profesional, en el ámbito en el que se desempeñe.</li>
        <li>Poseerá los procedimientos pragmáticos y funcionales para la ejecución de proyectos comunicacionales de distintos contextos.</li>
        <li>Desarrollará un eficiente dominio de las herramientas que utiliza la empresa televisiva.</li>
        <li>Incorporará un completo dominio de los programas informáticos básicos y los específicos aplicables al ámbito de la producción digital.</li>
        <li>Tendrá conocimientos específicos relacionados con la realización de productos comunicacionales.</li>
        <li>Conocerá y aplicara las normas técnicas que regulan los medios audiovisuales.</li>
        <li>Poseerá un conocimiento completo de los conceptos generales del marketing a fin de generar campos de comercialización de productos audiovisuales.</li>
        <li>Estará formado para el diseño y desarrollo de pautas eficaces de comunicación y promoción del mercado audiovisual y televisivo.</li>
      </ul>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>ALCANCES DEL TITULO</u>
          </strong>
        </span>
      </h4>
      <p>&nbsp;El Técnico Universitario en Televisión Digital será un profesional capacitado y habilitado para:</p>
      <ul>
        <li>Actuar en empresas televisivas públicas o privadas en diferentes roles.</li>
        <li>Desempeñarse como productor independiente de diseños comunicacionales.</li>
        <li>Establecer diagnósticos de problemáticas comunicaciones relacionadas con su ámbito de actuación.</li>
        <li>Realizar la evaluación de situaciones que requieran la implementación de sistemas digitales de televisión.</li>
        <li>Asesorar en gestiones administrativas relacionadas con la ley de servicios de comunicación audiovisual.</li>
        <li>Planificar y ejecutar las actividades necesarias, accesorias o principales para concretar proyectos relacionados con la televisión digital.</li>
        <li>Asesorar en la implementación de nuevos campos operativos de la televisión digital.</li>
      </ul>
    </div>
  </ion-content>
</ion-view>