<ion-view title="Tec. Universitaria en Informática" id="page114">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/bdSsr8ntSsCwag1K4buy_Tecnicatura-Universitaria-en-Informtica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Perfil del Graduado</u>
          </strong>
        </span>
      </h4>
      <div>La computación, como rama de las Ciencias y Técnicas Informáticas,&nbsp;constituye una de las expresiones fundamentales de la modernidad,&nbsp;ocupando un espacio preponderante en la actividad económica de las&nbsp;empresas, organismos e instituciones
        de la más variada índole.&nbsp;</div>
      <div>&nbsp;</div>
      <div>El avance de la computación ha quedado signado por los profundos&nbsp;cambios políticos y sociales que produjeron y continúan produciendo las&nbsp;distintas fases de la revolución de las TIC’s. Su constante y pronunciado&nbsp;avance alcanza a todas
        las actividades humanas, desplegándose en&nbsp;dimensiones cada vez más complejas -sea compartiendo espacios reales o&nbsp;virtuales-, que requieren, por lo tanto del respaldo de mano de obra con alta&nbsp;capacitación tecnológica, una sólida
        perspectiva cultural y una adecuada&nbsp;percepción de las estrategias empresariales.&nbsp;</div>
      <div>&nbsp;</div>
      <div>Desde esta perspectiva, el Técnico en Computación deberá cubrir&nbsp;cinco grandes áreas del conocimiento:&nbsp;</div>
      <div>
        <ul>
          <li>
            <u>Sistemas y Entorno Social</u>: se incluyen los conocimientos, normas,&nbsp;experiencias y motivaciones que derivan en la buena integración de las&nbsp;unidades de informática en la sociedad. Abarca el conocimiento de las&nbsp;metodologías
            de planificación, relevamiento, síntesis, análisis,&nbsp;determinación de requisitos, diseño, desarrollo, implantación, evaluación y&nbsp;seguimiento.&nbsp;</li>
          <li>&nbsp;Hardware: Comprende el estudio de la teoría, técnicas y&nbsp;metodologías para comprender el funcionamiento de las computadoras, y&nbsp;su arquitectura interna.&nbsp;</li>
          <li>
            <u>Software de Base:</u>&nbsp;Abarca el estudio de la teoría, técnicas y&nbsp;metodologías para la elaboración de algoritmos computacionales; para la&nbsp;concepción, análisis, diseño, etc, de sistemas computacionales, y para la&nbsp;construcción
            y comprensión de las componentes básicas del software de un&nbsp;equipo de cómputo e Internet.&nbsp;</li>
          <li>
            <u>Software de Aplicación</u>: La lista de aplicaciones es prácticamente&nbsp;ilimitada por su extensibilidad constante. Se le brindan en esta sección&nbsp;herramientas teóricas y técnicas destinadas a aplicaciones de relevancia en&nbsp;el presente
            y en un futuro próximo (especialmente las vinculadas con el&nbsp;desarrollo de internet y sitios web).&nbsp;</li>
          <li>
            <u>Administración empresarial y estratégica</u>: Abarca los fundamentos&nbsp;de la Administración, la Evolución de los conceptos administrativos, la&nbsp;Organización empresarial, el Planea miento Estratégico, el Gerenciamiento,&nbsp;la Dirección
            y el liderazgo de los recursos humanos, el control de gestión,&nbsp;la competitividad y la calidad total.</li>
        </ul>
        <p>&nbsp;</p>
      </div>
      <h4>
        <span style="color: #ff6600;">
          <strong>
            <u>Alcances del Título</u>
          </strong>
        </span>
      </h4>
      <div>El titulo intermedio de Técnico Universitario en Informática,&nbsp;capacita y habilita para:</div>
      <div>
        <ol>
          <li>Operar computadoras personales, utilizando las siguientes herramientas:&nbsp;Sistemas Operativos, Planillas de Cálculo, Procesadores de Texto,&nbsp;Exploradores de Internet y Correo Electrónico.</li>
          <li>Utilizar aplicaciones basadas en entornos gráficos.</li>
          <li>Documentar tareas ejecutivas y/o directivas</li>
          <li>Realizar actividades de carga y control de datos en Sistemas&nbsp;Informáticos.</li>
          <li>Administrar tareas en entornos multimediales.</li>
          <li>Participar en la elaboración de programas de capacitación en operación&nbsp;de sistemas computacionales.</li>
          <li>Colaborar en la evaluación y selección desde el punto de vista de los&nbsp;sistemas de información, de los equipos de procesamiento y comunicación&nbsp;y de los sistemas de base.&nbsp;</li>
          <li>Entender, planificar, especificar, dirigir, realizar, mantener y controlar&nbsp;el proyecto y la implementación de Sistemas de información orientados&nbsp;hacia el procesamiento automático.</li>
        </ol>
      </div>
    </div>
  </ion-content>
</ion-view>