<ion-view title="Tec. Universitaria en Biogenética" id="page113">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/lqVsKQMROKsI7WnZAZhA_Tec.enBiogenetica.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">
          <u>Objetivos de la Carrera</u>
        </span>
      </h4>
      <div>La carrera de Tecnicatura Universitaria en Biogenética tiene como objetivo:&nbsp;</div>
      <div>
        <ul>
          <li>Formar personal idóneo en las técnicas y tecnologías de laboratorio empleadas a&nbsp;diario en los diversos liberatorios de Biogenética.</li>
        </ul>
        <ul>
          <li>Generar personal altamente capacitado para manejarse con soltura dentro del&nbsp;ámbito de cualquier laboratorio de Biogenética.</li>
        </ul>
        <ul>
          <li>Generar una opción confiable y de alto nivel académico para aquellas personas&nbsp;identificadas con la propuesta de esta carrera.&nbsp;</li>
        </ul>
        <ul>
          <li>Desarrollo e Innovación Tecnológica de Organizaciones que realicen estudios&nbsp;genéticos, bajo la supervisión del profesional a cargo.</li>
        </ul>
      </div>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>&nbsp;</h4>
      <div>El graduado de esta Tecnicatura será capaz de desempeñarse en la manipulación,&nbsp;procesamiento y control de muestras, técnicas e instrumental en laboratorios de &nbsp;Biogenética que realicen Investigación, Desarrollo e Innovación Tecnológica,
        bajo la&nbsp;supervisión del profesional a cargo.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <strong>Alcances de la&nbsp;Titulación</strong>
        </span>
      </h4>
      <div>El título de pre-grado de Técnico Universitario en Biogenética capacita y habilita para:&nbsp;</div>
      <div>
        <ul>
          <li>Colaborar en la organización, el control del material e instrumental en laboratorios&nbsp;de biogenética.</li>
        </ul>
        <ul>
          <li>Participar en la recepción, toma y control de muestras biológicas, para su posterior&nbsp;procesamiento.</li>
        </ul>
        <ul>
          <li>Realizar controles de proceso y desarrollo de las diversas técnicas empleadas,&nbsp;compatibles con los controles de calidad necesarios en cada laboratorio de biogenética.</li>
        </ul>
        <ul>
          <li>Organizar, implementar, ejecutar y controlar técnicas analíticas estandarizadas y&nbsp;específicas de laboratorios, bajo supervisión profesional.</li>
        </ul>
        <ul>
          <li>Efectuar controles estadísticos y colaborar en laboratorios en desarrollo.</li>
        </ul>
        <ul>
          <li>Integrar equipos de trabajo dedicados a la investigación, colaborando con todo los&nbsp;procesos técnicos necesarios para el proyecto.&nbsp;</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>