<ion-view title="Trad. en Lengua Inglesa" id="page156">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/w98Gf6IhQCKaymZSxuDl_Trad.enLenguaInglesa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza Nº 081/98</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial Nº 2088/98</span>
      </h4>
      <hr>
      <h4>
        <span style="color: #ff6600;">&nbsp;</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Perfil del Graduado</span>
      </h4>
      <div>El Traductor Público Nacional en Lengua Inglesa deberá tener dominio de la lengua nacional y de la lengua extranjera (Inglés) entendiéndose por “dominio de la lengua” su correcta comprensión en el nivel de lectura y su correcto empleo escrito.</div>
      <div>&nbsp;</div>
      <div>Estará dispuesto a perfeccionarse permanentemente en su ámbito profesional en función de las necesidades del medio en que se desenvuelva; volcando su experiencia en la investigación, en una actitud dialéctica constante entre la teoría y la práctica.</div>
      <div>&nbsp;</div>
      <div>Habrá desarrollado conciencia de la responsabilidad de ser fiel al contenido y al texto que traduzca, a la vez que será capaz de verter al otro idioma el registro idiomático del original.</div>
      <div>&nbsp;</div>
      <div>Podrá identificar y promover la conciencia sobre los contenidos culturales y socio-políticos que se expresan a través de conductas lingüísticas. Será capaz de reflexionar sobre el sentido de la función del traductor público y su proyección empática
        de la realidad de los pueblos cuyo idioma ha adquirido, sin desmedro de la valorización de la cultura nacional y latinoamericana y de su proyección en el ámbito universal. Podrá arribar a juicios autónomos sobre bases argumentales firmes, tanto
        en el área de su especialidad como en su condición de ciudadano. Habrá asumido una escala axiológica que priorice los valores éticos.</div>
      <div>&nbsp;</div>
      <div>Asimismo poseerá y fundamentará criterios propios de selección de técnicas y medios adecuados para el logro de los fines de la investigación.</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">Alcances del Titulo</span>
      </h4>
      <div>El Titulo de Traductor Público Nacional en Lengua Inglesa habilita para:</div>
      <div>&nbsp;</div>
      <div>
        <ul>
          <li>Realizar traducciones de textos y documentos que carácter público y privado del inglés al castellano y viceversa en los casos en que las disposiciones legales así lo establezcan o a petición de parte interesada.</li>
        </ul>
        <ul>
          <li>Actuar como intérprete del idioma en el cual posee título habilitante en los casos previstos por la ley.</li>
        </ul>
        <ul>
          <li>Participar en Centros de Investigación y Servicios de Terminología y Documentación.</li>
        </ul>
        <ul>
          <li>Actuar como revisor y asesor lingüístico de Ingles, a requerimiento de parte interesada, medios de comunicación social, bibliotecas, editoriales. asociaciones, agencias de publicidad, de turismo, etc.</li>
        </ul>
        <ul>
          <li>Desempeñar su profesión en instituciones públicas: tribunales, ministerios, juzgados, etc. y en empresas privadas que requieran traducciones comerciales o técnicas, como asimismo en agencias noticiosas, congresos, reuniones, simposios, conferencias,
            etc.</li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>