<ion-view title="Veterinaria" id="page166">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <strong>
          <span style="color: #ff6600;">PLAN DE ESTUDIOS</span>
        </strong>
      </h4>
      <hr>
      <p>&nbsp;</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/d49xzg73QFecPyVZe2l0_Veterinaria.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <h4>
        <span style="color: #ff6600;">Ordenanza N° 404/2010</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución Ministerial N° 2018-1998-APN-ME</span>
      </h4>
      <h4>
        <span style="color: #ff6600;">Resolución de Acreditación N° 316/10</span>
      </h4>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Perfil del Graduado</u>
        </span>
      </h4>
      <div>El Perfil del Graduado de la carrera de Veterinaria se define por los conocimientos adquiridos en las distintas áreas de Formación: básica, superior y general, en el orden de intervenir en aspectos científicos y tecnológicos con competencias e idoneidad
        en el análisis, comprensión y resolución de problemas vinculados a los campos de la salud, el bienestar y la producción de especies animales terrestres y acuícola, en la salud pública, en la protección, calidad y tecnología de los alimentos y
        en la preservación del ambiente.</div>
      <div>&nbsp;</div>
      <div>Determinando además, las aptitudes para integrar, planificar, gestionar, investigar, desarrollar y transferir acciones en los campos señalados, teniendo como objetivo el promover la salud y calidad de vida de los animales y del hombre, y una producción
        eficiente en el marco del desarrollo sustentable.</div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Alcances del Título</u>
        </span>&nbsp;</h4>
      <div>El Veterinario resulta competente para:&nbsp;</div>
      <div>
        <ol>
          <li>Efectuar Prevención, Diagnóstico, Prescripción Terapéutica, y Tratamiento de las enfermedades de los animales y certificar el estado de salud y enfermedad de los mismos.</li>
          <li>Realizar, Interpretar y Certificar Análisis Microbiológicos, Parasitológicos, Biológicos, Químicos y Físicos, Imagenológicos y Técnicas de Laboratorio destinados al Diagnóstico, Prevención y Tratamiento de las enfermedades de los animales.</li>
          <li>Formular y Elaborar específicos farmacéuticos y preparados biológicos, sueros, vacunas, opoterápicos y aplicar biotecnologías y reactivos biológicos y no biológicos, destinados al diagnóstico, prevención y tratamiento de las enfermedades de
            los animales y certificar la calidad de los mismos.</li>
          <li>Controlar y efectuar la distribución y el expendio de zooterápicos y demás productos de uso en medicina veterinaria.</li>
          <li>Ejercer la Dirección Técnica de Laboratorios destinados a la elaboración de productos, sustancias medicinales, diagnósticos, sueros, vacunas u otros productos biológicos, opoterápicos o similares para uso veterinario.</li>
          <li>Organizar, Dirigir y Asesorar establecimientos destinados a la prevención, diagnóstico y tratamiento de enfermedades de los animales, incluidas las que afecten a la población humana (zoonosis).</li>
          <li>Planificar, Organizar, Dirigir, Ejecutar y Certificar acciones sanitarias destinadas a la prevención, control y erradicación de las enfermedades de las distintas especies animales.</li>
          <li>Ejercer la dirección de los Servicios Veterinarios de establecimientos que realicen competencias deportivas con animales y toda concentración de animales con diversos fines.</li>
          <li>Certificar el estado de salud, enfermedad y aptitudes de los animales sometidos a la experimentación o utilizados en la elaboración de específicos farmacéuticos y preparados biológicos destinados a la medicina animal y humana.</li>
          <li>Intervenir en la elaboración de normas relacionadas con la aprobación, transporte, almacenamiento, manipulación, comercialización y uso de específicos farmacéuticos y preparados biológicos para uso veterinario.</li>
        </ol>
      </div>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #ff6600;">
          <u>Medicina Preventiva, Salud Pública y Bromatología</u>
        </span>
      </h4>
      <div>
        <ol>
          <li>Investigar y desarrollar reactivos y preparados biológicos de origen animal aplicables en seres humanos.</li>
          <li>Planificar, organizar, dirigir y asesorar acerca de la cría y producción de animales de experimentación.</li>
          <li>Planificar, organizar, ejecutar, evaluar y certificar acciones destinadas a la prevención, control y erradicación de plagas, vectores y enfermedades de los animales que afectan a los animales y al hombre.</li>
          <li>Planificar, dirigir, ejecutar, evaluar y certificar acciones sanitarias y estudios epidemiológicos destinados a la prevención, control y erradicación de las enfermedades transmisibles por los alimentos (E.T.As).</li>
          <li>Ejercer la dirección de servicios veterinarios de control y prevención de las zoonosis.</li>
          <li>Asesorar en la elaboración de las normas referidas a las condiciones higiénico – sanitarias de la producción animal y de las actividades involucradas en la producción y distribución de productos y alimentos.</li>
          <li>Participar en el diseño, aplicación, auditoría y certificación de sistemas de inocuidad y de aseguramiento de la calidad de los alimentos.</li>
          <li>Efectuar el control higiénico-sanitario de las especies animales, sus productos, subproductos y derivados para consumo y uso humano e industrial.</li>
          <li>Efectuar y certificar el control higiénico-sanitario, análisis y controles bromatológicos y de identificación comercial de la elaboración, procesamiento, transformación, conservación, transporte y expendio de alimentos.</li>
          <li>Organizar, dirigir y asesorar en el control de residuos y deshechos de origen biológico con el objeto de evitar la contaminación ambiental, y lograr su reutilización.</li>
          <li>Realizar estudios, investigaciones y asesoramiento relativos a la vida animal, en estado de salud y enfermedad, a la zoonosis y a las enfermedades compartidas con el hombre, al mejoramiento de la producción animal y al control de las condiciones
            higiénico-sanitarias de dicha producción y de los productos y subproductos de origen animal.</li>
          <li>Certificar las condiciones higiénico-sanitarias, bromatológicas y de identificación comercial de los alimentos y de los establecimientos destinados a la elaboración, procesamiento, transformación, conservación y expendio de alimentos.</li>
          <li>Asesorar, realizar y controlar la formulación de productos alimenticios en lo relativo a la composición, elaboración, conservación, valor nutritivo, calidad y sanidad de los mismos.</li>
        </ol>
      </div>
      <div>&nbsp;</div>
      <h4>
        <span style="color: #ff6600;">
          <u>Producción Animal</u>
        </span>
      </h4>
      <div>
        <ol>
          <li>Investigar, desarrollar y aplicar biotecnologías para la reproducción y conservación de las especies animales.</li>
          <li>Planificar, organizar, dirigir, asesorar, controlar y certificar la producción animal en todas sus etapas y las tecnologías aplicadas.</li>
          <li>Elaborar, aplicar y evaluar normas y criterios para la identificación, clasificación y tipificación de los animales y sus productos.</li>
          <li>Planificar, organizar, dirigir, controlar y certificar datos trazables en explotaciones animales.</li>
          <li>Evaluar la aptitud clínica, sanitaria y zootécnica de animales, a los efectos de determinar la pertenencia de su admisión a concentraciones de animales realizadas con distintos fines para la importación y exportación.</li>
          <li>Efectuar estudios e investigaciones para el mejoramiento zootécnico de las distintas especies animales.</li>
          <li>Formular, elaborar y evaluar alimentos para consumo animal.</li>
          <li>Organizar, dirigir y asesorar establecimientos de producción, cría y explotación de especies de la fauna silvestre.</li>
          <li>Ejercer la Dirección de Estaciones Zootécnicas, de Inseminación Artificial y de Genética Animal.</li>
          <li>Participar en la planificación, organización y evaluación de la utilización de recursos forrajeros en función de la producción animal.</li>
          <li>Intervenir en la confección de catastros de recursos naturales de origen animal.</li>
          <li>Planificar, organizar, ejecutar y evaluar la prevención y control de los factores bióticos y abióticos que afectan la producción pecuaria.</li>
          <li>Asesorar en el diseño de las instalaciones rurales, máquinas y herramientas destinadas a la producción pecuaria.</li>
          <li>Participar en la identificación, formulación, ejecución y evaluación de proyectos de inversión, desarrollo rural y productivos.</li>
          <li>Participar en la planificación, organización, ejecución y evaluación de políticas rurales, y programas de desarrollo rural.</li>
          <li>Participar en la planificación, organización y evaluación de acciones relativas al manejo de praderas y pastizales para alimentación animal. Otras</li>
          <li>Planificar, organizar y dirigir jardines zoológicos y reservas de fauna autóctona y exótica.</li>
          <li>Participar en la elaboración de normas relativas a la protección y bienestar animal.</li>
          <li>Realizar arbitrajes y peritajes en todo lo referido a la profesión veterinaria y en el ámbito agropecuario.</li>
          <li>Participar en estudios orientados a la evaluación de las consecuencias que puedan provocar fenómenos naturales sobre la producción pecuaria.</li>
        </ol>
      </div>
    </div>
  </ion-content>
</ion-view>