<ion-view title="Villa Unión" id="page92">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/4pWiXQrQvGAi7jnCEwaQ_villa-union-01.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="villaUniN-list31">
      <ion-item class="item-icon-left dark" id="villaUniN-list-item274" ui-sref="gUAUNLaR.ingAgroindustrial()">
        <i class="icon ion-university"></i>Ing. Agroindustrial</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item275" ui-sref="gUAUNLaR.licEnHidrogeologA()">
        <i class="icon ion-university"></i>Lic. en Hidrogeología</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item277" ui-sref="gUAUNLaR.licEnProducciNVegetal()">
        <i class="icon ion-university"></i>Lic. en Producción Vegetal</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item273" ui-sref="gUAUNLaR.licEnTurismoEcolGico()">
        <i class="icon ion-university"></i>Lic. en Turismo Ecológico</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item133" ui-sref="gUAUNLaR.licEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Lic. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item140" ui-sref="gUAUNLaR.contadorPBlico()">
        <i class="icon ion-university"></i>Contador Publico</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item134" ui-sref="gUAUNLaR.profEnCienciasDeLaEducaciN()">
        <i class="icon ion-university"></i>Prof. en Ciencias de la Educación</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item276" ui-sref="gUAUNLaR.profDeEducaciNFSica()">
        <i class="icon ion-university"></i>Prof. en Educación Física</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item278" ui-sref="gUAUNLaR.profDeMatemTica()">
        <i class="icon ion-university"></i>Prof. en Matemática</ion-item>
      <ion-item class="item-icon-left dark" id="villaUniN-list-item280" ui-sref="gUAUNLaR.tecUniversitariaEnInformTica()">
        <i class="icon ion-university"></i>Tec. en Informática</ion-item>
    </ion-list>
  </ion-content>
</ion-view>